{% extends "layout.html" %}

{% block pageTitle %}
  Publish to the course directory
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessibility Statement</h1>

        <p class="govuk-body">This accessibility statement applies to Publish to the course directory, part of the
            National Careers Service.</p>

          <p class="govuk-body">Publish to the course directory is run by the National Careers Service, part of the
            Education and Skills Funding Agency (ESFA). We want as many people as possible
            to be able to use this website. For example, that means you will be able to:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>zoom in more than 200% without problems</li>
              <li>navigate the website using just a keyboard</li>
              <li>navigate the website using speech recognition software</li>
              <li>listen to the website using a screen reader (including the most recent versions
                  of JAWS and NVDA)</li>
            </ul>

            <p class="govuk-body">It is designed to be used by as many people as possible. The text should be clear
              and simple to understand.</p>

            <h2 class="govuk-heading-m">How accessible this website is</h2>

            <p class="govuk-body">Parts of the website aren’t fully accessible:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the links on the Course page are not unique and need to be updated to
                  reference each individual course</li>
              <li>the ‘Continue’ button on the Apprenticeships page needs to be changed so it is
                  programmed as a button and not a link.</li>
            </ul>

            <h2 class="govuk-heading-m">Feedback and Contact Information</h2>

            <p class="govuk-body">If you need help using this website, you can <a class="govuk-link" href="mailto:support@coursedirectory.org.uk">contact us</a> and our support team will get
              back to you.</p>

              <p class="govuk-body">The following information will help us to deal promptly with your enquiry:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>the web address (url) of the page you want help with</li>
                <li>the type of help you need</li>
                <li>your name and email address</li>
              </ul>

              <p class="govuk-body">We're open from 9am to 5pm Monday to Friday.</p>

              <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>

              <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any
                problems that aren’t listed on this page or think we’re not meeting the requirements
                of the accessibility regulations, <a class="govuk-link" href="mailto:support@coursedirectory.org.uk">contact us</a> with the details.</p>

              <h2 class="govuk-heading-m">Enforcement procedure</h2>

              <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
                accessibility regulations. If you’re not happy with how we respond to your complaint,
                contact the <a href="https://www.equalityadvisoryservice.com/"> Equality Advisory and Support Service (EASS)</a>.</p>

              <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>

              <p class="govuk-body">The National Careers Service is committed to making its website accessible, in
                accordance with the Public Sector Bodies (Websites and Mobile Applications) (No.
                2) Accessibility Regulations 2018.</p>

              <h2 class="govuk-heading-m">Compliance Status</h2>

              <p class="govuk-body">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines
                  version 2.1</a>  AA standard, due to the non-compliances listed below.</p>

              <h2 class="govuk-heading-m">Non Accessible Content</h2>

              <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

              <h2 class="govuk-heading-m">Non Compliance with the accessibility regulations</h2>

              <p class="govuk-body">The links on the Course page are not unique and need to be updated to reference
                each individual course.</p>
              <p class="govuk-body">  The ‘Continue’ button on the Apprenticeships page needs to be changed so it is
                programmed as a button and not a link.</p>

              <p class="govuk-body">We plan to improve these by October 2021. When we publish new content we’ll
                make sure our use of images meets accessibility standards.</p>

              <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

              <p class="govuk-body">This statement was prepared on 8th July 2021. It was last reviewed on 8th July 2021.</p>

              <p class="govuk-body">This website was last tested on 7th July 2021. The test was carried out by
                Technology Services: End User Computing within the Department for Education.
                The pages chosen were based on the majority of pages used by our providers to add
                course, apprenticeship or T Level information.</p>

      </div>
    </div>

  </main>
</div>

<!-- <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#2">
              Cookies
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#2">
              Accessibility Statement
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#3">
              Terms and Conditions
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#3">
              Privacy Notice
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#3">
              Terms and Conditions
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#3">
              Contact us
            </a>
          </li>
        </ul>

        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer> -->

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
