{% extends "layout.html" %}

{% block pageTitle %}
Edit QA status
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Quality assurance
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              Search providers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Manage users
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="../migration/migration-report">
              Migration reports
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %} {% block beforeContent %}

<!-- {{ govukBackLink({
text: "Back",
href: "providers-qa.html"
}) }} -->

{% endblock %} {% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-9">
    <div class="govuk-form-group govuk-!-margin-bottom-6">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Quality assurance status
          </h1>
        </legend>
        <span id="changed-name-hint" class="govuk-hint">
          Edit the provider status.
        </span>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input hide1" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Able to complete
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input show1" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Unable to complete
            </label>
          </div>
        </div>
      </fieldset>
    </div>


    <!-- unable to compete start -->

    <div class="govuk-form-group show-hide-section-1 notshown">


  <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">

    <span id="citizenship-conditional-hint" class="govuk-hint">
      Select all options that are relevant to you.
    </span>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">

      <div class="govuk-checkboxes__item govuk-checkboxes--small">
        <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
          Provider developing provision
        </label>
      </div>

      <div class="govuk-checkboxes__item govuk-checkboxes--small">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
          Provider has withdrawn application
        </label>
      </div>

      <div class="govuk-checkboxes__item govuk-checkboxes--small">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
          Provider has applied to the wrong route
        </label>
      </div>


      <div class="govuk-checkboxes__item govuk-checkboxes--small">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-3">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
          Standard not ready
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-text">
            Standard name
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>

      <div class="govuk-checkboxes__item govuk-checkboxes--small">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-4" name="citizen" type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-4">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-4">
          Other
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-4">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-text">
            Comments
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>

    </div>
  </fieldset>




    </div>
      <!-- unable to complete end -->
    </div>

    <a href="provider-selected">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </a>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items cd-aside-panel" role="complementary">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-6" id="subsection-title">
      Basingstoke ITEC
    </h3>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0" id="subsection-title">
        UKPRN
      </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li>10000651</li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0" id="subsection-title">
        Address
      </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li>3-4 Woodlands Business Villa</li>
        <li>Coronation Road</li>
        <li>Basingstoke</li>
        <li>RG21 4JX</li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Web
      </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li><a href="#">www.yourweb.com</a></li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Contact name
      </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li>John Smith</li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Email
        </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li><a href="#">email@yourweb.com</a></li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              Telephone
          </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li>01234567899</li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0" id="subsection-title">
        Last signed in
      </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li>sarah@youremail.com</li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Date
      </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li>17 May 2019</li>
      </ul>
    </aside>

    <aside class="app-related-items cd-aside-panel govuk-heading-s govuk-!-margin-top-6" style="border-top:none;" role="complementary">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0" id="subsection-title">
        Quality assured by
      </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li>sarah@youremail.com</li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
          Date
      </h3>
      <ul class="govuk-list aside-list govuk-!-font-size-16">
        <li>25 May 2019</li>
      </ul>
    </aside>

  </div>
</div>
<!-- end of main content -->


</div>
<!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
