{% extends "layout.html" %}

{% block pageTitle %}
  Helpdesk dashboard
{% endblock %}

{% block header %}

  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="providers-qa">
              Quality assurance
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              Search providers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Manage users
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-column-one-half" style="padding-left: 0;">

        <div class="cd-card">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Quality assurance</h2>
          <p>New provider and apprenticeship training courses. </p>
            <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">QA submissions</a></p>
        </div>
      </div>

      <!-- <div class="govuk-grid-column-one-half cd-homepage__item">

        <div class="cd-migration-panel">
          <h2 class="govuk-heading-s">Add new providers</h2>
          <p>To add new providers you will need.....[details of this process will be provided by James, for Tribal to action]</p>
          <span class="cd-migration-panel__number" style="font-weight: normal;">
            <a href="#" class="govuk-link">Add new providers using a csv</a>
          </span>
          <br>
          <br>
        </div>
      </div> -->
    </div>
  </div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
