{% extends "layout.html" %}

{% block pageTitle %}
Check apprenticeship
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Manage QA
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              Search providers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Manage users
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Review</h1>

      <h2 class="govuk-heading-l">Provider details</h2>

      <!-- <h2 class="govuk-heading-m">Compliance</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row" >
          <dt class="govuk-summary-list__key" style="border-bottom:none;">
            Information for employers
          </dt>
          <dd class="govuk-summary-list__value" style="border-bottom:none;">
            Fail
          </dd>
          <dd class="govuk-summary-list__actions" style="border-bottom:none;">
            <a href="apprenticeship-training-combined">
              Change
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Locations
          </dt>
          <dd class="govuk-summary-list__value">
            Pass
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="apprenticeship-training-combined">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl> -->

      <!-- <h2 class="govuk-heading-m">Style</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Information for employer
          </dt>
          <dd class="govuk-summary-list__value">
            Fail
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="apprenticeship-training-combined">
              Change
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Web address
          </dt>
          <dd class="govuk-summary-list__value">
            Pass
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="apprenticeship-training-combined">
              Change
            </a>
          </dd>
        </div>
      </dl> -->


      <!-- new layout starts -->

      <h2 class="govuk-heading-m">Information for employer</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Compliance
          </dt>
          <dd class="govuk-summary-list__value">
            Fail
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="apprenticeship-training-combined">
              Change
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Style
          </dt>
          <dd class="govuk-summary-list__value">
            Pass
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="apprenticeship-training-combined">
              Change
            </a>
          </dd>
        </div>
      </dl>

      <!-- new layout ends -->

      <div class="govuk-inset-text govuk-!-margin-bottom-9 cd-inset-info">
        <p>This apprenticeship training course has <b>FAILED</b> quality assurance.</p>
      </div>

      <!-- <h2 class="govuk-heading-m">Mark as complete</h2>

      <p>In qui tempor consequat exercitation minim minim ad exercitation.</p> -->

      <form action="provider-selected-interim" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>
  </div>
<!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
