{% extends "layout.html" %}

{% block pageTitle %}
QA Confirmation
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Quality assurance
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              Search providers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Manage users
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="../migration/migration-report">
              Migration reports
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Quality assurance complete</h1>
      <div class="govuk-panel__body">
        Provider<br><strong>Basingstoke ITEC</strong>
      </div>
    </div>
    <p>You will need to email the provider with the results of their quality assurance.</p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p>If the provider has passed quality assurance:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give feedback (if relevant) on the style and compliance of the provider information and apprenticeship training course information.
        <li>advise the provider to add all apprenticeship training courses to Publish to the course directory.</li>
        </ul>
        <ul class="govuk-list govuk">
      <p>If the provider has failed quality assurance:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>tell the provider the reasons why they have failed quality assurance.
          <li>give feedback (if relevant) on the style and
            compliance of the provider information and apprenticeship training course information.</li>
      <li>inform the provider that once they have made the necessary changes they can resubmit for QA.
        </ul>
    </ul>
<p></p>
  <p> <a class="govuk-link" href="helpdesk-dashboard">Return to home screen</a> </p>
  <p><a class="govuk-link" href="providers-qa">QA another provider</a> </p>




  </div>
</div>
<!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
