{% extends "layout.html" %}

{% block pageTitle %}
Reports accordian table
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<!-- {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Publish to the course directory",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Home",
        active: true
      },
      {
        href: "#2",
        text: "Apprenticeship training"
      },
      {
        href: "#2",
        text: "Courses"
      },
      {
        href: "#2",
        text: "Manage locations"
      }
    ]
  }) }} -->



<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Manage QA
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              Search providers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Manage users
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="reports-tabs-select">
              Reports
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
<!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->

<!-- {{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "helpdesk-dashboard.html"
}) }} -->

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Helpdesk dashboad</span>
    <h1 class="govuk-heading-xl">
        Choose and Download a report
      </h1>

      <!-- accordian start -->
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Report type A
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <table class="govuk-table govuk-!-margin-bottom-1">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-A-Jun-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-A-May-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-A-Apr-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-A-Mar-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Report type B
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

      <table class="govuk-table govuk-!-margin-bottom-1">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-B-Jun-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-B-May-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-B-Apr-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-B-Mar-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Report type C
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

      <table class="govuk-table govuk-!-margin-bottom-1">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-A-Jun-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-A-May-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-A-Apr-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold border-bottom-none">Report-A-Mar-2019.csv</td>
            <td class="govuk-table__cell govuk-table__cell--numeric border-bottom-none"><a href="#">Download</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

      <!-- accordian end -->


  </div>
  <!-- End of content -->
  {% endblock %}

  <!-- DO NOT enter page content after the above block -->
