{% extends "layout.html" %}

{% block pageTitle %}
Reports tabs select
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
<!-- {{ govukHeader() }} -->
<!-- {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Publish to the course directory",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Home",
        active: true
      },
      {
        href: "#2",
        text: "Apprenticeship training"
      },
      {
        href: "#2",
        text: "Courses"
      },
      {
        href: "#2",
        text: "Manage locations"
      }
    ]
  }) }} -->



<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Manage QA
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              Search providers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#3">
              Mangage users
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="tribal-qa/reports-tabs-select">
              Reports
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#4">
              FE migration
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#4">
              Apprenticeship migration
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
<!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->

{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "helpdesk-dashboard.html"
}) }}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Helpdesk dashboad</span>
    <h1 class="govuk-heading-xl">
        Choose and download a report
      </h1>

    <!-- tabs start -->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
    Contents
  </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#report-a">
        Report type A
      </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#report-b">
        Report type B
      </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#report-c">
        Report type C
      </a>
        </li>
      </ul>
      <section class="govuk-tabs__panel" id="report-a">
        <h2 class="govuk-heading-l">Report type A</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Select a report
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="published" selected>Report A Jun 2019</option>
            <option value="updated">Report A May 2019</option>
            <option value="views">Report A Apr 2019</option>
            <option value="comments">Report A Mar 2019</option>
          </select>
        </div>
        <a href="#">
          <button class="govuk-button" data-module="govuk-button">
            Download .csv
          </button>
        </a>
      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="report-b">
        <h2 class="govuk-heading-l">Report type B</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Select a report
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="published" selected>Report B Jun 2019</option>
            <option value="updated">Report B May 2019</option>
            <option value="views">Report B Apr 2019</option>
            <option value="comments">Report B Mar 2019</option>
          </select>
        </div>
        <a href="#">
          <button class="govuk-button" data-module="govuk-button">
            Download .csv
          </button>
        </a>

      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="report-c">
        <h2 class="govuk-heading-l">Report type C</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Select a report
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="published" selected>Report C Jun 2019</option>
            <option value="updated">Report C May 2019</option>
            <option value="views">Report C Apr 2019</option>
            <option value="comments">Report C Mar 2019</option>
          </select>
        </div>
        <a href="#">
          <button class="govuk-button" data-module="govuk-button">
            Download .csv
          </button>
        </a>

      </section>
    </div>
    <!-- tabs end -->
  </div>
  <!-- End of content -->
  {% endblock %}

  <!-- DO NOT enter page content after the above block -->
