{% extends "layout.html" %}

{% block pageTitle %}
  Prototype template
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  <!-- {{ govukHeader() }} -->
  <!-- {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Publish to the course directory",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Home",
        active: true
      },
      {
        href: "#2",
        text: "Apprenticeship training"
      },
      {
        href: "#2",
        text: "Courses"
      },
      {
        href: "#2",
        text: "Manage locations"
      }
    ]
  }) }} -->



  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Manage QA
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="search-providers.html">
              Search providers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#3">
              Mangage users
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#4">
              Reports
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#4">
              FE migration
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#4">
              Apprenticeship migration
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

<!-- {{ govukBackLink({
  text: "Back",
  href: "providers-qa.html"
}) }} -->

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!-- <span class="govuk-caption-xl">Helpdesk dashboad</span> -->
      <h1 class="govuk-heading-xl">
        Search providers
      </h1>

      <!-- search start -->

      <!-- <div class="bottom search-container govuk-!-margin-bottom-6" style="width: 70%;">
        <form role="search" method="get" id="searchform" class="form-search" action="search-providers-return.html">
          <label class="govuk-label" for="event-name">
            Search by PRN, name or address
          </label>
          <label class="visuallyhidden" for="s">Search for:</label>
          <div class="search-input-wrapper">
            <input type="search" value="" name="s" id="s" class="search-query cd-search" placeholder="Search">

            <input type="submit" id="searchsubmit" value="Search" class="btn pointer">
          </div>
        </form>
      </div> -->

      <div class="bottom search-container govuk-!-margin-bottom-6" style="width: 70%;">
        <form role="search" method="post" id="searchform" class="form form-search" action="search-providers-return">
          <label class="govuk-label" for="event-name">
            Search by PRN, name or address
          </label>
          <div class="search-input-wrapper">
            <input type="search" value="{{ data['vehicle-registration'] }}" name="vehicle-registration" id="registration-number" class="search-query cd-search" placeholder="Search" type="text">

            <input type="submit" id="searchsubmit" value="Search" class="btn pointer">
          </div>
        </form>
      </div>

      <!-- search end -->

      <!-- results start -->

      <!-- <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">UKPRN</th>
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Town/city</th>
            <th scope="col" class="govuk-table__header">Postcode</th>
            <th scope="col" class="govuk-table__header">UKPRN status</th>
            <th scope="col" class="govuk-table__header">CD status</th>
            <th scope="col" class="govuk-table__header">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">10000651</td>
            <td class="govuk-table__cell">BASINGSTOKE ITEC LIMITED</td>
            <td class="govuk-table__cell">Basingstoke</td>
            <td class="govuk-table__cell">RG21 4JX</td>
            <td class="govuk-table__cell">Active</td>
            <td class="govuk-table__cell">Onboarded</td>
            <td class="govuk-table__cell"><a href="#">View dashboard</a></td>
          </tr>
        </tbody>
      </table> -->
      <!-- results end -->
  </div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
