{% set navActive = 'locations' %}
{% extends "layouts/layout-sprint20.html" %}

{% block pageTitle %}
  Locations - Delete location
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}


{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Delete location</h1>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location name
        </dt>
        <dd class="govuk-summary-list__value">
          Presidency London College
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          591-593 Harrow Road<br>
          London
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postcode
        </dt>
        <dd class="govuk-summary-list__value">
          W10 4RA
        </dd>
      </div>
    </dl>
<!--
    {{ govukWarningText({
      text: "Are you sure?",
      iconFallbackText: "Warning"
    }) }}
-->
    <!--form action="" method="post" novalidate>

      {{ govukRadios({
        idPrefix: "location-delete-sure",
        name: "location-delete-sure",
        fieldset: {
          legend: {
            text: "Please select",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes, Delete",
            text: "Yes, Delete"
          },
          {
            value: "No, go back",
            text: "No, go back"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Confirm"
      }) }}

    </form-->

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Are you sure?
          </h2>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="areyousure" name="areyousure" type="checkbox" value="delete">
            <label class="govuk-label govuk-checkboxes__label" for="areyousure">
              Yes, I want to delete this location
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <form action="" method="post">

      {{ govukButton({
        text: "Delete location",
        disabled: true,
        classes: "govuk-button--warning govuk-!-margin-right-5"
      }) }}

      {{ govukButton({
        href: "/" + version + "/venues",
        text: "Cancel",
        classes: "govuk-button--secondary"
      }) }}

    </form>

  </div>
</div>

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->

{% block pageScripts %}

	<script>
    $( "#areyousure" ).on( "change", function() {
      var $this = $(".govuk-button--warning");
      if ($this.hasClass('govuk-button--disabled')) {
        $this.removeAttr('disabled');
        $this.removeClass('govuk-button--disabled');
      } else {
        $this.attr('disabled', 'disabled');
        $this.addClass('govuk-button--disabled');
      }
    });
  </script>

{% endblock %}