{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm5.html" %}

{% block pageTitle %}
  Data Upload - Resolve errors in venue data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
    text: "Back to Data Upload",
    href: "/" + version + "/data-upload/"
  }) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Resolve errors in your venue data</h1>

    <p class="govuk-body"><a href="https://dfc-providerportal-prototypes.herokuapp.com/dm5/data-upload/venues/resolve/index2" class="govuk-link" rel="noreferrer noopener" target="_blank">  View new layout (opens in new tab)</a>

    <p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Row</th>
          <th scope="col" class="govuk-table__header">Your venue reference</th>
          <th scope="col" class="govuk-table__header">Venue name</th>
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header">Error(s)</th>
          <th scope="col" colspan="2" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        {% set i = 0 %}
        {% for venues in data['dm5venues'] %}
          {% set i = i + 1 %}

          {% if
              (venues.ID == "") or
              (venues.NAME == "") or
              (venues.ADDRESS == "") or
              (venues.POSTCODE == "")
          %}
              <tr class="govuk-table__row"
                {% if data['dm5venues-deleted'] %}
                  {% if i in data['dm5venues-deleted'] %}
                   style="display: none"
                  {% endif %}
                {% endif %}
                {% if data['dm5venues-resolved'] %}
                  {% if i in data['dm5venues-resolved'] %}
                   style="display: none"
                  {% endif %}
                {% endif %}
              >
                <td scope="row" class="govuk-table__cell govuk-body-s">{{ i }}</td>
                <td scope="row" class="govuk-table__cell govuk-body-s">
                  {% if venues.ID %}
                    {{ venues.ID }}
                  {% else %}
                    <span style="color: #d4351c;">Error</span>
                  {% endif %}
                </td>
                <td scope="row" class="govuk-table__cell govuk-body-s">
                  {% if venues.NAME %}
                    {{ venues.NAME }}
                  {% else %}
                    <span style="color: #d4351c;">Error</span>
                  {% endif %}
                </td>
                <td scope="row" class="govuk-table__cell govuk-body-s">
                  {% if venues.ADDRESS1 %}
                    {{ venues.ADDRESS1 }}{% if venues.ADDRESS2 %}, {% endif %}
                    {{ venues.ADDRESS2 }}{% if venues.TOWNCITY %}, {% endif %}
                    {{ venues.TOWNCITY }}{% if venues.COUNTY %}, {% endif %}
                    {{ venues.COUNTY }}
                  {% else %}
                    <span style="color: #d4351c;">Error</span>
                  {% endif %}
                </td>
                <td scope="row" class="govuk-table__cell govuk-body-s">
                  {% if venues.POSTCODE %}
                    {{ venues.POSTCODE }}
                  {% else %}
                    <span style="color: #d4351c;">Error</span>
                  {% endif %}
                </td>
                <td scope="row" class="govuk-table__cell govuk-body-s">
                  <a href="/{{version}}/data-upload/venues/resolve/showvenue?row={{ i }}" class="govuk-link">Resolve</a>
                </td>
                <td scope="row" class="govuk-table__cell govuk-body-s">
                  <a href="/{{version}}/data-upload/venues/resolve/delete?row={{ i }}" class="govuk-link">Delete</a>
                </td>
              </tr>
          {% endif %}
        {% endfor %}

      </tbody>
    </table>
<!--
    {{ govukButton({
      classes: "govuk-button govuk-button--secondary",
        href: "/" + version + "/data-upload/",
      text: "Cancel"
    }) }}
-->
  </div>
</div>

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
