{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm5.html" %}

{% block pageTitle %}
  Data Upload - Upload venue data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "/" + version + "/data-upload/venues"
  }) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Upload your venue data</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">
      You can upload a CSV file to update your data in Publish to the course directory.
    <p>

    <p class="govuk-body">To ensure an upload is successful you must:<p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
      <li>include existing and new venues in the data file</li>
      <li>include <a href="/{{version}}/data-upload/venues/formatting" class="govuk-link"> a venue reference</a> for each venue</li>
      <li>follow the <a href="/{{version}}/data-upload/venues/formatting" class="govuk-link"> file format requirements</a>
    </ul>

<p class="govuk-body">Upload a file<p>

    {% if data['dm5venues-errorcount'] %}
      {{ govukWarningText({
        classes: "govuk-!-margin-bottom-7",
        text: "Uploading a new venue data file will delete your unpublished venues",
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

    {{ govukFileUpload({
      id: "venue-data-upload",
      name: "venue-data-upload"
    }) }}

    {{ govukButton({
      href: "/" + version + "/data-upload/venues/inprogress",
      text: "Continue"
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Data file downloads
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a href="javascript:peverntDefault();" class="govuk-link govuk-link--blocked">Download your published venue data (CSV)</a>
          </li>
          <li>
            <a href="javascript:peverntDefault();" class="govuk-link govuk-link--blocked">Download an empty venue data template (CSV)</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<!--  -->

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Need help?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">You can upload a CSV file to update multiple venues in Publish to the course directory.

    <p></p>

    The following information can help when completing your data file to upload your venues and publish to the course directory:
    <p></p>

    <strong>Download your published venue data</strong>
    <br>
    This will ensure all your existing venues and venue references will be included in the data file.
    <p></p>

    <strong>Add new venues to your file</strong>
    <br>
    Follow the <a href="/{{version}}/data-upload/venues/formatting" class="govuk-link"> file format requirements</a> for each of the fields.
    <p></p>

    <strong>Add a venue reference</strong>
    <br>
    An existing venue reference should not be edited or removed.
    <p></p>

    <strong>Remove a venue from your data file</strong>
    <br>
    You can remove a venue from your data file by deleting all data within the row.
    <p></p>
    A venue linked to a course should not be removed from the data file.  A venue linked to a course that is removed or missing from the data file will be added when publishing to Publish to the course directory.
    <p></p>

    <strong>Edit or delete a venue that is linked to a course</strong>
    <br>
    You will need to edit or delete the courses by selecting view and edit from the <a href="#" class="govuk-link">homescreen</a>
<p></p>
[add upload steps and error message expectations] - discuss with team

  </div>
</details>

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
