{% set navActive = 'locations' %}
{% extends "layouts/layout-sprint21.html" %}

{% block pageTitle %}
  Locations
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}


{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Your locations</h1>
  
    {{ govukButton({
      href: "/" + version + "/venues/add",
      text: "Add new location"
    }) }}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Address</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Postcode</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">Presidency London College</td>
          <td class="govuk-table__cell nowrap">
            591-593 Harrow Road<br>
            London
          </td>
          <td class="govuk-table__cell nowrap">W10 4RA</td>
          <td class="govuk-table__cell nowrap"><a href="/{{version}}/venues/view/presidency">View</a></td>
          <td class="govuk-table__cell nowrap"><a href="/{{version}}/venues/delete">Delete</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">The Brooke House Sixth Form College</td>
          <td class="govuk-table__cell nowrap">
            Kenninghall Road<br>
            London
          </td>
          <td class="govuk-table__cell nowrap">E5 8BP</td>
          <td class="govuk-table__cell nowrap"><a href="/{{version}}/venues/view/brookehouse">View</a></td>
          <td class="govuk-table__cell nowrap"><a href="/{{version}}/venues/delete/error">Delete</a></td>
        </tr>

        
      </tbody>
    </table>

  </div>
</div>

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
