// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Remove paddng to align service name and header nav
.govuk-header__content {
  padding-left: 0;
}

// Remove the crown logo
// .govuk-header__logo {
//   display: none;
// }

// Change stripe colour
.govuk-header__container {
  border-bottom: 10px solid #207E77;
}

.app-related-items {
  border-top: 2px solid #207E77;
}

// Header sign in back-link
.header__link {
  text-decoration: underline;
}

.header__signin {
  float: right;
}

//homescreen cards

.cd-card {
  background-color: #f8f8f8;
  border-left: 3px solid #207E77;
  padding: 30px;
  margin-bottom: 30px;
}

.cd-card >ul {
  margin-bottom: 0;
}

.cd-card-number {
  font-size: 3rem;
}

.cd-card--provider > p, .cd-card--provider > h2 {
  margin-bottom: 10px;
}

//dashboard styling
.cd-dashboad-title {
  margin-bottom: .23em;
}

.cd-margin-bottom-2 {
  margin-bottom: 1.23em;
}

//migration panels

.cd-migration-panel {
    background-color: #f8f8f8;
    border-left: 5px solid #207E77;
    padding: .5rem 1rem;
}

.cd-migration-panel__title {
    font-family: Arial, sans-serif;
    font-size: 1.1875em;
    line-height: 1.31579;
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

.cd-migration-panel__number {
    font-family: Arial, sans-serif;
    font-size: 1.1875em;
    line-height: 1.31579;
    font-weight: 600;
}

.no-padding-left {
    padding-left: 0;
}

.cd-homepage__list {
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

.cd-homepage__list--item a {
    font-size: 1em;
    font-weight: 400;
}

.cd-homepage__item {
  margin-bottom: 1.5em;
}

//aside panel

.cd-aside-panel {
    background-color: #f8f8f8;
    padding: 1rem 1rem .5rem 1rem ;
}

.app-related-items .govuk-list > li {
  margin-bottom: 10px;
}

.app-related-items .aside-list > li {
  margin-bottom: 2px;
}


//search

.search-result-container {
  border: 1px solid #bfc1c3;
  padding: .5em;
  margin-bottom: 1em;
}

.form-search {
    width: 100%;
    position: relative;
    //max-width: 350px;
    display: inline-block;
    margin-bottom: 0;
  }

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.form-search .search-input-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}

.form-search input.search-query {
    height: 40px;
    float: left;
    width: 86%;
    z-index: 10;
}

.form-search input[type="submit"] {
    width: 40px;
    height: 40px;
    float: left;
    padding: 6px;
    background: #0b0c0c url(../images/search-button.png) no-repeat 2px 50%;
    text-indent: -5000px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cd-search {
    font-family: Arial, sans-serif;
    height: auto;
    border-radius: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    color: #0b0c0c;
    margin-bottom: 0;
}

input:focus, textarea:focus, select:focus, input[type="search"]:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 2px;
  border-color: #0b0c0c;
}

.pointer {
  cursor: pointer;
}

.results input::placeholder {
  color: #0b0c0c;
}

//make nav on contents page stick when scrolling

.sticky {
position: sticky;
top: 0;
}

a {
	word-wrap: break-word;
}

.header-title {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 8px;
  float: left;
  color: #fff;
}

//task List
.task-list-progress {
  background-color: #85994b;
}

.border-bottom-none {
  border-bottom: none;
}

.notshown {
  display: none;
}

.qa-check .govuk-summary-list__key {
    width: 60%;
}

.qa-check .govuk-summary-list__value {
    width: 20%;
}

.cd-inset-info {
    border-color: #5694ca;
    background-color: #eef4fa;
}

// .govuk-accordion__controls {
//   display: none;
// }

.cd-cancel-link {
    margin: 9px 0 6px 13px;
    position: absolute;
}



//cookie banner

.js-enabled .gem-c-cookie-banner {
  display: none; }

.gem-c-cookie-banner {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  padding: 10px 0;
  background-color: #f3f2f1; }
  @media print {
    .gem-c-cookie-banner {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .gem-c-cookie-banner {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25; } }
  @media print {
    .gem-c-cookie-banner {
      font-size: 14pt;
      line-height: 1.2; } }

.gem-c-cookie-banner__message {
  display: inline-block;
  padding-bottom: 10px;
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429; }
  @media print {
    .gem-c-cookie-banner__message {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .gem-c-cookie-banner__message {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25; } }
  @media print {
    .gem-c-cookie-banner__message {
      font-size: 14pt;
      line-height: 1.2; } }
  @media (min-width: 48.0625em) {
    .gem-c-cookie-banner__message {
      padding-right: 20px; } }

.gem-c-cookie-banner__button.govuk-grid-column-one-half-from-desktop {
  padding: 0; }
@media (min-width: 48.0625em) {
  .gem-c-cookie-banner__button .govuk-button, .gem-c-cookie-banner__button .gem-c-govspeak .gem-c-button, .gem-c-govspeak .gem-c-cookie-banner__button .gem-c-button {
    width: 90%; } }
@media (max-width: 48.0525em) {
  .gem-c-cookie-banner__button .govuk-button, .gem-c-cookie-banner__button .gem-c-govspeak .gem-c-button, .gem-c-govspeak .gem-c-cookie-banner__button .gem-c-button {
    margin-bottom: 20px; } }

.gem-c-cookie-banner__button-accept {
  display: none; }

.js-enabled .gem-c-cookie-banner__button-accept {
  display: inline-block; }

.gem-c-cookie-banner__confirmation {
  display: none;
  position: relative;
  padding: 5px; }
  .gem-c-cookie-banner__confirmation:focus {
    outline: none; }

.gem-c-cookie-banner__confirmation-message,
.gem-c-cookie-banner__hide-button {
  display: block; }
  @media (min-width: 48.0625em) {
    .gem-c-cookie-banner__confirmation-message,
    .gem-c-cookie-banner__hide-button {
      display: inline-block; } }

.gem-c-cookie-banner__confirmation-message {
  margin-right: 20px; }
  @media (min-width: 48.0625em) {
    .gem-c-cookie-banner__confirmation-message {
      max-width: 90%; } }

.gem-c-cookie-banner__hide-button {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  outline: 0;
  border: 0;
  background: none;
  text-decoration: underline;
  color: #1d70b8;
  padding: 0;
  margin-top: 10px; }
  @media print {
    .gem-c-cookie-banner__hide-button {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .gem-c-cookie-banner__hide-button {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .gem-c-cookie-banner__hide-button {
      font-size: 14pt;
      line-height: 1.15; } }
  .gem-c-cookie-banner__hide-button:hover {
    color: #003078;
    cursor: pointer; }
  .gem-c-cookie-banner__hide-button:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none; }
  @media (min-width: 48.0625em) {
    .gem-c-cookie-banner__hide-button {
      margin-top: 0;
      position: absolute;
      right: 5px; } }

.gem-c-cookie-banner#global-cookie-message {
  background-color: #f3f2f1;
  padding: 20px 0;
  box-sizing: border-box; }
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25; }
    @media print {
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
        font-family: sans-serif; } }
    @media (min-width: 40.0625em) {
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737; } }
    @media print {
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
        font-size: 14pt;
        line-height: 1.15; } }
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message {
    margin-bottom: 0; }
  .gem-c-cookie-banner#global-cookie-message p {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0 0 10px 0; }
    @media print {
      .gem-c-cookie-banner#global-cookie-message p {
        font-family: sans-serif; } }
    @media (min-width: 40.0625em) {
      .gem-c-cookie-banner#global-cookie-message p {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737; } }
    @media print {
      .gem-c-cookie-banner#global-cookie-message p {
        font-size: 14pt;
        line-height: 1.15; } }



// cookie tablet

.cookie-table {
  font-size: 14px;
  line-height: 1.4285714286;

  border-collapse: collapse;
  border-spacing: 0;
  margin: 30px 0;
  width: 100%;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.25;
}

.cookie-table td {
  vertical-align: top;
  padding: 10px 10px 10px 0;
  border-bottom: solid 1px #b1b4b6;
}

// .cookie-table .govuk-table__cell:last-child {
//   padding: 10px 10px 10px 0;
// }

.cookie-table .govuk-table__header:last-child {
  padding: 10px 10px 10px 0;
}
