// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Remove paddng to align service name and header nav
.govuk-header__content {
  padding-left: 0;
}

// Remove the crown logo
// .govuk-header__logo {
//   display: none;
// }

// Change stripe colour
.govuk-header__container {
  border-bottom: 10px solid #207E77;
}

.app-related-items {
  border-top: 2px solid #207E77;
}

// Header sign in back-link
.header__link {
  text-decoration: underline;
}

.header__signin {
  float: right;
}

//homescreen cards

.cd-card {
  background-color: #f8f8f8;
  border-left: 3px solid #207E77;
  padding: 30px;
  margin-bottom: 30px;
}

.cd-card >ul {
  margin-bottom: 0;
}

.cd-card-number {
  font-size: 3rem;
}

.cd-card--provider > p, .cd-card--provider > h2 {
  margin-bottom: 10px;
}

//dashboard styling
.cd-dashboad-title {
  margin-bottom: .23em;
}

.cd-margin-bottom-2 {
  margin-bottom: 1.23em;
}

//migration panels

.cd-migration-panel {
    background-color: #f8f8f8;
    border-left: 5px solid #207E77;
    padding: .5rem 1rem;
}

.cd-migration-panel__title {
    font-family: Arial, sans-serif;
    font-size: 1.1875em;
    line-height: 1.31579;
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

.cd-migration-panel__number {
    font-family: Arial, sans-serif;
    font-size: 1.1875em;
    line-height: 1.31579;
    font-weight: 600;
}

.no-padding-left {
    padding-left: 0;
}

.cd-homepage__list {
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

.cd-homepage__list--item a {
    font-size: 1em;
    font-weight: 400;
}

.cd-homepage__item {
  margin-bottom: 1.5em;
}

//aside panel

.cd-aside-panel {
    background-color: #f8f8f8;
    padding: 1rem 1rem .5rem 1rem ;
}

.app-related-items .govuk-list > li {
  margin-bottom: 10px;
}

.app-related-items .aside-list > li {
  margin-bottom: 2px;
}


//search

.search-result-container {
  border: 1px solid #bfc1c3;
  padding: .5em;
  margin-bottom: 1em;
}

.form-search {
    width: 100%;
    position: relative;
    //max-width: 350px;
    display: inline-block;
    margin-bottom: 0;
  }

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.form-search .search-input-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}

.form-search input.search-query {
    height: 40px;
    float: left;
    width: 86%;
    z-index: 10;
}

.form-search input[type="submit"] {
    width: 40px;
    height: 40px;
    float: left;
    padding: 6px;
    background: #0b0c0c url(../images/search-button.png) no-repeat 2px 50%;
    text-indent: -5000px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cd-search {
    font-family: Arial, sans-serif;
    height: auto;
    border-radius: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    color: #0b0c0c;
    margin-bottom: 0;
}

input:focus, textarea:focus, select:focus, input[type="search"]:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 2px;
  border-color: #0b0c0c;
}

.pointer {
  cursor: pointer;
}

.results input::placeholder {
  color: #0b0c0c;
}

//make nav on contents page stick when scrolling

.sticky {
position: sticky;
top: 0;
}

a {
	word-wrap: break-word;
}

.header-title {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 8px;
  float: left;
  color: #fff;
}

//task List
.task-list-progress {
  background-color: #85994b;
}

.border-bottom-none {
  border-bottom: none;
}

.notshown {
  display: none;
}

.qa-check .govuk-summary-list__key {
    width: 60%;
}

.qa-check .govuk-summary-list__value {
    width: 20%;
}

.cd-inset-info {
    border-color: #5694ca;
    background-color: #eef4fa;
}

// .govuk-accordion__controls {
//   display: none;
// }

.cd-cancel-link {
    margin: 9px 0 6px 13px;
    position: absolute;
}



//cookie banner

.js-enabled .gem-c-cookie-banner {
  display: none; }

.gem-c-cookie-banner {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  padding: 10px 0;
  background-color: #f3f2f1; }
  @media print {
    .gem-c-cookie-banner {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .gem-c-cookie-banner {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25; } }
  @media print {
    .gem-c-cookie-banner {
      font-size: 14pt;
      line-height: 1.2; } }

.gem-c-cookie-banner__message {
  display: inline-block;
  padding-bottom: 10px;
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429; }
  @media print {
    .gem-c-cookie-banner__message {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .gem-c-cookie-banner__message {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25; } }
  @media print {
    .gem-c-cookie-banner__message {
      font-size: 14pt;
      line-height: 1.2; } }
  @media (min-width: 48.0625em) {
    .gem-c-cookie-banner__message {
      padding-right: 20px; } }

.gem-c-cookie-banner__button.govuk-grid-column-one-half-from-desktop {
  padding: 0; }
@media (min-width: 48.0625em) {
  .gem-c-cookie-banner__button .govuk-button, .gem-c-cookie-banner__button .gem-c-govspeak .gem-c-button, .gem-c-govspeak .gem-c-cookie-banner__button .gem-c-button {
    width: 90%; } }
@media (max-width: 48.0525em) {
  .gem-c-cookie-banner__button .govuk-button, .gem-c-cookie-banner__button .gem-c-govspeak .gem-c-button, .gem-c-govspeak .gem-c-cookie-banner__button .gem-c-button {
    margin-bottom: 20px; } }

.gem-c-cookie-banner__button-accept {
  display: none; }

.js-enabled .gem-c-cookie-banner__button-accept {
  display: inline-block; }

.gem-c-cookie-banner__confirmation {
  display: none;
  position: relative;
  padding: 5px; }
  .gem-c-cookie-banner__confirmation:focus {
    outline: none; }

.gem-c-cookie-banner__confirmation-message,
.gem-c-cookie-banner__hide-button {
  display: block; }
  @media (min-width: 48.0625em) {
    .gem-c-cookie-banner__confirmation-message,
    .gem-c-cookie-banner__hide-button {
      display: inline-block; } }

.gem-c-cookie-banner__confirmation-message {
  margin-right: 20px; }
  @media (min-width: 48.0625em) {
    .gem-c-cookie-banner__confirmation-message {
      max-width: 90%; } }

.gem-c-cookie-banner__hide-button {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  outline: 0;
  border: 0;
  background: none;
  text-decoration: underline;
  color: #1d70b8;
  padding: 0;
  margin-top: 10px; }
  @media print {
    .gem-c-cookie-banner__hide-button {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .gem-c-cookie-banner__hide-button {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .gem-c-cookie-banner__hide-button {
      font-size: 14pt;
      line-height: 1.15; } }
  .gem-c-cookie-banner__hide-button:hover {
    color: #003078;
    cursor: pointer; }
  .gem-c-cookie-banner__hide-button:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none; }
  @media (min-width: 48.0625em) {
    .gem-c-cookie-banner__hide-button {
      margin-top: 0;
      position: absolute;
      right: 5px; } }

.gem-c-cookie-banner#global-cookie-message {
  background-color: #f3f2f1;
  padding: 20px 0;
  box-sizing: border-box; }
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25; }
    @media print {
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
        font-family: sans-serif; } }
    @media (min-width: 40.0625em) {
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737; } }
    @media print {
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation,
      .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {
        font-size: 14pt;
        line-height: 1.15; } }
  .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message {
    margin-bottom: 0; }
  .gem-c-cookie-banner#global-cookie-message p {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0 0 10px 0; }
    @media print {
      .gem-c-cookie-banner#global-cookie-message p {
        font-family: sans-serif; } }
    @media (min-width: 40.0625em) {
      .gem-c-cookie-banner#global-cookie-message p {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737; } }
    @media print {
      .gem-c-cookie-banner#global-cookie-message p {
        font-size: 14pt;
        line-height: 1.15; } }



// cookie tablet

.cookie-table {
  font-size: 14px;
  line-height: 1.4285714286;

  border-collapse: collapse;
  border-spacing: 0;
  margin: 30px 0;
  width: 100%;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.25;
}

.cookie-table td {
  vertical-align: top;
  padding: 10px 10px 10px 0;
  border-bottom: solid 1px #b1b4b6;
}

// .cookie-table .govuk-table__cell:last-child {
//   padding: 10px 10px 10px 0;
// }

.cookie-table .govuk-table__header:last-child {
  padding: 10px 10px 10px 0;
}

// cost input

.govuk-currency-input__inner {
  position: relative;
  margin-bottom: 20px;
}


.govuk-currency-input__inner__unit {
  position: absolute;
  bottom: 8px;
  left: 10px;
}

// sortable tables

[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
}

[aria-sort] button:focus {
  background-color: $govuk-focus-colour;
  color: $govuk-focus-text-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  outline: none;
}

[aria-sort]:first-child button {
  right: auto;
}

[aria-sort] button:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] button:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] button:before,
[aria-sort="descending"] button:before {
  content: none;
}

[aria-sort="ascending"] button:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort="descending"] button:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

.sortable-table-status {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0
}


// FE courses

.govuk-related-items-fe {
    border-top: 10px solid #28a197;
    padding: 20px;
    background-color: #f8f8f8
}

.phase-tag-published {
    background: #00823b
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap
}

.flex-item {
    padding: 5px 1rem 5px 0;
    margin-top: 10px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

.flex-item label {
    display: block;
    font-weight: 900
}



.region-checkboxes .govuk-checkboxes__item {
    margin: .5em;
    flex: 0 0 25%;
    margin-left: 0;
}

.region-checkboxes {
    display: flex;
    flex-wrap: wrap
}

.govuk-summary-list__checkedit {
  width: 10%;
  padding-right: 0;
  text-align: right;
}


// FE courses list page
.cd-status-panel.teal a,.cd-status-panel.teal h2,.cd-status-panel.teal span {
    color: #fff
}

.cd-status-panel.teal--border {
    text-align: left;
    border-left: 5px solid #207E77;
    color: #000;
    padding: 1.1875em 1.1875em 0;
}

.cd-status-panel.teal--border, .sidebar .widget, .teal-top-border.bg-grey {
    background-color: #f8f8f8;
}


.submit {
    display: inline-flex;
    cursor: pointer;
    text-indent: 50000px;
    background: url(../images/icon-search-2x.png) 60% 50% no-repeat #000;
    background-size: 24px;
    float: left;
    padding: 6px;
    border: 0;
    z-index: 900;
}

.submit {
    color: #fff;
}

.cd-search__submit-wrapper {
    background-color: #000;
}

.submit {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

#LarsSearch .search-input-wrapper {
    flex-direction: column;
}
.search-input-wrapper {
    display: flex;
}

#LarsSearch .search--container {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 2rem;
}

.cd-search__submit-wrapper {
    background-color: #000;
}

.submit {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.submit {
    color: #fff;
}


.cd-grid-column-20 {
    width: 20%;
    float: left;
    padding: 0 1em;
    box-sizing: border-box;
}

.cd-grid-column-80 {
    box-sizing: border-box;
    width: 80%;
    float: left;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 0;
    transition: .4s;
    border-bottom: 1px solid #bfc1c3;
}

.accordion:after {
    content: "\2039";
    color: #777;
    font-weight: 700;
    float: right;
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.cd-status-panel {
    background-color: #dee0e2;
    display: flex;
    padding: 1em;
    margin-bottom: 1.5em;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.courserun.border {
    border: 1px solid #bfc1c3;
    margin-bottom: 1em;
    padding-left: 0;
}

.courserun.border>* {
    padding: .25em 1em;
}

.courserun__row1 .coursename {
    font-weight: 800;
    font-size: 1.3em;
    margin: 0;
}

.courserun__row1 .coursename.smaller {
    font-size: 1em;
    color: #6f777b;
    font-weight: 100;
}

.courserun__row2 {
    display: flex;
    padding: .25em 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.courserun__row2>* {
    padding-right: 1em;
}

.courserun__row3 {
    color: #6f777b;
    padding-bottom: .5em;
}

.courserun__row3>* {
    padding-right: 1em;
}

.courserun.border .courserun__row4 {
    margin-bottom: 0;
    border-bottom: none;
}

.courserun__row4 {
    padding: .5em 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-bottom: .5em;
}

.courserun__row4>* {
    padding-right: 1em;
}


// Provider details

.govuk-related-items {
    border-top: 10px solid #28a197;
    padding: 20px;
    background-color: #f8f8f8;
}


//table header width

.table-header-width__40 th {
  width: 40%;
}


// Panel

.cd-panel--progress {
  background-color:  #28A197;
}

.progress {
  width: 500px;
  height: 500px;
  background-image: url("/public/images/loading.png");
}

.cd-width__50 {
  width: 50%;
}
