{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm5.html" %}

{% block pageTitle %}
  Data Upload - Publish venue data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Check and publish your venue data</h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Your file of {{ (data['dm5venues'].length - data['dm5venues-deleted'].length) }} venues has no errors and is ready to publish to the course directory.</p>

    <p class="govuk-body">There are 2 existing venues linked to courses, these have been added to the data upload.</p>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View list of venues
        </span>
      </summary>
      <div class="govuk-details__text">

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Your venue reference</th>
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Email</th>
              <th scope="col" class="govuk-table__header">Telephone</th>
              <th scope="col" class="govuk-table__header">Website</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            {% set i = 0 %}
            {% for venues in data['dm5venues'] %}
              {% set i = i + 1 %}

              {% if i in data['dm5venues-deleted'] %}
              {% else %}
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell govuk-body-s">
                    {{ venues.ID }}
                  </td>
                  <td scope="row" class="govuk-table__cell govuk-body-s">
                    {% if venues.NAME %}
                      {{ venues.NAME }}
                    {% else %}
                      {{ data["dm5venue-resolve-name"] }}
                    {% endif %}
                  </td>
                  <td scope="row" class="govuk-table__cell govuk-body-s">
                    {{ venues.ADDRESS1 }}{% if venues.ADDRESS2 %},<br>{% endif %}
                    {{ venues.ADDRESS2 }}{% if venues.TOWNCITY %},<br>{% endif %}
                    {{ venues.TOWNCITY }}{% if venues.COUNTY %},<br>{% endif %}
                    {{ venues.COUNTY }}
                  </td>
                  <td class="govuk-table__cell govuk-body-s">{{venues.EMAIL}}</td>
                  <td class="govuk-table__cell govuk-body-s">{{venues.TELEPHONE}}</td>
                  <td class="govuk-table__cell govuk-body-s">{{venues.WEBSITE}}</td>
                </tr>
              {% endif %}

            {% endfor %}

          </tbody>
        </table>

      </div>
    </details>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukWarningText({
      text: "Publishing these venues will replace all of your venues on Publish to the course directory",
      iconFallbackText: "warning"
    }) }}


    <form action="" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Are you sure?
            </h2>
          </legend>
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="areyousure" name="areyousure" type="checkbox" value="delete">
              <label class="govuk-label govuk-checkboxes__label" for="areyousure">
                Yes, I want to publish these venues
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          classes: "govuk-button--publish govuk-button--disabled",
          text: "Publish"
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary govuk-!-margin-left-3",
          href: "/" + version + "/data-upload",
          text: "Cancel"
        }) }}

      </div>

    </form?

  </div>

</div>

<!--  -->


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->

{% block pageScripts %}

	<script>
    $( "#areyousure" ).on( "change", function() {
      var $this = $(".govuk-button--publish");
      if ($this.hasClass('govuk-button--disabled')) {
        $this.removeAttr('disabled');
        $this.removeClass('govuk-button--disabled');
      } else {
        $this.attr('disabled', 'disabled');
        $this.addClass('govuk-button--disabled');
      }
    });
  </script>

{% endblock %}
