{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm5.html" %}

{% block pageTitle %}
  Data Upload - Publish venue data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Venue data errors</h1>

    {% if data['dm5venues-deleted'] or data['dm5venues-resolved'] %}
    {% else %}
      <!-- only show if file has just been uploaded -->
      <p class="govuk-body">Your venue data has been uploaded.</p>
    {% endif %}
    <p class="govuk-body">
      Your data upload has {{ data['dm5venues-errorcount'] - ((data['dm5venues-deleted'] | length) + (data['dm5venues-resolved'] | length)) }} error in 5 venues.  You must resolve these errors before your data can be published.
    <p>
    <!--p class="govuk-body">The unpublished venue data has {{ data['dm5venues-errorcount'] - ((data['-deleted'] | length) + (data['dm5venues-resolved'] | length)) }} errors.
      You can <a href="javascript:preventDefault();" class="govuk-link govuk-link--blocked">download all of your venues including the errors in a CSV file</a>.</p-->
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View errors in your upload
        </span>
      </summary>
      <div class="govuk-details__text">

        <table class="govuk-table">
          <!-- <caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption> -->
          <thead class="govuk-table__head">
            <!-- <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Your venue reference</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Venue name</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Address</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Error(s)</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">x</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">x</th>
            </tr> -->
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Your venue reference</th>
              <th scope="col" class="govuk-table__header">Venue name</th>
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Error(s)</th>
              <th scope="col" colspan="2" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-body-s">FLE001</th>
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s">Fletton Way, Peterborough, PE6 7RP</td>
              <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Venue name</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-body-s"></th>
              <td class="govuk-table__cell govuk-body-s">Oundle Campus</td>
              <td class="govuk-table__cell govuk-body-s">Fletton Way, Peterborough, PE6 7RP</td>
              <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Your venue reference</td>

            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-body-s">FLE001</th>
              <td class="govuk-table__cell govuk-body-s">Ourndle Campus</td>
              <td class="govuk-table__cell govuk-body-s">Fletton Way, PE</td>
              <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Address</td>

            </tr>
          </tbody>
        </table>

        <!-- <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Your venue reference</th>
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Postcode</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            {% set i = 0 %}
            {% for venues in data['dm5venues'] %}
              {% set i = i + 1 %}

              {% if
                  (venues.ID == "") or
                  (venues.NAME == "") or
                  (venues.ADDRESS == "") or
                  (venues.POSTCODE == "")
              %}
                  <tr class="govuk-table__row"
                    {% if data['dm5venues-deleted'] %}
                      {% if i in data['dm5venues-deleted'] %}
                      style="display: none"
                      {% endif %}
                    {% endif %}
                    {% if data['dm5venues-resolved'] %}
                      {% if i in data['dm5venues-resolved'] %}
                      style="display: none"
                      {% endif %}
                    {% endif %}
                  >
                    <td scope="row" class="govuk-table__cell govuk-body-s">
                      {% if venues.ID %}
                        {{ venues.ID }}
                      {% else %}
                        <span style="color: #d4351c;">Error</span>
                      {% endif %}
                    </td>
                    <td scope="row" class="govuk-table__cell govuk-body-s">
                      {% if venues.NAME %}
                        {{ venues.NAME }}
                      {% else %}
                        <span style="color: #d4351c;">Error</span>
                      {% endif %}
                    </td>
                    <td scope="row" class="govuk-table__cell govuk-body-s">
                      {% if venues.ADDRESS1 %}
                        {{ venues.ADDRESS1 }}{% if venues.ADDRESS2 %}, {% endif %}
                        {{ venues.ADDRESS2 }}{% if venues.TOWNCITY %}, {% endif %}
                        {{ venues.TOWNCITY }}{% if venues.COUNTY %}, {% endif %}
                        {{ venues.COUNTY }}
                      {% else %}
                        <span style="color: #d4351c;">Error</span>
                      {% endif %}
                    </td>
                    <td scope="row" class="govuk-table__cell govuk-body-s">
                      {% if venues.POSTCODE %}
                        {{ venues.POSTCODE }}
                      {% else %}
                        <span style="color: #d4351c;">Error</span>
                      {% endif %}
                    </td>
                  </tr>
              {% endif %}
            {% endfor %}

          </tbody>
        </table> -->

      </div>
    </details>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<p class="govuk-body">You can <a href="xx">download all of your venue data including the errors  (opens in a CSV file)</a> to edit and upload.</p>

    <h2 class="govuk-heading-m">
      What do you want to do?
    </h2>

    <form action="" method="post" class="form">
      {{ govukRadios({
        idPrefix: "venue-validation",
        name: "venue-validation",
        items: [
          {
            value: "resolve",
            text: "Resolve the errors on screen"
          },
          {
            value: "upload",
            text: "Upload a new data file"
          },
          {
            value: "cancel",
            text: "Delete upload"
          }
        ]
      }) }}

      {{ govukButton({
        classes: "govuk-button--publish",
        text: "Continue"
      }) }}
    </form>

  </div>

</div>

<!--  -->


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->

{% block pageScripts %}

	<script>
    $( "#areyousure" ).on( "change", function() {
      var $this = $(".govuk-button--publish");
      if ($this.hasClass('govuk-button--disabled')) {
        $this.removeAttr('disabled');
        $this.removeClass('govuk-button--disabled');
      } else {
        $this.attr('disabled', 'disabled');
        $this.addClass('govuk-button--disabled');
      }
    });
  </script>

{% endblock %}
