{% extends "layout.html" %}

{% block pageTitle %}
New start date
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/Vincent/Homescreen-add-qualification">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Venues
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Data upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "OutofdateStartdate2"
}) }}

{% endblock %}

{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <!--  -->

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Edit start date
          </h1>
        </legend>
        <p></p>

        <p class="govuk-body">Enter the start date for your course(s)</p>

        <div id="passport-issued-hint" class="govuk-hint">For example, 12 11 2007</div>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
        </div>

        <p></p>

        <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        <th scope="col" rowspan="4" class="govuk-table__header">Course name</th>
        <th scope="col" rowspan="4" class="govuk-table__header">Your reference</th>
        <th scope="col" class="govuk-table__header">Delivery type</th>
        <th scope="col" class="govuk-table__header">Start date</th>
        </tr>
        </thead>

        <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header-noborder">Science Level 2</td>
        <td class="govuk-table__cell-noborder">CVFWM102P</td>
        <td class="govuk-table__cell-noborder">Online</td>
        <td class="govuk-table__cell-noborder govuk-body">3/11/2019</td>
        </tr>

        <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell-noborder">Science Level 2</td>
        <td class="govuk-table__cell-noborder">CVFWM102P</td>
        <td class="govuk-table__cell-noborder">Online</td>
        <td class="govuk-table__cell-noborder govuk-body">3/11/2019</td>
        </tr>

        <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell-noborder">English Level 2 (Functional skills)</td>
        <td class="govuk-table__cell-noborder">ENGCBF2Y</td>
        <td class="govuk-table__cell-noborder govuk-body">Classroom</td>
        <td class="govuk-table__cell-noborder govuk-body">3/11/2019</td>
        </tr>

        <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell-noborde">English Level 2 (Functional skills)</td>
        <td class="govuk-table__cell-noborde">ENGCBF3Y</td>
        <td class="govuk-table__cell-noborde govuk-body">Classroom</td>
        <td class="govuk-table__cell-noborde govuk-body">3/11/2019</td>
        </tr>

        <tr>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;"></td>
        <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/resolve-course-descriptioncourse" class="govuk-link"></a></td>
        <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/delete-course-description" class="govuk-link"></a></td>
        </tr>
        <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell-noborder">English Level 2 (Functional skills)</td>
        <td class="govuk-table__cell-noborder">ENGWMF2Y</td>
        <td class="govuk-table__cell-noborder govuk-body">Work based</td>
        <td class="govuk-table__cell-noborder govuk-body">3/11/2019</td>
        </tr>
        </tbody>
        </table>
        </fieldset>
    </div>
<p class="govuk-body">Your course(s) will be updated on Publish to the course directory and available to learners searching for learning and training opportunities on the National Career Service, Find a course.  </p>
    <br><a href="OutofdateStartdate3"><button class="govuk-button" data-module="govuk-button">
  Save and continue</button></a>

    <!--  -->
  </div>

</div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
