{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm5.html" %}

{% block pageTitle %}
  Data Management - Publish course data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Course data errors</h1>
    <p class="govuk-body">
      Your uploaded course data has 97 errors in 325 courses. 
    <p>

    <h2 class="govuk-heading-l govuk-!-margin-top-5">
      What do you want to do?
    </h2>

    <form action="" method="post" class="form">
      {{ govukRadios({
        idPrefix: "course-validation",
        name: "course-validation",
        items: [
          {
            value: "download",
            text: "Download CSV with errors"
          },
          {
            value: "cancel",
            text: "Cancel upload"
          }
        ]
      }) }}

      {{ govukButton({
        classes: "govuk-button--publish",
        text: "Continue"
      }) }}
    </form>

  </div>

</div>

<!--  -->


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
