{% extends "layout.html" %}

{% block pageTitle %}
Delete a location
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="#">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Delete venue
    </h1>


    <!--  -->

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your venue reference
        </dt>
        <dd class="govuk-summary-list__value" style="word-break: break-word;">
          Ch2Hs3
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Venue name
        </dt>
        <dd class="govuk-summary-list__value" style="word-break: break-word;">
          Cheylsmore House
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value" style="word-break: break-word;">
          Cheylsmore House<br>5 Quinton Road<br>Coventry<br>West Midlands<br>CV1 2WT
        </dd>
      </div>


      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone
        </dt>
        <dd class="govuk-summary-list__value" style="word-break: break-word;">
          01234567890
        </dd>

      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Web
        </dt>
        <dd class="govuk-summary-list__value" style="word-break: break-word;">
          www.website.com
        </dd>

      </div> -->

    </dl>

    <!--  -->

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Are you sure?
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input enable" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Yes, I want to delete this venue
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <!--  -->

    <a href="delete-location-confirmation"><button class="govuk-button govuk-button--warning enable-disable" data-module="govuk-button" disabled="disabled">
      Delete venue
    </button></a>

    <button class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">
      Cancel
    </button>


  </div>

</div>
<!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
