{% extends "layout.html" %}

{% block pageTitle %}
  Provider homescreen all elements
{% endblock %}

{% block header %}
<div class="app-cookie-banner">
  <p class="app-cookie-banner__message">
    {{cookieText | safe }}
  </p>
</div>

  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: 80%;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Further education courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Apprenticeship training courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Locations
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
<!--
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }} -->

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-error-summary" style="border-color:#005ea5;">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Welcome to publish to the course directory
      </h2>
      <div class="govuk-error-summary__body">
        <p>Laboris est nostrud fugiat irure amet ad elit pariatur consectetur fugiat. You can add your details, locations and one apprenticship.</p>
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#" style="color:#005ea5;">Start the journey</a>
          </li>
        </ul>
      </div>
    </div>

    </div>
  </div>

  <!-- end notification -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="cd-card cd-card--provider">
          <h2 class="govuk-heading-m">Further education courses</h2>
          <p class="cd-card-number">24</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">View and edit</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Add new</a>
            </li>
            <!-- <li>
              <a class="govuk-link" href="#">Bulk upload</a>
            </li> -->
          </ul>
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="cd-card cd-card--provider">
          <h2 class="govuk-heading-m">Apprenticeship training courses</h2>
          <p class="cd-card-number">2</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">View and edit</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Add new</a>
            </li>
            <!-- <li>
              <a class="govuk-link" href="#">Bulk upload</a>
            </li> -->
          </ul>
        </div>
      </div>
      </div>

      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <div class="cd-card cd-card--provider">
          <h2 class="govuk-heading-m">Locations</h2>
          <p class="cd-card-number">68</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">View and edit</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Add new</a>
            </li>
            <!-- <li>
              <a class="govuk-link" href="#">Bulk upload</a>
            </li> -->
          </ul>
        </div>
      </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related actions
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#" class="govuk-link">
                Manage your organisation details
              </a>
            </li>
            <li>
              <a href="#" class="govuk-link">
                Manage your DfE Sign-in account
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
