{% extends "layout.html" %}

{% block pageTitle %}
  View locations table example
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: 80%;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="#">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}


{% block content %}

<!-- content start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Your locations</h1>


    <a href="#">
      <button class="govuk-button govuk-!-margin-bottom-9" data-module="govuk-button">
        Add new location
      </button>
    </a>
    <a href="#" class="govuk-link cd-cancel-link" style="font-size:19px;">Cancel</a>

    <!--  -->

    <!-- <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p class="govuk-!-font-weight-bold">Cheylesmore House</p>
            Cheylesmore House<br>
            5 QUINTON ROAD<br>
            COVENTRY<br>
            WEST MIDLANDS<br>
            CV1 2WT
          </td>
            <td class="govuk-table__cell">
              <br>
              <br>
              <p>01957 473 957</p>
              <p>www.cheylesmorehouse.com/course/name/course</p>
            </td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Delete</a></td>
        </tr>
      </tbody>
    </table> -->



    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header cd-table__wrap">Details</th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Cheylesmore House
          </td>

          <td class="govuk-table__cell">
            Cheylesmore House<br>
            5 QUINTON ROAD<br>
            COVENTRY<br>
            WEST MIDLANDS<br>
            CV1 2WT
          </td>
            <td class="govuk-table__cell cd-table__wrap">
              <p>01957 473 957</p>
              <p>www.cheylesmorehouse.com/course/name/course</p>
            </td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Delete</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Cheylesmore House
          </td>

          <td class="govuk-table__cell">
            Cheylesmore House<br>
            5 QUINTON ROAD<br>
            COVENTRY<br>
            WEST MIDLANDS<br>
            CV1 2WT
          </td>
            <td class="govuk-table__cell cd-table__wrap">
              <p>01957 473 957</p>
              <p>www.cheylesmorehouse.com/course/name/course</p>
            </td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Delete</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Cheylesmore House
          </td>

          <td class="govuk-table__cell">
            Cheylesmore House<br>
            5 QUINTON ROAD<br>
            COVENTRY<br>
            WEST MIDLANDS<br>
            CV1 2WT
          </td>
            <td class="govuk-table__cell cd-table__wrap">
              <p>01957 473 957</p>
              <p>www.cheylesmorehouse.com/course/name/course</p>
            </td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Delete</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Cheylesmore House
          </td>

          <td class="govuk-table__cell">
            Cheylesmore House<br>
            5 QUINTON ROAD<br>
            COVENTRY<br>
            WEST MIDLANDS<br>
            CV1 2WT
          </td>
            <td class="govuk-table__cell cd-table__wrap">
              <p>01957 473 957</p>
              <p>www.cheylesmorehouse.com/course/name/course</p>
            </td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Delete</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Cheylesmore House
          </td>

          <td class="govuk-table__cell">
            Cheylesmore House<br>
            5 QUINTON ROAD<br>
            COVENTRY<br>
            WEST MIDLANDS<br>
            CV1 2WT
          </td>
            <td class="govuk-table__cell cd-table__wrap">
              <p>01957 473 957</p>
              <p>www.cheylesmorehouse.com/course/name/course</p>
            </td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Delete</a></td>
        </tr>
      </tbody>
    </table>


    <!--  -->

    <a href="#">
      <button class="govuk-button govuk-!-margin-bottom-9" data-module="govuk-button">
        Add new location
      </button>
    </a>
    <a href="#" class="govuk-link cd-cancel-link" style="font-size:19px;">Cancel</a>


  </div>
</div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
