{% set navActive = 'courses' %}
{% extends "layouts/layout-v1.html" %}

{% block pageTitle %}
  Courses - Check and publish course
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

          <h1 class="govuk-heading-xl">Check and publish your course</h1>

          <h2 class="govuk-heading-l">00304202 Level 5 Foundation Degree in Game Art - South Gloucestershire and Stroud College</h2>

          <h3 class="govuk-heading-m">Course details</h3>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-details-coursename'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> course details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-details-reference'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> your reference</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course type
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-details-type'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> course type</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Start date	
              </dt>
              <dd class="govuk-summary-list__value">
              {% if data['course-details-startdate'] == "Defined start date" %}
                {{ data['course-details-startdate-date-day'] }}
                {{ data['course-details-startdate-date-month'] }}
                {{ data['course-details-startdate-date-year'] }}
              {% else %}
                {{ data['course-details-startdate'] }}
              {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> start date</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course location(s)
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-details-location'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> course location(s)</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course webpage
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-details-webpage'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> course webpage</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['course-details-cost'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> cost</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost description
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-details-description'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> cost description</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Duration
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-details-duration-value'] }}
                {{ data['course-details-duration-unit'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> duration</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course hours
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-details-hours'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> course hours</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Attendance pattern
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-details-attendance'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> attendance pattern</span>
                </a>
              </dd>
            </div>
          </dl>

          <h3 class="govuk-heading-m">Course description</h3>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Who is the course for
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-desc-whothiscourseisfor'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> who is the course for</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Entry requirements
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-desc-entryrequirements'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> entry requirements</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What you'll learn
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-desc-whatyoulllearn'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> what you'll learn</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How you'll learn
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-desc-howyoulllearn'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> how you'll learn</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What you'll need to bring
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-desc-whatyoullbring'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> what you'll need to bring</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How you'll be assessed
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-desc-howassessed'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> how you'll be assessed</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What you can do next
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['course-desc-whatyoucandonext'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--blocked" href="#">
                  Change<span class="govuk-visually-hidden"> what you can do next</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Publish your course</h2>

          <p class="govuk-body">Your course information will be added to Publish to the course directory and available to learners searching for learning and training opportunities on the National Careers Service.</p>

          <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

          <form action="" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <button class="govuk-button" data-module="govuk-button">
              Publish
            </button>

          </form>

        </div>
      </div>
    </main>
  </div>

{% endblock %}

<!-- DO NOT enter page content after the above block -->
