{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload FE
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Bulk upload
      </h1>

      <p class="govuk-body">We are making ongoing improvements to bulk upload, you can continue to use bulk upload during this time. Qui pariatur occaecat ex non commodo ad aliqua laboris quis ullamco et tempor cillum. Velit est nulla eu labore mollit cillum elit non cupidatat.</p>

      <h3 class="govuk-heading-m">If you fewer than 800/375 rows in your upload file</h3>

      <p class="govuk-body">What is 800 rows? Aliqua sunt incididunt consectetur cupidatat eiusmod ad dolore amet quis pariatur duis duis id eu duis.</p>

      <p class="govuk-body">You can use a file to replace information about all of your published courses. To create the file you can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>enter your <a href="#" class="govuk-link">apprenticeship training information in an empty template</a></li>
        <li>update a <a href="#" class="govuk-link">template containing your published apprenticeship training information</a></li>
      </ul>

      <!-- <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
            You'll replace all information about your apprenticeships if you continue.
          </strong>
      </div> -->

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Upload file
      </button>

      <h3 class="govuk-heading-m">If you have more than 800/375 rows</h3>

      <p class="govuk-body">Qui pariatur occaecat ex non commodo ad aliqua laboris quis ullamco et tempor cillum. Velit est nulla eu labore mollit cillum elit non cupidatat.</p>

      <p class="govuk-body">Dolor cillum adipisicing eu magna cupidatat commodo labore sint. Aliqua sunt incididunt consectetur cupidatat eiusmod ad dolore amet quis pariatur duis duis id eu duis <a href="<a href="mailto:joe@example.com">helpdesk@tribal.com</a>.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Templates
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Download a blank template
              </a>
            </li>
            <li>
              <a href="#">
                Download a template containing your current apprenticeships
              </a>
            </li>
            <!-- <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          </ul>
        </nav>
      </aside>

    </div>
  </div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
