{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload apprenticeships
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: 80%;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              My apprenticeshisp training
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="#">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Bulk upload apprenticeship training information
      </h1>

      <p>You can use a file to replace information about all of your published apprenticeship training. To create the file you can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>enter your apprenticeship training information in an empty template</li>
        <li>update a template containing your published apprenticeship training information</li>
      </ul>

      <p>Your updated apprenticeship training information will be published after you have uploaded your file and fixed any errors.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
            You'll replace all information about your apprenticeships if you continue.
          </strong>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Upload file
      </button>

      <!-- <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also <a href="#">register by post</a>.</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

      <p>You can’t register for this service if you’re in the UK illegally.</p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Templates
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Download a blank template
              </a>
            </li>
            <li>
              <a href="#">
                Download a template containing your current apprenticeships
              </a>
            </li>
            <!-- <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li> -->
          </ul>
        </nav>
      </aside>

    </div>
  </div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
