{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm1.html" %}

{% block pageTitle %}
  Data Management - Upload apprenticeship data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "/" + version + "/data-management/apprenticeships"
  }) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Upload your apprenticeship data file</h1>

    {{ govukInsetText({
      html: '<p class="govuk-body">Frameworks included in your CSV file will not be published on Find an apprenticeship training.</p>
      <p class="govuk-body">Read more about the <a href="javascript:preventDefault();" class="govuk-link govuk-link--blocked">withdrawal of apprenticeship frameworks (opens in a new window or tab)</a>.</p>'
    }) }}
    
    {{ govukFileUpload({
      id: "apprenticeship-data-upload",
      name: "apprenticeship-data-upload"
    }) }}

    {{ govukButton({
      href: "/" + version + "/data-management/apprenticeships-publish",
      text: "Continue"
    }) }}

    {{ govukDetails({
      summaryText: "Help with uploading files",
      html: 'If your upload file has more than 600 rows, email your file to <a href="javascript:preventDefault();" class="govuk-link govuk-link--blocked">support@apprenticeshipdirectory.org.uk</a> for guidance to publish your file to Publish to the course directory.'
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">
    <!--h2 class="govuk-heading-m">Useful information</h2-->
  </div>
</div>

<!--  -->


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
