{% set navActive = 'home' %}
{% extends "layouts/layout-dm1.html" %}

{% block pageTitle %}
  Data Management Dashboard
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Preparing your course data upload</h1>

    <h2 class="govuk-heading-l">Creating your upload file</h2>
    <p class="govuk-body">To create your file you can download:<p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="javascript:preventDefault();" class="govuk-link govuk-link--blocked">your published course information (CSV)</a>
      </li>
      <li>
        <a href="javascript:preventDefault();" class="govuk-link govuk-link--blocked">a course information template (CSV)</a>
      </li>
    </ul>

    <h2 class="govuk-heading-l">Completing your upload file<h2>
    <p class="govuk-body">To ensure a bulk upload is successful you must:<p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="javascript:preventDefault();" class="govuk-link govuk-link--blocked">add new venues</a> to the service prior to a bulk upload
      </li>
      <li>
        include existing courses and new courses in the file
      </li>
      <li>
        complete all mandatory fields
      </li>
      <li>
        follow the <a href="formatting-courses" class="govuk-link">format requirements</a>
      </li>
      <li>
        save the file as a CSV
      </li>
    </ul>

    {{ govukButton({
      text: "Continue"
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">
  </div>
</div>

<!--  -->


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
