{% extends "layout.html" %}

{% block pageTitle %}
  Edit your course
{% endblock %}

{% block header %}
  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to course list",
  href: "course-list"
}) }}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-error-summary" style="border-color:#28a197;">
      <h2 class="govuk-error-summary__title govuk-!-margin-bottom-0" id="error-summary-title">
        Your changes have been published
      </h2>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">Edit your course information</h1>

    <h2 class="govuk-heading-l">
      Art and Design, OCR Technical Level 3 Diploma (2 Yrs) Year 1
    </h2>

    <p class="govuk-body">You can <a
        href="https://nationalcareers.service.gov.uk/find-a-course/course-details?CourseId=e590daa4-4c80-4879-bfa8-11cefc65a6a8&r=737bbb0d-77de-44d1-bfd7-6f8482eb8468&referralPath=%2ffind-a-course%2fcourse-search-result%3fSearchTerm%3dart%26Distance%3d10"
        target="_blank">view your published course</a> to see how it's viewed by learners.</p>

      <!--  -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            LARS/QAN
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            60144567
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">&nbsp;
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Qualification name
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Cambridge Technical Diploma in Art and Design
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">&nbsp;
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Qualification Level
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            3
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            &nbsp;
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Awarding organisation
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            AQA
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            &nbsp;
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            15 September 2019
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">&nbsp;
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last updated
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            29 September 2019
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">&nbsp;
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            <span class="govuk-tag phase-tag-published">Published</span>
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">&nbsp;
          </dd>
        </div>

      </dl>
      <!--  -->


      <h3 class="govuk-heading-m">Course details</h3>
      <p class="govuk-body">Information for the learner about how the course will be delivered.</p>


      <dl class="govuk-summary-list govuk-!-margin-bottom-6">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course name
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Art and Design, OCR Technical Level 3 Diploma (2 Yrs) Year 1
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> course name</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your reference
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            REF12234
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> your reference</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course type
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Classroom based
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> course type</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Flexible
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> start date</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course location
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">The Brooke House Sixth Form College</p>
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> course locations</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course webpage
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            http://www.provider.com/course
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> course webpage</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            £90.00
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> cost</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost description
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Ipsum adipisicing Lorem reprehenderit reprehenderit pariatur ex.
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> course description</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Duration
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            1 Year
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> duration</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course hours
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Full time
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> course hours</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Attendance pattern
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Daytime
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-run-details-edit">Change<span class="govuk-visually-hidden"> attendance pattern</span></a>
          </dd>
        </div>
      </dl>

      <div class="govuk-!-margin-bottom-6">

        <a href="course-run-details-copy"><button class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">
            Copy course details
          </button></a>

        <a href="course-delete-are-you-sure"><button class="govuk-button govuk-button--warning" data-module="govuk-button">
            Delete course details
          </button></a>
      </div>

      <h3 class="govuk-heading-m">Course description</h3>
      <p class="govuk-body">Changes made to your course description will update all of your courses for this qualification.</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who is the course for
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Nostrud sit nulla sit commodo consectetur proident consectetur esse deserunt enim reprehenderit amet velit qui id. Ut elit culpa magna non non adipisicing minim quis id magna.
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-details-edit">Change<span class="govuk-visually-hidden"> who is this course for</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Entry requirements
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Exercitation nostrud incididunt ipsum aliquip consectetur do commodo et aute commodo Lorem enim ad deserunt. Dolore enim ullamco reprehenderit consequat pariatur qui sunt ut velit dolor mollit quis tempor commodo laborum nisi aliqua.
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-details-edit">Change<span class="govuk-visually-hidden"> entry requirements</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What you'll learn
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Mollit reprehenderit eu occaecat aute dolor deserunt excepteur amet fugiat proident enim minim. Amet cupidatat consequat ut ea in qui velit est qui mollit veniam mollit ullamco sint veniam cillum.
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-details-edit">Change<span class="govuk-visually-hidden"> what you'll learn</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How you'll learn
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            In in nulla laboris irure nulla est laboris non velit laboris sint.
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-details-edit">Change<span class="govuk-visually-hidden"> how you'll learn</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What you'll need to bring
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Occaecat minim est incididunt qui ut dolore deserunt eiusmod sunt incididunt excepteur sunt magna adipisicing. Aute ullamco veniam veniam consectetur laborum consequat adipisicing proident sint mollit magna incididunt minim.
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-details-edit">Change<span class="govuk-visually-hidden"> what you'll need to bring</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How you'll be assessed
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Proident occaecat sunt culpa sint enim cupidatat pariatur pariatur sunt amet veniam. Qui occaecat voluptate nostrud id laborum anim cupidatat in sit reprehenderit ullamco aliqua.
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-details-edit">Change<span class="govuk-visually-hidden"> how you'll be assessed</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What you can do next
          </dt>
          <dd class="govuk-summary-list__value" style="word-break: break-word;">
            Laborum Lorem aliqua ex ex aliquip quis labore.
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
            <a class="govuk-link" href="course-details-edit">Change<span class="govuk-visually-hidden"> what you can do next</span></a>
          </dd>
        </div>


      </dl>

  </div>
</div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
