{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm2.html" %}

{% block pageTitle %}
  Data Management - Publish apprenticeship data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% set items = 
  [
    {
      "APPRENTICESHIP_NAME": "Team Leader / Supervisor",
      "STANDARD_CODE": 105,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship is aimed at team leaders and supervisors who are primarily responsible for motivating and supporting their team members while meeting agreed outputs and targets. If you are looking to improve the leadership skills within your organisation, this apprenticeship will add value to your business.Our industry qualified and experienced Skills Tutors will provide a learning activity for the apprentice every month. This will involve our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to perform support and observations to build a portfolio of evidence.The Skills Tutor will also engage with the apprentice and the employer to continually plan, assess and review the programme of learning.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235 833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 500,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex"
    },
    {
      "APPRENTICESHIP_NAME": "Retail Team Leader",
      "STANDARD_CODE": 140,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship is for retail team leaders, who deliver exceptional customer service and a positive experience to customers, and may have to deputise for managers in their absence. Most significantly, retail team leaders guide and coordinate the work of the team to complete tasks, identify and explore opportunities that drive sales. This apprenticeship will provide individuals with the knowledge and skills to carry out the job effectively.Our industry qualified and experienced Skills Tutors will provide learning activities for the apprentice each month. This will involve the use of our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to provide support and observations to build a portfolio of evidence.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235 833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 500,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Healthcare Assistant Practitioner",
      "STANDARD_CODE": 102,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship is for individuals looking to become qualified Healthcare Assistant Practitioners, who work as part of the wider health and social care team and have direct contact with patients, service users or clients providing high quality and compassionate care. This apprenticeship will enable apprentices to have a more in-depth understanding about factors that influence health and ill-health. (e.g. anatomy and physiology.)Our industry qualified and experienced Skills Tutors will provide learning activities for the apprentice each month. This will involve the use of our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to provide support and observations to build a portfolio of evidence.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 50,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Retail Manager",
      "STANDARD_CODE": 147,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship is for retail managers, who are responsible for delivering sales targets and a positive experience to customers that will encourage repeat custom and loyalty to the brand / business. Throughout this apprenticeship you will gain the skills and knowledge to equip you to fulfil this diverse role that includes leading and developing a team to achieve business objectives and working with a wide range of people.Our industry qualified and experienced Skills Tutors will provide learning activities for the apprentice each month. This will involve the use of our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to provide support and observations to build a portfolio of evidence.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 500,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Adult Care Worker",
      "STANDARD_CODE": 119,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "<p>This apprenticeship will cover the wide-ranging skills and knowledge needed to care for others in a broad range of health or social care settings. Apprentices will also complete a Diploma in Adult Care where they will be given the option to choose a pathway that suits their role or progression requirements - for example, working with people who have dementia. Apprentices will also complete The Care Certificate standards. Our industry qualified and experienced Skills Tutors will provide a learning activity for the apprentice every month. This will involve the use of our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to perform support and observations to build a portfolio of evidence.</p>",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 500,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Healthcare Support Worker",
      "STANDARD_CODE": 103,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship is ideal if you are already working in a clinical healthcare support role or are new to the sector. During this apprenticeship you will provide assistance to healthcare professionals in diagnosing, treating and caring for patients, whilst gaining the skills and knowledge to become competent in supporting doctors, nurses, allied health professionals and healthcare scientists.Our industry qualified and experienced Skills Tutors will provide a learning activity for the apprentice every month. This will involve the use of our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to perform support and observations to build a portfolio of evidence.The Skills Tutor will also engage with the apprentice and the employer to continually plan, assess and review the programme of learning.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 500,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Lead Adult Care Worker",
      "STANDARD_CODE": 118,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This wide-ranging apprenticeship provides a suitable way to meet the developmental and qualification needs of a variety of roles and job titles, including support workers, senior care workers, community, support and outreach workers, personal assistants and domiciliary care workers.Included in the apprenticeship is the Diploma in Adult Care and The Care Certificate standards.Our industry qualified and experienced Skills Tutors will provide a learning activity for the apprentice every month. This will involve the use of our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to perform support and observations to build a portfolio of evidence.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 500,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Supply Chain Warehouse Operative",
      "STANDARD_CODE": 111,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship is for individuals who work or want to work as a team member in a warehousing operation within the logistics sector. This apprenticeship covers a range of activities carried out by staff working within a warehousing and storage environment.Our industry qualified and experienced Skills Tutors will provide a learning activity for the apprentice every month. This will involve the use of our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to perform support and observations to build a portfolio of evidence.The Skills Tutor will also engage with the apprentice and the employer to continually plan, assess and review the programme of learning.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 500,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Customer Service Practitioner",
      "STANDARD_CODE": 122,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship is directed at those working within a customer service environment within any industry sector. The apprenticeship will cover the practical skills for dealing with people both internally & externally and learning to provide a great level of customer service.Our industry qualified and experienced Skills Tutors will provide a learning activity for the apprentice every month. This will involve our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to perform support and observations to build a portfolio of evidence.The Skills Tutor will also engage with the apprentice and the employer to continually plan, assess and review the programme of learning.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 100,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Retailer",
      "STANDARD_CODE": 101,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship has been developed to ensure individuals working in a Retail environment are gaining the skills and knowledge needed to become a competent and confident Retailer.Apprentices will undergo a 13-month programme at Level 2, during which time the focus is on developing the following key skills: Marketing, Communication, Finance, Sales and Promotion, Product and Services, Brand and Reputation, Merchandising, Stock Levels, Technology, Team-working, Performance, Legal, Governance and Diversity.We work closely with our employers to plan and deliver blended learning solutions unique to each customer, ensuring apprentices are prepared for a learning journey that features competence-based training, practical skills and knowledge.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235 833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 500,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Senior Healthcare Support Worker",
      "STANDARD_CODE": 151,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship is aimed at Senior Healthcare Support Workers, who help Registered Practitioners deliver healthcare services to people. If you are looking to improve the healthcare services within your organisation, this apprenticeship will add value to your business.Our industry qualified and experienced Skills Tutors will provide a learning activity for the learner every month. This will involve our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to perform support and observations to build a portfolio of evidence.The Skills Tutor will also engage with the learner and the employer to continually plan, assess and review the programme of learning.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 50,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Business Administrator",
      "STANDARD_CODE": 196,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship has been developed to ensure individuals working in an Administrative environment are gaining the skills and knowledge needed to become a competent and confident Administrator.Apprentices will undergo a 18-month programme at Level 3, during which time the focus is on developing the following key skills: IT, record and document production, decision making, interpersonal skills, communications, quality, planning & organisation and project management.We work closely with our employers to plan and deliver blended learning solutions unique to each customer, ensuring apprentices are prepared for a learning journey that features competence-based training, practical skills and knowledge.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 100,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Associate Project Manager",
      "STANDARD_CODE": 128,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship has been developed to ensure individuals working in a Project Management role are gaining the skills and knowledge needed to become competent Project Managers.Apprentices will undergo an 18-month programme at Level 4, during which time the focus is on developing key skills, which include: project governance, budgeting control, business cases, scope management, schedule management, risk and issue management, contract management and procurement, quality management and resource management.We work closely with our employers to plan and deliver blended learning solutions unique to each customer, ensuring apprentices are prepared for a learning journey that features competence-based training, practical skills and knowledge.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 100,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Operations / Departmental Manager",
      "STANDARD_CODE": 104,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship is for an operations/departmental manager who would like to achieve operational or departmental goals and objectives, as part of the delivery of their organisation's strategy. Key responsibilities may include creating and delivering operational plans, managing projects, leading and managing teams, managing change, financial and resource management, talent management, coaching and mentoring.Our industry qualified and experienced Skills Tutors will provide a learning activity for the apprentice every month. This will involve the use of our e-learning portal (Learning Assistant) and visits to the workplace for the Skills Tutor to perform support and observations to build a portfolio of evidence.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 500,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    },
    {
      "APPRENTICESHIP_NAME": "Large Goods Vehicle (LGV) Driver",
      "STANDARD_CODE": 110,
      "STANDARD_VERSION": 1,
      "APPRENTICESHIP_INFORMATION": "This apprenticeship has been developed to ensure individuals working in the Transport and Logistics environment are gaining the skills and knowledge needed to become a competent and qualified Large Goods Vehicle Driver.Apprentices will undergo a 13-month programme at Level 2, during which time the focus is on developing key skills, which include: safe and controlled driving techniques, using relevant equipment and machinery safely, comply with relevant systems, preparing the vehicle and load for deliveries, plan routes effectively, use basic IT systems and maintain health & safety at all times.We work closely with our employers to plan and deliver blended learning solutions unique to each customer, ensuring apprentices are prepared for a learning journey that features competence-based training, practical skills and knowledge.",
      "APPRENTICESHIP_WEBPAGE": "http://www.qube-learning.co.uk/course-menu/",
      "CONTACT_EMAIL": "tellmemore@qube-learning.co.uk",
      "CONTACT_PHONE": "01235833838",
      "CONTACT_URL": "http://www.qube-learning.co.uk/contact-head-office/",
      "DELIVERY_METHOD": "Employer",
      "VENUE": "",
      "RADIUS": 100,
      "DELIVERY_MODE": "Employer",
      "ACROSS_ENGLAND": "",
      "NATIONAL_DELIVERY": "",
      "REGION": "",
      "SUB_REGION": "Warrington;Lancashire;North Lincolnshire;Leeds;Derby;Northamptonshire;Nottingham;Stoke-on-Trent;Birmingham;Walsall;Worcestershire;Bedford;Essex;Hertfordshire;Norfolk;Peterborough;Suffolk;Westminster;Southampton;Kent;Oxfordshire;Surrey;West Sussex;Swindon;Devon"
    }
    ]
%}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Check and publish your apprenticeship data</h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Your file of 15 apprenticeships has no errors and is ready to be published to the course directory.</p>
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View list of apprenticeships
        </span>
      </summary>
      <div class="govuk-details__text">

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Apprenticeship</th>
              <th scope="col" class="govuk-table__header">Delivery method</th>
              <!-- th scope="col" class="govuk-table__header">Status</th-->
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for item in items %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">{{item.APPRENTICESHIP_NAME}}</td>
                <td scope="row" class="govuk-table__cell govuk-body-s">{{item.DELIVERY_METHOD}}</td>
              </tr>

            {% endfor %}
          </tbody>
        </table>

      </div>
    </details>

    {{ govukWarningText({
      text: "Publishing these apprenticeships will replace all of your apprenticeships on Publish to the course directory",
      iconFallbackText: "warning"
    }) }}
<!--
    <ul class="govuk-list govuk-list--bullet">
      <li>
        212 of your uploaded apprenticeships are already live on apprenticeship Directory
      </li>
      <li>
        81 of your uploaded apprenticeships will be added to apprenticeship Directory
      </li>
      <li>
        35 publish apprenticeships will be removed from the apprenticeship Directory
      </li>
    </ul>

    <h1 class="govuk-heading-m">
      ~ OR ~
    </h1>
-->
<!--
    <dl class="govuk-summary-list govuk-summary-list--dataupload">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          apprenticeship already published on apprenticeship directory
        </dt>
        <dd class="govuk-summary-list__value">
          212
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            View<span class="govuk-visually-hidden"> published apprenticeships</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          apprenticeships to be added to apprenticeship directory
        </dt>
        <dd class="govuk-summary-list__value">
          81
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            View<span class="govuk-visually-hidden"> apprenticeships to be added</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Published apprenticeships to be deleted from apprenticeship directory
        </dt>
        <dd class="govuk-summary-list__value">
          35
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            View<span class="govuk-visually-hidden"> apprenticeships to be deleted</span>
          </a>
        </dd>
      </div>
    </dl>
-->

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Are you sure?
          </h2>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="areyousure" name="areyousure" type="checkbox" value="delete">
            <label class="govuk-label govuk-checkboxes__label" for="areyousure">
              Yes, I want to publish these apprenticeships
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        classes: "govuk-button--publish govuk-button--disabled",
        href: "/" + version + "/data-upload/apprenticeships/success",
        text: "Publish"
      }) }}

      {{ govukButton({
        classes: "govuk-button--secondary govuk-!-margin-left-3",
        href: "/" + version + "/data-upload",
        text: "Cancel"
      }) }}

    </div>

  </div>

</div>

<!--  -->


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->

{% block pageScripts %}

	<script>
    $( "#areyousure" ).on( "change", function() {
      var $this = $(".govuk-button--publish");
      if ($this.hasClass('govuk-button--disabled')) {
        $this.removeAttr('disabled');
        $this.removeClass('govuk-button--disabled');
      } else {
        $this.attr('disabled', 'disabled');
        $this.addClass('govuk-button--disabled');
      }
    });
  </script>

{% endblock %}