{% set navActive = 'apprenticeships' %}
{% extends "layouts/layout-v1.html" %}

{% block pageTitle %}
  Apprenticeships
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <!--  -->
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Your published apprenticeship training courses</h1>
    <div id="LarsSearch">
      <div class="header-search-content">
        <div class="search-input-wrapper">
          <label class="govuk-body govuk-!-margin-bottom-0" id="courseSearch">Search by apprenticeship name or keyword</label>
          <div class="search--container">
            <input class="govuk-input search-input js-search-focus" type="text" aria-labelledby="courseSearch" data-val="true" id="Search" name="Search" value="">
            <div class="cd-c-search__item cd-search__submit-wrapper">
              <button type="button" class=" submit" id="searchButton">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="results">

      <div class="pttcd-lars-search-result__container">
        <h2 class="govuk-heading-m">Adult Care Worker</h2>
        <p class="govuk-body">Level: <strong>2</strong></p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
        <p class="govuk-body" style="text-align: right;">
          <a class="govuk-link govuk-!-margin-right-3" href="/{{version}}/apprenticeships/view">View and edit </a>
          <a class="govuk-link" href="/{{version}}/apprenticeships/delete">Delete</a>
        </p>
      </div>

      <div class="pttcd-lars-search-result__container">
        <h2 class="govuk-heading-m">Building Services Design Engineer (degree)</h2>
        <p class="govuk-body">Level: <strong>6</strong></p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
        <p class="govuk-body" style="text-align: right;">
          <a class="govuk-link govuk-link--blocked govuk-!-margin-right-3" href="javascript:preventDefault();">View and edit </a>
          <a class="govuk-link govuk-link--blocked" href="javascript:preventDefault();">Delete</a>
        </p>
      </div>

      <div class="pttcd-lars-search-result__container">
        <h2 class="govuk-heading-m">Creative Digital Design Professional (integrated degree)</h2>
        <p class="govuk-body">Level: <strong>6</strong></p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
        <p class="govuk-body" style="text-align: right;">
          <a class="govuk-link govuk-link--blocked govuk-!-margin-right-3" href="javascript:preventDefault();">View and edit </a>
          <a class="govuk-link govuk-link--blocked" href="javascript:preventDefault();">Delete</a>
        </p>
      </div>

      <div class="pttcd-lars-search-result__container">
        <h2 class="govuk-heading-m">Embedded Electronic Systems Design and Development Engineer (degree)</h2>
        <p class="govuk-body">Level: <strong>6</strong></p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
        <p class="govuk-body" style="text-align: right;">
          <a class="govuk-link govuk-link--blocked govuk-!-margin-right-3" href="javascript:preventDefault();">View and edit </a>
          <a class="govuk-link govuk-link--blocked" href="javascript:preventDefault();">Delete</a>
        </p>
      </div>

      <div class="pttcd-lars-search-result__container">
        <h2 class="govuk-heading-m">Junior 2D Artist (visual effects)</h2>
        <p class="govuk-body">Level: <strong>4</strong></p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
        <p class="govuk-body" style="text-align: right;">
          <a class="govuk-link govuk-link--blocked govuk-!-margin-right-3" href="javascript:preventDefault();">View and edit </a>
          <a class="govuk-link govuk-link--blocked" href="javascript:preventDefault();">Delete</a>
        </p>
      </div>

      <div class="pttcd-lars-search-result__container">
        <h2 class="govuk-heading-m">Storyboard Artist</h2>
        <p class="govuk-body">Level: <strong>7</strong></p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
        <p class="govuk-body" style="text-align: right;">
          <a class="govuk-link govuk-link--blocked govuk-!-margin-right-3" href="javascript:preventDefault();">View and edit </a>
          <a class="govuk-link govuk-link--blocked" href="javascript:preventDefault();">Delete</a>
        </p>
      </div>

    </div>
    <!--  -->
  </div>

</div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
