{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm5.html" %}

{% block pageTitle %}
  Data Upload - Resolve errors in course data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
    text: "Back to Data Upload",
    href: "/" + version + "/data-upload/"
  }) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Resolve errors in your course data</h1>

    <p class="govuk-body">

    <p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
  <th scope="col" rowspan="2" class="govuk-table__header">Course</th>
  <th scope="col" class="govuk-table__header">Delivery type</th>
  <th scope="col" class="govuk-table__header">Start date</th>
  <th scope="col" class="govuk-table__header">Error(s)</th>
  <th scope="col" colspan="2" class="govuk-table__header"></th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__header-noborder"><span class="govuk-body-s"><strong>LARS title</strong> Science Level 2 (Functional skills)</td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;"></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link"></a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link"><strong></strong></a></td>
</tr>
<tr>
<td class="govuk-body-s"> <strong>LARS</strong> 00222222</td>
</tr>

<tr>
  <td class="govuk-table__cell-noborder"><br></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;"></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/resolve-course-descriptioncourse" class="govuk-link"></a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/delete-course-description" class="govuk-link"></a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__header-noborder">Science Level 2</td>
  <td class="govuk-table__cell-noborder">Online</td>
  <td class="govuk-table__cell-noborder">3/11/2019</td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Start date</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/resolve-course-details-online" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/delete-course-run" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">Science Level 2</td>
  <td class="govuk-table__cell">Online</td>
  <td class="govuk-table__cell">3/11/2019</td>
  <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Start date</td>
  <td class="govuk-table__cell govuk-body-s"><a href="data-upload/resolve-course-details-online" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell govuk-body-s"><a href="data-upload/delete-course-run" class="govuk-link">Delete</a></td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__header-noborder"><span class="govuk-body-s"><strong>LARS title</strong> English Level 2 (Functional skills)</td>
</tr>
<tr>
<td class="govuk-body-s"> <strong>LARS</strong> 0012345X</td>
</tr>
<tr>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Course description</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/resolve-course-descriptioncourse" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/delete-course-description" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell-noborder">English Level 2 (Functional skills)</td>
  <td class="govuk-table__cell-noborder">Classroom</td>
  <td class="govuk-table__cell-noborder">3/11/2019</td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Start date</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/resolve-course-details-classroom" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/delete-course-run" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell-noborder">English</td>
  <td class="govuk-table__cell-noborder">Classroom</td>
  <td class="govuk-table__cell-noborder">11/11/2021</td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Venue, Cost</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/resolve-course-details-classroom" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell-noborder">Foundation English</td>
  <td class="govuk-table__cell-noborder">Classroom</td>
  <td class="govuk-table__cell-noborder">11/11/2021</td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Cost</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="data-upload/resolve-course-details-classroom" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">English Level 2 (Functional skills)</td>
  <td class="govuk-table__cell">Classroom</td>
  <td class="govuk-table__cell">11/11/2021</td>
  <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Your venue reference</td>
  <td class="govuk-table__cell govuk-body-s"><a href="data-upload/resolve-course-details-classroom" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>

<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__header-noborder"><span class="govuk-body-s"><strong>LARS title</strong> Maths Level 2 (Functional skills)</td>
</tr>
<tr>
<td class="govuk-body-s"> <strong>LARS</strong> 00444456</td>
</tr>
<tr>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Course description</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__header"></td>
  <td class="govuk-table__cell"></td>
  <td class="govuk-table__cell"></td>
  <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;"></td>
  <td class="govuk-table__cell govuk-body-s"><a href="data-upload/resolve-course-details-workbased2" class="govuk-link"></a></td>
  <td class="govuk-table__cell govuk-body-s"><a href="#" class="govuk-link"></a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__header-noborder"><span class="govuk-body-s"><strong>LARS title</strong> GCSE (9-1) in Geography B (Geography for Enquiring Minds)</td>
</tr>
<tr>
<td class="govuk-body-s"> <strong>LARS</strong> 00444456</td>
</tr>
<tr>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Course description</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">GCSE Geography</td>
  <td class="govuk-table__cell">Workbased</td>
  <td class="govuk-table__cell">11/11/2021</td>
  <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Location, <br>Attendance pattern, Cost</td>
  <td class="govuk-table__cell govuk-body-s"><a href="#" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__header-noborder"><span class="govuk-body-s"><strong>LARS title</strong> Award in Fashion - Sewing Machine Skills</td>
</tr>
<tr>
<td class="govuk-body-s"> <strong>LARS</strong> 60074085</td>
</tr>

<tr>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Course description</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">Award in Fashion - Sewing Machine Skills</td>
  <td class="govuk-table__cell">Workbased</td>
  <td class="govuk-table__cell">11/11/2021</td>
  <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Location</td>
  <td class="govuk-table__cell govuk-body-s"><a href="#" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__header-noborder"><span class="govuk-body-s"><strong>LARS title</strong> Award in Fashion - Sewing Machine Skills</td>
</tr>
<tr>
<td class="govuk-body-s"> <strong>LARS</strong> 60074085</td>
</tr>

<tr>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder"></td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Course description</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell-noborder">Certificate in Sewing</td>
  <td class="govuk-table__cell-noborder">Classroom</td>
  <td class="govuk-table__cell-noborder">11/11/2021</td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Venue</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell-noborder">Sewing Skills</td>
  <td class="govuk-table__cell-noborder">Classroom</td>
  <td class="govuk-table__cell-noborder">01/01/2022</td>
  <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Venue</td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
<tr class="govuk-table__row">
  <td scope="row" class="govuk-table__cell">Sewing Machine Skills</td>
  <td class="govuk-table__cell">Classroom</td>
  <td class="govuk-table__cell">03/03/2022</td>
  <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Cost</td>
  <td class="govuk-table__cell govuk-body-s"><a href="#" class="govuk-link">Resolve</a></td>
  <td class="govuk-table__cell govuk-body-s"><a href="#" class="govuk-link">Delete</a></td>
</tr>
</tbody>
</table>

</div>
</div>

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
