{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm5.html" %}

{% block pageTitle %}
  Data Upload - Publish apprenticeship data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#areyousure">Confirm you want to publish these apprenticeships</a>
          </li>
        </ul>
      </div>
    </div>

    <h1 class="govuk-heading-xl">Publish your apprenticeship data</h1>

    </div>
    </div>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Publishing your apprenticeship training courses will add them to Publish to the course directory.

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key cd-width__50">
            Your apprenticeship <br> data file
          </dt>
          <dd class="govuk-summary-list__value">
            25 apprenticeship training courses
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key cd-width__50">
            Existing venues linked to live courses
          </dt>
          <dd class="govuk-summary-list__value">
            2 venues
          </dd>
        </div> -->
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key cd-width__50">
            Ready to be published
          </dt>
          <dd class="govuk-summary-list__value">
            7 venues
          </dd>
        </div> -->
      </dl>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View list of apprenticeships
          </span>
        </summary>
        <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" rowspan="2" class="govuk-table__header">Apprenticeship</th>
      <th scope="col" class="govuk-table__header">Delivery method</th>
      <!-- <th scope="col" class="govuk-table__header">Error(s)</th> -->
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header-noborder">Forensic Collision Investigator (Integrated Degree)</td>
      <td class="govuk-table__cell-noborder"></td>
      <td class="govuk-table__cell-noborder"></td>
      <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;"></td>
      <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link"></a></td>
      <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link"><strong></strong></a></td>
    </tr>
    <tr>
    <td class="govuk-body-s"> <strong>Standard Code</strong> 850 <strong>Version</strong> 1</td>
  </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header-noborder"></th>
      <td class="govuk-table__cell-noborder">Classroom</td>
      <!-- <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Venue</td> -->

    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header"></td>
      <td class="govuk-table__cell">Employer</td>
      <!-- <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">National delivery</td> -->
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header-noborder">Cyber Security Technologist (2021)</td>
    </tr>
    <tr>
    <td class="govuk-body-s"> <strong>Standard Code</strong> 1021 <strong>Version</strong> 1</td>
  </tr>
  <tr>
      <td class="govuk-table__cell-noborder"></td>
      <td class="govuk-table__cell-noborder"></td>
      <!-- <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Apprenticeship information</td> -->

    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header-noborder"></td>
      <td class="govuk-table__cell-noborder">Classroom</td>
      <!-- <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Delivery mode</td> -->
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header"></td>
      <td class="govuk-table__cell">Employer</td>
      <!-- <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Sub region</td> -->
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header-noborder">DevOps engineer</td>
    </tr>

    <tr>
    <td class="govuk-body-s"> <strong>Standard Code</strong> 825 <strong>Version</strong> 1</td>
    </tr>

    <tr>
      <td class="govuk-table__cell-noborder"></td>
      <td class="govuk-table__cell-noborder"></td>
      <!-- <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Apprenticeship information</td> -->
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header"></td>
      <td class="govuk-table__cell">Both</td>
      <!-- <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Across England</td> -->
    </tr>

  </tbody>
  </table>
      </details>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <p class="govuk-body">Your file of 136 apprenticeships has no errors and is ready to be published to the course directory.</p> -->

    {{ govukWarningText({
      text: "Publishing will replace all of your apprenticeships on Publish to the course directory",
      iconFallbackText: "warning"
    }) }}

    <div class="govuk-form-group govuk-form-group--error">
      <span id="Areyousure-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Confirm you want to publish these apprenticeships
        </span>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Are you sure?
          </h2>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="areyousure" name="areyousure" type="checkbox" value="delete">
            <label class="govuk-label govuk-checkboxes__label" for="areyousure">
              Yes, I want to publish these apprenticeships
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        classes: "govuk-button--publish govuk-button--disabled",
        href: "/" + version + "/data-upload-noerrors/apprenticeships/success",
        text: "Publish"
      }) }}

      {{ govukButton({
        classes: "govuk-button--secondary govuk-!-margin-left-3",
        href: "/" + version + "/data-upload-noerrors",
        text: "Cancel"
      }) }}

    </div>

  </div>

</div>

<!--  -->


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->

{% block pageScripts %}

	<script>
    $( "#areyousure" ).on( "change", function() {
      var $this = $(".govuk-button--publish");
      if ($this.hasClass('govuk-button--disabled')) {
        $this.removeAttr('disabled');
        $this.removeClass('govuk-button--disabled');
      } else {
        $this.attr('disabled', 'disabled');
        $this.addClass('govuk-button--disabled');
      }
    });
  </script>

{% endblock %}
