{% extends "layout.html" %}

{% block pageTitle %}
Delete apprenticeship
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="#">
              Apprenticeships
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Venues
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Data upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Delete apprenticeship
    </h1>

    <p class="govuk-body">Deleting this apprenticeship will remove it from Publish to the course directory and Find an apprenticeship training.</p>

    <!--  -->

    <dl class="govuk-summary-list govuk-!-margin-bottom-7">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Apprenticeship
        </dt>
        <dd class="govuk-summary-list__value" style="word-break: break-word;">
          Aviation Maintenance Mechanic (Military)
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Apprenticeship level
        </dt>
        <dd class="govuk-summary-list__value" style="word-break: break-word;">
          2
        </dd>
      </div>

    </dl>

    <!--  -->



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Are you sure?
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input enable" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Yes - I want to delete the apprenticeship
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <!--  -->

    <div class="govuk-button-group">
  <!-- <button class="govuk-button" data-module="govuk-button">
    Continue
  </button> -->
  <a href="delete-confirmation"><button class="govuk-button govuk-button--warning enable-disable" data-module="govuk-button" disabled="disabled">
    Delete
  </button></a>
  
  <a class="govuk-link" href="#">Cancel</a>
</div>


  </div>

</div>
<!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
