{% extends "layout.html" %}

{% block pageTitle %}
Home screen
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/Vincent/Homescreen-add-qualification">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              Apprenticeships
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Venues
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              T Levels
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Data upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<!-- {{ govukBackLink({
  text: "Back to home screen",
  href: "#"
}) }} -->


{% endblock %}


{% block content %}


<!-- content start -->

<div class="pttcd-notice govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">New to Publish to the course directory</h2>
  <p class="govuk-body">We've replaced bulk upload with data upload, allowing easier and quicker uploads for your courses, apprenticeships and venues.</p>
  <p class="govuk-body">Courses and venue data upload will be available from Friday 20 August.  Apprenticeship data upload will be available in September 2021.</p>
  <p class="govuk-body"><a href="https://www.gov.uk/government/news/new-data-upload-facility-on-publish-to-the-course-directory">News and communications (opens in new tab)</a></p>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">PRESIDENCY LONDON COLLEGE LIMITED</h1>
    <p class="govuk-body">Your UK Provider Reference Number (UKPRN) is <span class="govuk-!-font-weight-bold">10035735</span></p>
    <p><a href="javascript:preventDefault();" class="govuk-link">Your provider details</a></p>
  </div>
</div>

<!--  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">Courses</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2 homescreen-row">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider">
      <h2 class="govuk-heading-s">Published courses</h2>
      <p class="cd-card-number-1">224</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your courses</h2>
        <p class="govuk-body-s">View and manage the courses you offer to learners.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="Searchregulated">Add a course<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">View and edit courses<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Course data upload</h2>
        <p class="govuk-body-s">Upload your courses with a CSV file.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Upload new course data<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
          <li>
            <a class="govuk-link" href="#">CSV file format requirements<span class="govuk-visually-hidden">courses guidance</span></a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Download course data template (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Download your published course data (CSV)</a>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>

<!--  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">Apprenticeships</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2 homescreen-row">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider">
      <h2 class="govuk-heading-s">Published apprenticeships</h2>
      <p class="cd-card-number-1">16</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your apprenticeships</h2>
        <p class="govuk-body-s">View and manage the apprenticeship training courses you offer to employers.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Add an apprenticeship<span class="govuk-visually-hidden"> add apprenticeship training courses</span></a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">View and edit apprenticeships<span class="govuk-visually-hidden"> view and edit apprenticeship training courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Apprenticeship data upload</h2>
        <p class="govuk-body-s">Upload your apprenticeships with a CSV file.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Upload new apprenticeship data<span class="govuk-visually-hidden"> upload apprenticeship data</span></a>
          </li>
          <li>
            <a class="govuk-link" href="#">CSV file format requirements<span class="govuk-visually-hidden">apprenticeship guidance</span></a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Download your published apprenticeship data (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Download apprenticeship data template (CSV)</a>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>

<!--  -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">T Levels</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2 homescreen-row">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider">
      <h2 class="govuk-heading-s">Published T Levels</h2>
      <p class="cd-card-number-1">10</p>
      <!-- <p class="cd-card-number-1">{{ data['sprint13-tlevels-count'] }}</p> -->
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your T Levels</h2>
        <p class="govuk-body-s">View and manage the T Levels you offer to learners.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="#">Add a T Level</a>
          </li>
          {% if data['sprint13-tlevels-count'] > 0 %}
          <li>
            <a class="govuk-link" href="#">View and edit T Levels</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

</div>

<!--  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">Venues</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4 homescreen-row">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider">
      <h2 class="govuk-heading-s">Published venues</h2>
      <p class="cd-card-number-1">5</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your venues</h2>
        <p class="govuk-body-s">View and manage the venues for your learning and training.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Add a venue<span class="govuk-visually-hidden"> add a venue</span></a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">View and edit venues<span class="govuk-visually-hidden"> view and edit venues</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Venue data upload</h2>
        <p class="govuk-body-s">Upload your venues with a CSV file.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Upload new venue data<span class="govuk-visually-hidden"> upload apprenticeship data</span></a>
          </li>
          <li>
            <a class="govuk-link" href="#">CSV file format requirements<span class="govuk-visually-hidden"> venue guidance</span></a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Download your published venue data (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Download venue data template (CSV)</a>
          </li>

        </ul>
      </div>
    </div>
  </div>


</div>

<!--  -->

<!-- contact panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="cd-contact-panel">
      <h2 class="govuk-heading-m">Need help?</h2>
      <p class="govuk-body">
        If you’ve got a question about Publish to the course directory, <a class="govuk-link" href="contact">contact the support team</a>.
      </p>
    </div>
  </div>
</div>

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
