{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm5.html" %}

{% block pageTitle %}
  Data Upload - Publish course data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Course data errors</h1>

    {% if data['dm5courses-deleted'] or data['dm5courses-resolved'] %}
    {% else %}
      <!-- only show if file has just been uploaded -->
      <!-- <p class="govuk-body">Your course data has been uploaded.</p> -->
    {% endif %}
    <p class="govuk-body">
      Your data upload has {{ data['dm5courses-errorcount'] - ((data['dm5courses-deleted'] | length) + (data['dm5courses-resolved'] | length)) }} errors in 25 courses.  You must resolve these errors before your data can be published.
    <p>
    <!--p class="govuk-body">The unpublished course data has {{ data['dm5courses-errorcount'] - ((data['dm5courses-deleted'] | length) + (data['dm5courses-resolved'] | length)) }} errors.
      You can <a href="javascript:preventDefault();" class="govuk-link govuk-link--blocked">download all of your courses including the errors in a CSV file</a>.</p-->

  </div>

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View errors in your upload
        </span>
      </summary>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" rowspan="2" class="govuk-table__header">Course name</th>
        <th scope="col" class="govuk-table__header">Delivery type</th>
        <th scope="col" class="govuk-table__header">Start date</th>
        <th scope="col" class="govuk-table__header">Error(s)</th>
        <th scope="col" colspan="2" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header-noborder">English Level 2 (Functional skills)</td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;"></td>
        <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link"></a></td>
        <td class="govuk-table__cell-noborder govuk-body-s"><a href="#" class="govuk-link"><strong></strong></a></td>
      </tr>
      <tr>
      <td class="govuk-body-s"> <strong>LARS</strong> 0012345X</td>
    </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header-noborder"></th>
        <td class="govuk-table__cell-noborder">Online</td>
        <td class="govuk-table__cell-noborder">3 Sept 2019</td>
        <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Start date</td>
        
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header"></td>
        <td class="govuk-table__cell">Online</td>
        <td class="govuk-table__cell">3 Sept 2019</td>
        <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Start date</td>

      </tr>

      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header-noborder">English Level 2 (Functional skills)</td>
      </tr>
      <tr>
      <td class="govuk-body-s"> <strong>LARS</strong> 0012345X</td>
    </tr>
    <tr>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Course description</td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header-noborder"></td>
        <td class="govuk-table__cell-noborder">Classroom</td>
        <td class="govuk-table__cell-noborder">3 Sept 2019</td>
        <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Start date</td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header-noborder"></td>
        <td class="govuk-table__cell-noborder">Classroom</td>
        <td class="govuk-table__cell-noborder">3 Sept 2021</td>
        <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Venue, Cost</td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header"></td>
        <td class="govuk-table__cell">Classroom</td>
        <td class="govuk-table__cell">3 Sept 2021</td>
        <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Your venue reference</td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header-noborder">English Level 2 (Functional skills)</td>
      </tr>
      <tr>
      <td class="govuk-body-s"> <strong>LARS</strong> 0012345X</td>
      </tr>
      <tr>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Course description</td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header"></td>
        <td class="govuk-table__cell">Workbased</td>
        <td class="govuk-table__cell">3 Sept 2021</td>
        <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Location</td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header-noborder">Maths Level 2 </td>
      </tr>
      <tr>
      <td class="govuk-body-s"> <strong>LARS</strong> 04563432</td>
      </tr>
      <tr>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Course description</td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header"></td>
        <td class="govuk-table__cell">Workbased</td>
        <td class="govuk-table__cell">3 Sept 2021</td>
        <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">Location, <br>Attendance pattern, Cost</td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header-noborder">Maths Level 2 </td>
      </tr>
      <tr>
      <td class="govuk-body-s"> <strong>LARS</strong></td>
      </tr>
      <tr>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder"></td>
        <td class="govuk-table__cell-noborder govuk-body-s"style="color: #d4351c;">Course description</td>

      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header"></td>
        <td class="govuk-table__cell">Workbased</td>
        <td class="govuk-table__cell">3 Sept 2021</td>
        <td class="govuk-table__cell govuk-body-s"style="color: #d4351c;">LARS, Location</td>

      </tr>
    </tbody>
    </table>

    </div>
    </div>
    </details>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">You can <a href="xx">download all of your course data including the errors  (opens in a CSV file)</a> to edit and upload.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      What do you want to do?
    </h2>

    <form action="" method="post" class="form">
      {{ govukRadios({
        idPrefix: "course-validation",
        name: "course-validation",
        items: [
          {
            value: "resolve",
            text: "Resolve the errors on screen"
          },
          {
            value: "upload",
            text: "Upload a new data file"
          },
          {
            value: "cancel",
            text: "Delete upload"
          }
        ]
      }) }}

      {{ govukButton({
        classes: "govuk-button--publish",
        text: "Continue"
      }) }}
    </form>

  </div>

</div>

<!--  -->


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->

{% block pageScripts %}

	<script>
    $( "#areyousure" ).on( "change", function() {
      var $this = $(".govuk-button--publish");
      if ($this.hasClass('govuk-button--disabled')) {
        $this.removeAttr('disabled');
        $this.removeClass('govuk-button--disabled');
      } else {
        $this.attr('disabled', 'disabled');
        $this.addClass('govuk-button--disabled');
      }
    });
  </script>

{% endblock %}
