{% extends "PageLayout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-content-heading govuk-label govuk-label--l">Explore and start your <span style="color:#ff00dc">new career</span></h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column">

        <div style="height:180px;width:100%">

            <img src="/public/images/edu.png" alt="" />
        </div>

        <div class="govuk-form-group">
            <div class="govuk-wrapper-pink">

                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="event-name" style="color:#fff !important">
                        What are you looking for today?
                    </label>
                </h1>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input" id="event-name" name="event-name" type="text" />
                    <input type="button" class="govuk-button" />
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <div id="div1" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Find your dream new career</h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <button class="govuk-button govuk-button-color-pink" data-module="govuk-button">
                Explore Careers
            </button>
        </div>
        <div id="div2" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Find a training course </h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <button class="govuk-button govuk-button-color-pink" data-module="govuk-button">
                Find a course
            </button>
        </div>

        <div id="div3" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Take skill assesment </h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <button class="govuk-button govuk-button-color-pink" data-module="govuk-button">
                Free skill test
            </button>
        </div>

        <div id="div4" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Read Free career advice  </h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <button class="govuk-button govuk-button-color-pink" data-module="govuk-button">
                Get Career Advice
            </button>
        </div>

        <div id="div4" class="govuk-grid-column-full govuk-coloumn-background">
            <h2 class="govuk-heading-m">Read Free career advice  </h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <button class="govuk-button govuk-button-color-black" data-module="govuk-button">
                Get Career Advice
            </button>
        </div>

        <div id="div1" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Find your dream new career</h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <button class="govuk-button govuk-button-color-black" data-module="govuk-button">
                Explore Careers
            </button>
        </div>
        <div id="div2" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Find a training course </h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <button class="govuk-button govuk-button-color-black" data-module="govuk-button">
                Find a course
            </button>
        </div>

        <div id="div3" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Take skill assesment </h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <button class="govuk-button govuk-button-color-black" data-module="govuk-button">
                Free skill test
            </button>
        </div>
        <div id="div3" class="govuk-grid-column-full" style="border-top:2px solid #808080;margin-bottom:10px;">

        </div>
        <div id="div3" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Take skill assesment </h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <h2 class="govuk-heading-m">Take skill assesment </h2>

            <ul class="govuk-list">
                <li>Telephone: 020 7946 0101</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>
            <button class="govuk-button govuk-button-color-pink" data-module="govuk-button">
                Free skill test
            </button>
        </div>

    </div>

</div>
        {% endblock %}
