{% extends "GameDevLayout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <!--<div class="govuk-primary-wrapper">

            <div id="govuk-container">
                <img src="/public/images/banner.png" style="width:100%" alt="" />

           <div class="top-left">
            <h1>
                <label class="govuk-label govuk-label--l govuk-label-pink" for="event-name">
                    Large goods vehicle driver
                </label>

            </h1>
            <p class="govuk-label-black">The role is part of <a href="#">delivery and storage job group</a></p>

           </div>

           </div>
    </div>-->
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third-from-desktop">
        <p>
            <ul class="menu-item">
                <li>
                    <h2 class="govuk-label-heading">Jump to</h2>
                </li>
                <li class="govuk-label"><a href="#dvAboutUs">About this job</a></li>

                <li class="govuk-label">
                    <a href="#dvTypicalDuties">Typical duties</a>
                </li>

                <li class="govuk-label">
                    <a href="#dvSkills">Skills needed</a>
                </li>
                <li class="govuk-label">
                    <a href="#dvCareer">Career prospects</a>
                </li>

                <li class="govuk-label">
                    <a href="#dvSalary">Salary and working hours </a>
                </li>

                <li class="govuk-label">
                    <a href="#dvHTBD">How to become a computer games developer</a>
                </li>
                <li class="govuk-label"><a href="#dvRealStories">Real stories</a> </li>

            </ul>
        </p>
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">

        <div id="dvAboutUs" class="govuk-label govuk-grid-column-full">

            <h2 class="govuk-label govuk-label-heading">About this job</h2>
            <p>
                Computer game developers create video games for phones, tablets, PCs and consoles.

            </p>
            <p>
                In this role, you’ll work with designers and artists to come up with video game concepts, develop ideas and create code.
            </p>
        </div>
        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>
        <div id="dvTypicalDuties" class="govuk-grid-column-full">
            <h2 class="govuk-label govuk-label-heading">
                Typical duties
            </h2>
            <p>
                In a typical day as a computer games developer, you could:


                <ul class="govuk-label">
                    <li>decide what a game will look like and how it can be played</li> decide what a game will look like and how it can be played
                    <li>develop your own ideas or work from an existing idea</li>
                    <li> create concept art, drawings or storyboards at the planning stage</li>
                    <li> create code to programme the game</li>
                    <li> test and debug the code </li>
                    <li> add sound effects </li>
                </ul>

            <p>
                Depending on your role, you may produce and add sound effects to the game.

            </p>
            <p>
                You may also use computer modelling and animation software to make characters and scenes.
            </p>
            <div id="vid-panel">
                <iframe id="ifrm-youtube" width="560" height="315" src="https://www.youtube.com/embed/V5o6CQNPgsQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <label><a href="#">Read the transcript for "Day in life of computer game developer"</a></label>
            </p>
        </div>
        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>
        <div id="dvSalary" class="govuk-label govuk-grid-column-full">
            <h2 class="govuk-label govuk-label-heading">Salary, working hours and environment</h2>

            <h3>Salary</h3>
            <p>
                Your salary may vary depending on your experience. You could expect:
                <ul>
                    <li>a starting salary of £25,000</li>
                    <li>an experienced salary of up to £70,000</li>
                </ul>

            </p>
            <h3>Working hours</h3>
            <p>
                You may work between 30 to 40 hours a week. You could work evenings and weekends ocassionally.
            </p>
            <h3>Working environment</h3>
            <p>
                You may work in a creative studio, in an office or from home.
            </p>
        </div>
        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>
        <div id="dvSkills" class="govuk-labelgovuk-grid-column-full">
            <h2 class="govuk-label govuk-label-heading">Skills needed</h2>
            <p>
                As a computer games developer, you’ll need:
            </p>
            <ul class="govuk-label">
                <li>analytical thinking skills</li>
                <li>complex problem-solving skills</li>
                <li>the ability to use your initiative and come up with news ways of doing things</li>
                <li>the ability to be thorough and pay attention to detail</li>

            </ul>
            <p>
                You’ll  also need to develop specialist skills such as:
            </p>
            <ul class="govuk-label">
                <li>design skills and knowledge</li>
                <li> the ability to write computer code</li>
                <li>an understanding of computer systems and applications</li>
                <li>maths knowledge</li>
            </ul>
            <p>Every 5 years, you’ll need to take 35 hours of driver CPC training and renew your lorry driving licence.</p>
        </div>
        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>
        <div id="#dvHTBD" class="govuk-grid-column-full">
            <h2 class="govuk-label govuk-label-heading">How to become a computer games developer</h2><br />
            <p>
                You can get into this job through:
            </p>
            <ul class="govuk-label">
                <li>a university course</li>
                <li>a college course</li>
                <li>an apprenticeship</li>
                <li>other routes</li>
            </ul>
        </div>

        <div id="#col-1" class="govuk-panel">
            <h2>University</h2>

            <p>
                You can get into this job through a foundation degree or degree. You may choose to do a course in computer games technology or development, computer science, interactive media or mathematics.
            </p>

            <p>If you'd like a job that includes game design as well as programming, you could do a foundation degree or degree in a subject like animation or graphic design.</p>

            <p>You’ll usually need:</p>
            <ul>
                <li>
                    at least 1 A level, or equivalent, for a foundation degree
                </li>
                <li>
                    2 to 3 A levels, or equivalent, for a degree
                </li>

            </ul>

            <a href="https://nationalcareers.service.gov.uk/find-a-course/search>" target="_blank">Find course near you</a>
        </div>
        <div id="#col-2" class="govuk-panel">
            <h2>College</h2>

            <p>You could do a college course before a higher level qualification. It might help you to get an intersnhip or  trainee position with a company.</p>

            <p>Courses could include an A level in computing, a Level 3 Diploma in creative media or a T Level in digital production, design and development.</p>

            <p>You may need:</p>
            <ul>
                <li>
                    4 or 5 GCSEs at grades 9 to 4 (A* to C), or equivalent, including English, maths and computing
                </li>
                <li>
                    4 or 5 GCSEs at grades 9 to 4 (A* to C), or equivalent, including English and maths for a T level
                </li>
                <li>
                    1 or 2 A levels, or equivalent, for a higher national certificate or higher national diploma
                </li>
            </ul>

            <a href="https://nationalcareers.service.gov.uk/find-a-course/search" target="_blank">Find course near you</a>
        </div>

        <div id="#col-3" class="govuk-panel">
            <h2>Apprenticeship</h2>
            <p>You could do an apprenticeship to get started in this role.</p>
            <p>
                You can get into this job through a higher apprenticeship such as software developer, junior 2D artist and junior vfx artist.
            </p>
            <p>
                You could also do a game programmer degree apprenticeship.
            </p>
            <p>
                You’ll usually need 4 or 5 GCSEs at grades 9 to 4 (A* to C) and A levels, or equivalent, for a higher or degree apprenticeship
            </p>
            <a href="https://www.gov.uk/apply-apprenticeship" target="_blank">Find apprenticeships near you</a>
        </div>

        <div id="#col-4" class="govuk-panel">

            <h2>  Other routes </h2>
            <p>
                You could start as a <a href="https://nationalcareers.service.gov.uk/job-profiles/computer-games-tester">games tester</a> if you play a lot of games.
            </p>
            <p>
                You'll usually need an IT qualification or some relevant work experience. Employers will be interested in your talent and creativity.
            </p>
            <p>
                You may also find it helps to have A levels or a diploma in relevant subjects like computing or media production.
            </p>

        </div>
        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>
        <div id="dvCareer" class="govuk-grid-column-full">
            <h2 class="govuk-label-heading">Career tips</h2>
            <p>
                You can create a portfolio of work or online demo to highlight your skills to potential employers.
            </p>
            <p>
                You can get information on how to start creating your own games from <a href="https://intogames.org/" target="_blank">Into Games</a>. You can get more advice about working in games development from <a href="https://www.screenskills.com/job-profiles/browse/games/" target="_blank">ScreenSkills</a>.
            </p>

        </div>
        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>
        <div id="dvFuture" class="govuk-grid-column-full">

            <h2 class="govuk-label-heading">Future progression</h2>
            <p>
                With experience, you could become a senior developer, producer or technical director.
            </p>
            <p>
                You could increase your income a lot if you develop a successful game on your own.
            </p>
        </div>

    </div>

</div>
<div id="dvSeparator">
    <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
</div>
<div class="govuk-width-container">
    <div id="dvRealStories" class="govuk-grid-row">
        <h2 class="govuk-label-heading">Real stories</h2>
        <div>
            <main class="main-wrapper">
                <section class="slideshow">
                    <div class="slide fade is-active">
                        <!--<span class="slide-number">1 / 3</span>-->
                        <figure class="slide-image">
                            <img id="ImgStory-1" src="/public/images/story-2.png"
                                 alt="Mountain" />
                            <img id="story1" src="/public/images/story-mobile.png"
                                 alt="Mountain" />
                            <!--<figcaption>First image</figcaption>-->
                        </figure>
                    </div>

                    <div class="slide fade">
                        <!--<span class="slide-number">2 / 3</span>-->
                        <figure class="slide-image">
                            <img id="ImgStory-2" src="/public/images/story-2.png"
                                 alt="Snow" />
                            <img id="story2" src="/public/images/story-mobile.png"
                                 alt="Mountain" />
                            <!--<figcaption>Second image</figcaption>-->
                        </figure>
                    </div>

                    <div class="slide fade">
                        <!--<span class="slide-number">3 / 3</span>-->
                        <figure class="slide-image">
                            <img id="ImgStory-3" src="/public/images/story-3.png"
                                 alt="Snow" />
                            <img id="story3" src="/public/images/story-mobile.png"
                                 alt="Mountain" />
                            <!--<figcaption>Third image</figcaption>-->
                        </figure>
                    </div>

                    <div class="controls">
                        <button class="prev">&#10094;</button>
                        <button class="next">&#10095;</button>
                    </div>

                    <div class="dots-container">
                        <span class="dot is-active" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>



    {% endblock %}
