{% extends "HomeLayout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div id="_Discover" class="govuk-grid-column-full">

            <h2 class="govuk-heading-m"> Discover your dream career</h2>
            <p class="govuk-body" style="font-size:18px;">
                Browse jobs you never knew existed, what they involve and how to get started.
            </p>
           
            <button onclick="location.href='/Job/Explore-Careers'" class="govuk-button govuk-button-color-pink govuk-button-wrapper btnHomeWrapper" data-module="govuk-button">  
                Explore careers
            </button>

        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div id="_FindCourses" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">
                Find courses
            </h2>
            <p class="govuk-body searchcource_text" >
                Look for courses to take the next step in your career.
            </p>
            
            <button class="govuk-button govuk-button-color-pink govuk-button-wrapper btnHomeWrapper" data-module="govuk-button">
                Search Courses
            </button>

        </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div id="_TakeAssessment" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">
                Take an assessment
            </h2>
            <p class="govuk-body" style="font-size:18px;">
                Find out which jobs and sectors you might like to work in.
            </p>
          
            <button class="govuk-button govuk-button-color-pink govuk-button-wrapper btnHomeWrapper" data-module="govuk-button">
                Start an assessment
            </button>


        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div id="_GetAdvice" class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">
                Get advice
            </h2>
            <p class="govuk-body" style="font-size:18px;">
                Read our free and impartial careers advice on different topics.
            </p>
           
            <button class="govuk-button govuk-button-color-pink govuk-button-wrapper btnHomeWrapper" data-module="govuk-button">
                Career advice
            </button>

        </div>

    </div>
</div>


{% endblock %}
