{% extends "JobCategoryLayout.html" %}

{% block content %}


<main class="govuk-!-padding-top-0 govuk-!-padding-bottom-0" id="main-content" role="main">


    <!--<div class="govuk-width-container">-->
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third-from-desktop">

            <div id="menuItem">

                <p class="govuk-label">
                    <ul class="govuk-list govuk-list--bullet menu-item">
                        <li>
                            <h2 class="govuk-label_heading_gds">Jump to</h2>
                        </li>
                        <li class="govuk-label">
                            <a class="govuk-link" href="#dvOverview">Overview</a>
                        </li>
                        <li class="govuk-label">
                            <a class="govuk-link" href="#dvVideo">Video: day in the life of a restaurant manager</a>
                        </li>
                        <li class="govuk-label">
                            <a class="govuk-link" href="#dvExplore">Explore job profiles in hospitality and food </a>
                        </li>
                        <li class="govuk-label">
                            <a class="govuk-link" href="#dvRealStories">Real stories</a>
                        </li>
                        <li class="govuk-label">
                            <a class="govuk-link" href="#dvOtherJobCat">Other job categories</a>
                        </li>


                    </ul>
                </p>
            </div>
        </div>


        <div class="govuk-grid-column-two-thirds-from-desktop">

            <div id="dvOverview" class="govuk-label govuk-grid-column-full">

                <h2 class="govuk-label govuk-label_heading_gds">  Overview of the hospitality and food industry</h2>
                <br />
                <p class="govuk-label">

                    The hospitality and food industry involves places you may have thought of such as restaurants, cafes, bars and hotels. However, the industry actually covers a lot more than just those - from hotels to cinemas, gyms, sports events, and even holidays.
                </p>
                <br />
                <p class="govuk-label">
                    The industry is constantly changing due to customer habits and technology - think about the rising popularity of food delivery apps. Look through the job profiles in hospitality and food to find out more.
                </p>
                
            </div>
            <div id="dvSeparator">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>
            <div id="dvVideo" class="govuk-label govuk-grid-column-full">
                <h2 class="govuk-label govuk-label_heading_gds"> Video: day in the life of a restaurant manager</h2>

                <h3 style="color: #1d70b8">Ashley’s story - Assistant restaurant manager</h3>
                <p>
                    <img src="/public/images/blue-quotation-mark.png" style="width:25px;height:25px;" />
                    Whether it be personal stuff or work related stuff, there’s always someone there to support you.
                </p>
                <div id="vid-panel">

                    <iframe id="#frm_Social" src="https://www.youtube.com/embed/m-Dzthfzu1E" title="YouTube video player" style="width:100%;height:400px;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="dvTranscript">

                    <p class="govuk-label" style="margin-top: 25px;">One minute watch</p> <br />

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                View transcript
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-label">
                                My name is Ashley, I’m the assistant manager for Greene King.
                                My current house site is The Beekeeper at Chilwell, Nottingham.
                                I’m going around a few of the sites today just to get me out and about to further my experience.
                                Hungry Horse to me is a good brand to work for.
                                You get a good work-life balance, a good bond with the team.
                                Whether it be personal stuff or work-related stuff, there’s always someone there to support you.
                                If not there’s always someone you can reach out to within the company and through the different pubs and sites.
                            </p>
                            <p class="govuk-label">
                                A day in the life as an assistant manager starts obviously with you opening up the tills,
                                setting up the business, ready to start for the day. Every shift is different, no one day is the same.
                                Especially with myself going to different sites, you get used to a site after so many weeks and you’ve moved onto another one,
                                which is a good thing. It gives you a good flexible knowledge of how other sites operate and the different volumes that they have.
                                Then you’d work through for the rest of your shift dealing with customers, serving still, even jumping into the kitchen at points
                                if they need help. Closing up the pub, cashing up and then going home getting ready for your next shift.
                            </p>

                        </div>
                    </details>
                </div>

            </div>
            <div id="dvSeparator">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>
            <div id="dvExplore" class="govuk-label govuk-grid-column-full">

                <h2 class="govuk-label govuk-label_heading_gds">
                    Explore job profiles in hospitality and food
                </h2>
                <br />

                <p class="govuk-label">
                    Find out how to get into a specific role in in hospitality and food through our job profiles.

                </p>
                <br />
                <p class="govuk-label">
                    
                    <h3>Showing 5 of 30 job profiles</h3>

                    <ul style="list-style:none;">
                        <li class="search-resultitem">
                            <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/restaurant-manager">Restaurant manager</a></h3>
                            <p class="meta dfc-code-search-jpAltTitle" style="color:gray"><span class="sr-hidden">Alternative titles for this job include </span>Fast food restaurant manager, hotel restaurant manager</p>
                            <p class="result-description dfc-code-search-jpOverview">Restaurant managers organise the day-to-day running of their venue and make sure customers are happy with the food and service they receive.</p>
                            <p class="results-salary">
                                Salary: <span class="dfc-code-search-jpSalary">£18,000 to £28,000</span>
                            </p>
                            <p class="results-categories">
                                Found in:
                                <a href="/job-categories/hospitality-and-food">Hospitality and food</a>
                            </p>
                        </li>

                        <li class="search-resultitem govuk-section-break govuk-section-break--xl govuk-section-break--visible"></li>

                        <li class="search-resultitem">
                            <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/catering-manager">Catering manager</a></h3>
                            <p class="meta dfc-code-search-jpAltTitle" style="color:gray"><span class="sr-hidden">Alternative titles for this job include </span>Food service manager</p>
                            <p class="result-description dfc-code-search-jpOverview">Catering managers run the food service of organisations including restaurants, bars, schools, colleges and outside suppliers.</p>
                            <p class="results-salary">
                                Salary: <span class="dfc-code-search-jpSalary">£18,000 to £30,000</span>
                            </p>
                            <p class="results-categories">
                                Found in:
                                <a href="/job-categories/hospitality-and-food">Hospitality and food</a>
                            </p>
                        </li>

                        <li class="search-resultitem govuk-section-break govuk-section-break--xl govuk-section-break--visible"></li>

                        <li class="search-resultitem">
                            <h3><a class="dfc-code-search-jpTitle" href="/job-profiles/food-scientist">Food scientist</a></h3>
                            <p class="meta dfc-code-search-jpAltTitle" style="color:gray"><span class="sr-hidden">Alternative titles for this job include </span>Food technologist</p>
                            <p class="result-description dfc-code-search-jpOverview">Food scientists and food technologists develop food and drink products, making sure they are safe to consume.</p>
                            <p class="results-salary">
                                Salary: <span class="dfc-code-search-jpSalary">£20,000 to £45,000</span>
                            </p>
                            <p class="results-categories">
                                Found in:
                                <a href="/job-categories/hospitality-and-food">Hospitality and food  </a><span>|</span>
                                <a href="/job-categories/manufacturing">Manufacturing  </a><span>|</span>
                                <a href="/job-categories/science-and-research">Science and research </a>
                            </p>
                        </li>

                        <li class="search-resultitem govuk-section-break govuk-section-break--xl govuk-section-break--visible"></li>

                        <li class="search-resultitem">
                            <h3 data-gtm-vis-first-on-screen-8675592_422="2920"><a class="dfc-code-search-jpTitle" href="/job-profiles/food-factory-worker">Food factory worker</a></h3>
                            <p class="meta dfc-code-search-jpAltTitle" style="color:gray"><span class="sr-hidden">Alternative titles for this job include </span>Food process operative, food processing worker</p>
                            <p class="result-description dfc-code-search-jpOverview">Food factory workers make frozen, tinned, baked and dried products.</p>
                            <p class="results-salary">
                                Salary: <span class="dfc-code-search-jpSalary">£14,000 to £27,000</span>
                            </p>
                            <p class="results-categories">
                                Found in:
                                <a href="/job-categories/engineering-and-maintenance">Engineering and maintenance</a> <span>|</span>
                                <a href="/job-categories/hospitality-and-food">Hospitality and food</a>
                            </p>
                        </li>

                    </ul>
                    <div style="margin-top:70px;">
                        
                        <button class="govuk-button" data-module="govuk-button" style="background-color: #1d70b8 !important; box-shadow: 0 2px 0 #1d70b8 !important;">
                            Show more
                        </button>
                    </div>
                </p>
              
            </div>
            <div id="dvSeparator">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>

            <div id="dvRealStories" class="govuk-grid-column-full">
                <h2 class="govuk-label govuk-label_heading_gds">Real stories</h2>
                <br />
                <p class="govuk-label">
                    Look through the different routes people took to get started in their career as a restaurant manager.

                </p>
                <br />
                <div id="_realStories">
                    <main class="main-wrapper story-wrapper">
                        <section class="slideshow">
                            <div class="slide fade is-active">
                                <!--<span class="slide-number">1 / 3</span>-->
                                <figure class="slide-image">
                                    <img id="ImgStory-1" src="/public/images/story-gds-1.png"
                                         alt="story" />
                                    <img id="story1" src="/public/images/gds-mob-1.png"
                                         alt="story" />
                                    <!--<figcaption>First image</figcaption>-->
                                </figure>
                            </div>

                            <div class="slide fade">
                                <!--<span class="slide-number">2 / 3</span>-->
                                <figure class="slide-image">
                                    <img id="ImgStory-2" src="/public/images/story-gds-2.png"
                                         alt="story" />
                                    <img id="story2" src="/public/images/gds-mob-2.png"
                                         alt="story" />
                                    <!--<figcaption>Second image</figcaption>-->
                                </figure>
                            </div>

                            <div class="slide fade">
                                <!--<span class="slide-number">3 / 3</span>-->
                                <figure class="slide-image">
                                    <img id="ImgStory-3" src="/public/images/story-gds-3.png"
                                         alt="story" />
                                    <img id="story3" src="/public/images/gds-mob-3.png"
                                         alt="story" />
                                    <!--<figcaption>Third image</figcaption>-->
                                </figure>
                            </div>

                            <div class="gds-controls">
                                <button class="prev">&#10094;</button>
                                <button class="next">&#10095;</button>
                            </div>

                            <div class="dots-container">
                                <span class="dot is-active" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                                <!--<span class="dot" onclick="currentSlide(4)"></span>-->
                            </div>
                        </section>
                    </main>
                </div>
            </div>
            <div id="dvSeparator">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>

        </div>
        <div id="dvSeparator">
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>
    </div>
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div id="dvOtherJobCat" class="govuk-grid-column-full">

                <h2 class="govuk-label govuk-label_heading_gds">
                    Other Job Categories
                </h2>
                <br />
            </div>
        </div>
    </div>
    <div id="dvJobCat">

        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <table>
                        <tr>
                            <td>

                                <div>
                                    <ul class="govuk-label govuk-label--m govuk-list footer-content">
                                        <li>Administration</li>
                                        <li>Animal care</li>
                                        <li> Beauty and wellbeing</li>
                                        <li>Business and finance</li>
                                        <li>Computing, technology and digital</li>
                                        <li>Construction and trades</li>
                                        <li>Creative and media</li>
                                        <li>Delivery and storage</li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="govuk-grid-column-one-third">
                    <table>
                        <tr>
                            <td>
                                <div>
                                    <ul class="govuk-label govuk-label--m govuk-list footer-content">
                                        <li>Emergency and uniform services</li>
                                        <li>Engineering and maintenance</li>
                                        <li> Environmental and land</li>
                                        <li>Government services</li>
                                        <li>Healthcare</li>
                                        <li>Hospitality and food</li>
                                        <li>Law and legal</li>
                                    </ul>

                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="govuk-grid-column-one-third">
                    <table>
                        <tr>
                            <td>
                                <div>

                                    <ul class="govuk-label govuk-label--m govuk-list footer-content">
                                        <li> Managerial</li>
                                        <li> Manufacturing</li>
                                        <li> Retail and sales</li>
                                        <li> Science and research</li>
                                        <li> Social care</li>
                                        <li> Sports and leisure</li>
                                        <li> Teaching and education</li>
                                        <li> Transport</li>
                                        <li> Travel and tourism</li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</main>
{% endblock %}
