{% extends "JobProfileLayout.html" %}

{% block content %}

<main class="govuk-!-padding-top-0 govuk-!-padding-bottom-0" id="main-content" role="main">

<div class="govuk-main-wrapper">
<!--<div class="govuk-width-container">-->
<div class="govuk-grid-row">
 <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds js_wrapper">

            <div id="dvHowToBecome" class="govuk-label govuk-grid-column-full">
                <h2 class="job-profile__section-heading govuk-label govuk-label-heading-gds">How to become</h2>
                <!--<p class="job-profile__section-summary govuk-body">
                    Explore the different ways to get into this role.
                </p>-->
                <section id="HowToBecome">

                    <p style="margin-top:25px;">You can get into this job through:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>a college course</li>
                        <li>an apprenticeship</li>
                        <li>working towards this role</li>
                        <li>a graduate training scheme</li>
                    </ul>


                    <section class="job-profile-subsection" id="College">
                        <h3>College</h3>
                        <div class="job-profile-subsection-content">

                            <p>You could do a college course, which would teach you some of the skills you'll need in this job. Courses include:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Level 3 Diploma in Hospitality Supervision and Leadership</li>
                                <li>Level 4 Diploma in Hospitality Leadership</li>
                            </ul>



                            <h4>Entry requirements</h4>
                            <p>You'll usually need:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>4 or 5 GCSEs at grades 9 to 4 (A* to C), or equivalent, for a level 3 course</li>
                                <li>1 or 2 A levels, a level 3 diploma or relevant experience for a level 4 or level 5 course</li>
                            </ul>

                            <h4>More Information</h4>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><a class="htb-feature" target="_blank" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                                <li><a class="htb-feature"  target="_blank" href="https://www.gov.uk/further-education-courses/financial-help">funding advice</a></li>
                                <li><a class="htb-feature" target="_blank" href="https://nationalcareers.service.gov.uk/find-a-course">search for courses</a></li>
                            </ul>
                        </div>
                    </section>

                    <section class="job-profile-subsection" id="Apprenticeship">
                        <h3>Apprenticeship</h3>
                        <div class="job-profile-subsection-content">

                            <p>You could work towards this role by doing a hospitality supervisor advanced apprenticeship and continue with further training on the job.</p>
                            <p>You could also take a hospitality manager higher apprenticeship, if you've got supervisory experience in restaurant work.</p>



                            <h4>Entry requirements</h4>
                            <p>You'll usually need:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>5 GCSEs at grades 9 to 4 (A* to C), or equivalent, including English and maths, for an advanced apprenticeship</li>
                                <li>4 or 5 GCSEs at grades 9 to 4 (A* to C) and A levels, or equivalent, for a higher or degree apprenticeship</li>
                            </ul>

                            <h4>More Information</h4>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><a class="htb-feature" target="_blank" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">equivalent entry requirements</a></li>
                                <li><a class="htb-feature" target="_blank" href="https://www.gov.uk/apprenticeships-guide">guide to apprenticeships</a></li>
                            </ul>
                        </div>
                    </section>

                    <section class="job-profile-subsection" id="work">
                        <h3>Work</h3>
                        <div class="job-profile-subsection-content">
                            <p>You could move up to a management position after working as part of the restaurant staff, for example head waiter or kitchen manager.</p>
                            <p>With experience and qualifications you could take on more management responsibilities.</p>
                        </div>
                    </section>



                    <section class="job-profile-subsection" id="otherroutes">
                        <h4>Other Routes</h4>
                        <div class="job-profile-subsection-content">
                            <p>You could apply for a place on a graduate training scheme. Many large restaurants and fast food chains run schemes that can lead to management jobs.</p>
                            <p>You'll usually need a university qualification to get a place. For example, a degree in hospitality management is useful but many employers will accept other subjects.</p>
                        </div>
                    </section>

                    <section class="job-profile-subsection" id="moreinfo">
                        <h4>More Information</h4>
                        <div class="job-profile-subsection-content">
                            <p>Find out more about careers and training from the <a href="http://www.hospitalityguild.co.uk/A-Career-in-Hospitality/Career-opportunities/The-industry/Restaurants" target="_blank">Hospitality Guild</a>.</p>
                        </div>
                    </section>

                </section>



            </div>

            <div id="dvSeparator">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>

            <div id="dvWhatitTakes" class="govuk-label govuk-grid-column-full">
                <h2 class="govuk-label govuk-label-heading-gds">What it takes</h2>
                <p class="job-profile__section-summary govuk-body">Find out what skills you'll use in this role.</p>
                <section class="job-profile-subsection">
                    <h3>Skills and knowledge</h3>
                    <div class="job-profile-subsection-content">
                        <p>You'll need:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                customer service skills
                            </li>
                            <li>
                                leadership skills
                            </li>
                            <li>
                                the ability to motivate and manage staff
                            </li>
                            <li>
                                the ability to work well with others
                            </li>
                            <li>
                                the ability to accept criticism and work well under pressure
                            </li>
                            <li>
                                business management skills
                            </li>
                            <li>
                                patience and the ability to remain calm in stressful situations
                            </li>
                            <li>
                                knowledge of  food production methods
                            </li>
                            <li>to be able to use a computer and the main software packages competently</li>
                        </ul>
                    </div>
                </section>

                <section class="job-profile-subsection" id="restrictions">
                    <h3>Restrictions and Requirements</h3>
                    <div class="job-profile-subsection-content">
                        <p>You'll need to:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>get a <a href="https://www.food.gov.uk/business-industry/food-hygiene/training" target="_blank">food hygiene certificate</a></li>
                            <li>pass <a href="https://www.gov.uk/criminal-record-checks-apply-role" target="_blank">enhanced background checks</a></li>
                        </ul>

                    </div>
                </section>


            </div>

            <div id="dvSeparator">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>

            <div id="dvWhatyou will do " class="govuk-label govuk-grid-column-full">
                <h2 class="govuk-label govuk-label-heading-gds">What you'll do</h2>
                <p class="job-profile__section-summary govuk-body">
                    Discover the day to day tasks you’ll do in this role.
                </p>
                <section class="job-profile-subsection">
                    <h3>Day-to-day tasks</h3>
                    <div class="job-profile-subsection-content">
                        <p>As a restaurant manager, you could:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>plan menus with your chefs</li>
                            <li>organise shifts and rotas for kitchen and waiting staff</li>
                            <li>manage stock control and budgets</li>
                            <li>work closely with food and drink suppliers</li>
                            <li>make sure the restaurant follows licensing, food hygiene, and health and safety rules</li>
                            <li>recruit new staff and help to train them</li>
                            <li>work on plans for large events like weddings or birthdays</li>
                            <li>deal with customer complaints</li>
                        </ul>
                    </div>
                </section>
                <section class="job-profile-subsection" id="workingenvironment">
                    <h3>Working environment</h3>
                    <div class="job-profile-subsection-content">

                        <p>
                            You could work at a restaurant.
                        </p>

                        <p>
                            Your working environment may be physically demanding.
                        </p>

                        <p>
                            You may need to wear a uniform.
                        </p>
                    </div>
                </section>
                <section>
                    <h3>Ashley’s story - Assistant restaurant manager</h3>
                    <p>
                        <img src="/public/images/blue-quotation-mark.png" style="width:25px;height:25px;" />
                        Whether it be personal stuff or work related stuff, there’s always someone there to support you.
                    </p>
                    <div id="vid-panel">
                       
                        <iframe id="#frm_Social" style="width:100%;height:400px;" src="https://www.youtube.com/embed/m-Dzthfzu1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div id="dvTranscript">

                        <p class="govuk-label" style="margin-top:25px;">One minute watch</p> <br />

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    View transcript
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p class="govuk-label">
                                    My name is Ashley, I’m the assistant manager for Greene King.
                                    My current house site is The Beekeeper at Chilwell, Nottingham.
                                    I’m going around a few of the sites today just to get me out and about to further my experience.
                                    Hungry Horse to me is a good brand to work for.
                                    You get a good work-life balance, a good bond with the team.
                                    Whether it be personal stuff or work-related stuff, there’s always someone there to support you.
                                    If not there’s always someone you can reach out to within the company and through the different pubs and sites.
                                 </p>
                                <p class="govuk-label">
                                    A day in the life as an assistant manager starts obviously with you opening up the tills, setting up the business, ready to start for the day.
                                    Every shift is different, no one day is the same. Especially with myself going to different sites, you get used 
                                    to a site after so many weeks and you’ve moved onto another one, which is a good thing.
                                    It gives you a good flexible knowledge of how other sites operate and the different volumes that they have.
                                    Then you’d work through for the rest of your shift dealing with customers, serving still, even jumping into the kitchen at points if they need help. 
                                    Closing up the pub, cashing up and then going home getting ready for your next shift.
                                </p>

                            </div>
                        </details>
                    </div>
                </section>



            </div>

            <div id="dvSeparator">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>

            <div id="dvCurrentPathAndProgression" class="govuk-label govuk-grid-column-full">
                <h2 class="govuk-label govuk-label-heading-gds">Career path and progression</h2>
                <!--<p class="job-profile__section-summary govuk-body">
                    Look at progression in this role and similar opportunities.
                </p>-->
                <section id="CareerPathAndProgression">
                    <p>With experience, you could become a regional manager with a restaurant or hotel chain.</p>
                    <p>You could also move into catering for large events or set up your own independent restaurant business.</p>
                </section>



            </div>

            <div id="dvSeparator">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>

            <div id="CurrentOP" class="govuk-label govuk-grid-column-full">

                <h2 class="govuk-label govuk-label-heading-gds">Current opportunities</h2>
                <p class="job-profile__section-summary govuk-body">
                    Find apprenticeships, courses and jobs available near you.
                </p>
                <div class="govuk-grid-row" id="appGeneric">
                    <div class="govuk-grid-column-full">
                        <h3>
                            Apprenticeships
                            <span class="govuk-caption-m">In England</span>
                        </h3>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-column-one-half">
                            <div class="opportunity-item">
                                <h4 class="govuk-heading-s">
                                    <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/reference/1832802">Assistant Manager Apprenticeship</a>
                                </h4>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £25,000.00 - £27,000.00 <span class="govuk-body-s govuk-secondary-colour">Annually</span></li>
                                    <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Not known</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="opportunity-item">
                            <h4 class="govuk-heading-s">
                                <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/1000049779">Apprenticeship Shift Manager - Dudley</a>
                            </h4>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><span class="govuk-body govuk-!-font-weight-bold">Wage: </span> £17,160.00 <span class="govuk-body-s govuk-secondary-colour">Annually</span></li>
                                <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Dudley</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div>
                    <p>
                        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find apprenticeships near you</a>
                    </p>
                </div>
                <div class="govuk-grid-row dfc-code-jp-trainingCourse">
                    <div class="govuk-grid-column-full">
                        <h3>
                            Courses
                            <span class="govuk-caption-m">In England</span>
                        </h3>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="opportunity-item">
                            <h3>
                                <a href="https://nationalcareers.service.gov.uk/find-a-course/course-details?courseid=c470b927-47fe-491c-ac8a-c7ae02024059&amp;r=e015e702-56e3-47df-a94a-dace96cf61a5">HND in Hospitality Management</a>
                            </h3>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> LAKES COLLEGE WEST CUMBRIA</li>
                                <li>
                                    <span class="govuk-body govuk-!-font-weight-bold">Start date:</span>

                                    <span id="start-date">12 September 2022</span>

                                </li>
                                <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Workington</li>
                            </ul>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="opportunity-item">
                            <h3 class="govuk-heading-s">
                                <a href="https://nationalcareers.service.gov.uk/find-a-course/course-details?courseid=bd9ae69e-3ba6-4358-b545-e12a0344dc22&amp;r=d8cd114e-b522-458f-9776-77913ded5b36">Hospitality and Events Management - Foundation Degree</a>
                            </h3>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> BLACKPOOL AND THE FYLDE COLLEGE</li>
                                <li>
                                    <span class="govuk-body govuk-!-font-weight-bold">Start date:</span>

                                    <span id="start-date">12 September 2022</span>

                                </li>
                                <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> Blackpool</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div>
                    <p> <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/search">Find courses near you</a></p>

                </div>
                <div id="dvJobs">
                    <h3>
                        Jobs
                        <span class="govuk-caption-m">In the United Kingdom</span>
                    </h3>
                    <p>The <a class="govuk-link" href="https://findajob.dwp.gov.uk">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
                </div>

            </div>
            <div id="dvSeparator">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>

            <div class="govuk-grid-column-full">
                <div id="dvRealStories" class="govuk-grid-row">
                    <h2 class="govuk-label govuk-label-heading-gds">Real stories</h2>
                    <br/>
                    <p>
                        Look through the different routes people took to get started in their career as a restaurant manager.

                    </p>
                    <br/>
                        <main class="main-wrapper">
                            <section class="slideshow">
                                <div class="slide fade is-active">
                                    <!--<span class="slide-number">1 / 3</span>-->
                                    <figure class="slide-image">
                                        <img id="ImgStory-1" src="/public/images/story-gds-1.png"
                                             alt="story" />
                                        <img id="jp-story1" src="/public/images/gds-mob-1.png"
                                             alt="story" />
                                        <!--<figcaption>First image</figcaption>-->
                                    </figure>
                                </div>

                                <div class="slide fade">
                                    <!--<span class="slide-number">2 / 3</span>-->
                                    <figure class="slide-image">
                                        <img id="ImgStory-2" src="/public/images/story-gds-2.png" alt="story" />
                                        <img id="jp-story2" src="/public/images/gds-mob-2.png" alt="story" />
                                        <!--<figcaption>Second image</figcaption>-->
                                    </figure>
                                </div>

                                <div class="slide fade">
                                    <!--<span class="slide-number">3 / 3</span>-->
                                    <figure class="slide-image">
                                        <img id="ImgStory-3" src="/public/images/story-gds-3.png"
                                             alt="story" />
                                        <img id="jp-story3" src="/public/images/gds-mob-3.png"  alt="story" />
                                        <!--<figcaption>Third image</figcaption>-->
                                    </figure>
                                </div>
                                <!--<div class="slide fade">-->
                                    <!--<span class="slide-number">3 / 3</span>-->
                                    <!--<figure class="slide-image">
                                        <img id="ImgStory-4" src="/public/images/story-gds-4.png" alt="story" />
                                        <img id="jp-story4" src="/public/images/gds-mob-4.png" alt="story" />-->
                                        <!--<figcaption>Third image</figcaption>-->
                                    <!--</figure>
                                </div>-->
                                <div class="gds-controls">
                                    <button class="prev">&#10094;</button>
                                    <button class="next">&#10095;</button>
                                </div>

                                <div class="dots-container">
                                    <span class="dot is-active" onclick="currentSlide(1)"></span>
                                    <span class="dot" onclick="currentSlide(2)"></span>
                                    <span class="dot" onclick="currentSlide(3)"></span>
                                    
                                </div>
                            </section>
                        </main>
                   
                        </div>

                </div>
           </div>

            <div class="govuk-grid-column-one-third js_wrapper">


                <div class="job-profile-sidebar">
                    <h3 id="job-profile-search" class="govuk-heading-m" data-gtm-vis-recent-on-screen-8675592_422="508" data-gtm-vis-first-on-screen-8675592_422="508" data-gtm-vis-total-visible-time-8675592_422="100" data-gtm-vis-has-fired-8675592_422="1" data-gtm-vis-recent-on-screen-8675592_240="534" data-gtm-vis-first-on-screen-8675592_240="534" data-gtm-vis-total-visible-time-8675592_240="100" data-gtm-vis-has-fired-8675592_240="1" data-gtm-vis-recent-on-screen-8675592_194="536" data-gtm-vis-first-on-screen-8675592_194="536" data-gtm-vis-total-visible-time-8675592_194="100" data-gtm-vis-has-fired-8675592_194="1">Not what you're looking for?</h3>
                    <div class="job-profile-search">
                        <h4 class="govuk-heading-s">Search further careers</h4>
                        <form action="/search-results" class="js-live-search-form site-search ui-front" id="job-profile-search-box" method="get">
                            <div class="job-profile-search-content">
                                <!--<label class="input-label js-search-label" for="search-main"> Enter a job title</label>-->
                                <div class="search-input-wrapper">
                                    <input class="govuk-input search-input js-search-focus js-autocomplete ui-autocomplete-input" data-autocomplete-fuzzysearch="True" data-autocomplete-maxlength="7" data-autocomplete-maxnumberdisplyed="5" data-autocomplete-minlength="2" data-autocomplete-source="/searchautocomplete" id="search-main" name="SearchTerm" type="search" value="" autocomplete="off">
                                </div>
                                <button class="submit job-profile-search-submit" type="submit" value="Search">Search</button>
                            </div>
                            <input id="JobProfileUrl" name="JobProfileUrl" type="hidden" value="admin-assistant">
                            <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul>
                        </form>

                    </div>
                </div>



                <div class="job-profile-related">
                    <h3 class="govuk-heading-s">Related careers</h3>
                    <ul class="list list-big">
                        <li><a class="govuk-link" target="_blank" href="https://nationalcareers.service.gov.uk/job-profiles/catering-manager">Catering manager</a></li>
                        <li><a class="govuk-link" target="_blank" href="https://nationalcareers.service.gov.uk/job-profiles/head-chef">Head chef</a></li>
                        <li><a class="govuk-link" target="_blank" href="https://nationalcareers.service.gov.uk/job-profiles/chef">Chef</a></li>
                        <li><a class="govuk-link" target="_blank" href="https://nationalcareers.service.gov.uk/job-profiles/publican">Publican</a></li>
                        <li><a class="govuk-link" target="_blank" href="https://nationalcareers.service.gov.uk/job-profiles/events-manager">Events manager</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="govuk-heading-s">Skills assessment</h3>
                    <p><a href="https://nationalcareers.service.gov.uk/skills-assessment" target="_blank">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p>
                </div>
                <div class="app-related-items top-items">
                    <h2 class="govuk-heading-m">Speak to an adviser</h2>
                    <p>Call <a class="govuk-link" href="tel:0800100900" rel="external">0800 100 900</a> to speak to an adviser.</p>
                    <p> We're open:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li> <span class="govuk-body govuk-!-font-weight-bold">8am - 8pm</span> Monday - Friday</li>
                        <li> <span class="govuk-body govuk-!-font-weight-bold">10am - 5pm</span> Saturday and <a class="govuk-link" target="_blank" href="https://www.gov.uk/bank-holidays">bank holidays</a></li>
                    </ul>
                    <p> We're closed Sunday, Christmas Day and New Year's Day.</p>
                    <h2 class="govuk-heading-m"> Webchat</h2>
                    <p> You can also <a href="https://nationalcareers.service.gov.uk//webchat/chat" target="_blank" class="govuk-link govuk-link--no-visited-state">use webchat</a>.</p>
                    <p>Webchat is unavailable if you are using Internet Explorer 11 as your browser. To use webchat, try opening this page on a different web browser.</p>
                </div>


            </div>
        </div>
    
</div>
</div>
    </div>

<!--</div>-->
</main>
{% endblock %}