{% extends "PageLayout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <!--<div class="govuk-primary-wrapper">

            <div id="govuk-container">
                <img src="/public/images/banner.png" style="width:100%" alt="" />

           <div class="top-left">
            <h1>
                <label class="govuk-label govuk-label--l govuk-label-pink" for="event-name">
                    Large goods vehicle driver
                </label>

            </h1>
            <p class="govuk-label-black">The role is part of <a href="#">delivery and storage job group</a></p>

           </div>

           </div>
    </div>-->
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third-from-desktop">
        <p>
            <ul class="menu-item">
                <li>
                    <h2 class="govuk-label-heading">Jump to</h2>
                </li>
                <li class="govuk-label"><a href="#dvAboutUs">About this job</a></li>

                <li class="govuk-label">
                    <a href="#dvTypicalDuties">Typical duties</a>
                </li>

                <li class="govuk-label">
                    <a href="#dvSkills">Skills needed</a>
                </li>
                <li class="govuk-label">
                    <a href="#dvCareer">Career prospects</a>
                </li>

                <li class="govuk-label">
                    <a href="#dvSalary">Salary and working hours </a>
                </li>

                <li class="govuk-label">
                    <a href="#dvHTBD">How to become a HGV driver</a>
                </li>
                <li class="govuk-label"><a href="#dvRealStories">Real stories</a> </li>

            </ul>
        </p>
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">

        <div id="dvAboutUs" class="govuk-label govuk-grid-column-full">

            <h2 class="govuk-label govuk-label-heading">About this job</h2>
            <p>
                Large goods vehicle (LGV) and heavy goods vehicle (HGV) lorry drivers transport and deliver goods between suppliers and customers.
            </p>
            <p>
                In this role, you’ll provide excellent customer service to promote your company, and make sure companies and individuals get the goods they need.
            </p>
        </div>

        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>

        <div id="dvTypicalDuties" class="govuk-grid-column-full">
            <h2 class="govuk-label govuk-label-heading">
                Typical duties
            </h2>
            <p>
                In a typical day as an LGV driver, you could:
                <ul class="govuk-label">
                    <li>
                        plan delivery schedules and routes with transport managers
                    </li>
                    <li>check your vehicle to identify and report any issues</li>
                    <li>
                        secure loads safely on the vehicle
                    </li>
                    <li>
                        supervise or help to load and unload goods
                    </li>
                    <li>
                        complete delivery paperwork and log books
                    </li>
                </ul>

            <p>
                You  always need to drive safely within the law and keep your vehicle tidy and roadworthy.
            </p>
            <p>
                You may also follow traffic reports and change your route if necessary.
            </p>
            <div id="vid-panel">
                <iframe id="ifrm-youtube" width="560" height="315" src="https://www.youtube.com/embed/2noA1Ox9D8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <label><a href="#">Read the transcript for "Day in lifeof an LGV driver"</a></label>
            </p>
        </div>
        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>

        <div id="dvSalary" class="govuk-label govuk-grid-column-full">
            <h2 class="govuk-label govuk-label-heading">Salary, working hours and environment</h2>

            <h3>Salary</h3>
            <p>
                Your salary may vary depending on your experience. You could expect:
                <ul>
                    <li>a starting salary of £19,000</li>
                    <li>an experienced salary of up to £36,000</li>
                </ul>

            </p>
            <h3>Working hours</h3>
            <p>
                You may work between 37 and 39 hours a week. Long journeys and international
                travel may require you to work unsocial hours and weekends.
            </p>
            <h3>Working environment</h3>
            <p>
                Your working environment may be physically active and you'll travel often.
            </p>
        </div>
        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>
        <div id="dvSkills" class="govuk-labelgovuk-grid-column-full">
            <h2 class="govuk-label govuk-label-heading">Skills needed</h2>
            <p>
                As an LGV driver, you’ll need to be able to:
            </p>
            <ul class="govuk-label">
                <li>concentrate and stay focused while driving</li>
                <li>carry out basic tasks on a computer or hand-held device like a phone</li>
                <li>communicate  with lots of different people and deliver excellent customer service skills</li>
                <li>organise your time and workload</li>
                <li>remain calm in stressful situations</li>
                <li>use physical skills to lift, bend and carry heavy goods</li>
            </ul>
            <p>
                You’ll  also need to develop specialist skills such as knowledge of vehicle and public safety and security, and a knowledge of transport methods, costs and benefits.
            </p>
            <h3>Extra requirements:</h3>

            <p>You’ll need to:</p>
            <ul class="govuk-label">
                <li>be over 18 years of age</li>
                <li>have a driving licence that includes LGV for lorries, or PCV for buses, if you work with these vehicles</li>
                <li>have a Certificate of Professional Competence (CPC) - this is known as the Driver CPC</li>
            </ul>
            <p>Every 5 years, you’ll need to take <a href="https://www.gov.uk/driver-cpc-training" target="_blank">35 hours of driver CPC training</a> and renew your lorry driving licence.</p>
        </div>
        <div id="dvSeparator">
            <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
        </div>
        <div id="dvHTBD" class="govuk-grid-column-full">
            <h2 class="govuk-label govuk-label-heading">How to become an LGV driver</h2><br />
            <p>
                You can get into this job through:
            </p>
            <ul class="govuk-label">
                <li> an apprenticeship</li>
                <li>on the job training</li>
                <li>specialist training courses</li>
            </ul>
        </div>
        <div id="div" class="govuk-grid-column-full">
            <div id="#col-1" class="govuk-panel">
                <h2>Apprenticeship</h2>
                <p>
                    You can get into this job through a large goods vehicle (LGV) driver C and E intermediate apprenticeship.
                </p>
                <p>
                    The armed forces have apprenticeship roles for drivers including for heavy goods vehicles.
                </p>
                <p>
                    You’ll usually need some GCSEs, usually including English and maths, or equivalent, for an intermediate apprenticeship.

                </p>

                <a href="https://www.gov.uk/apply-apprenticeship" target="_blank">Find apprenticeships near you</a>
            </div>

            <div id="#col-2" class="govuk-panel">

                <h2> On the job training </h2>
                <p>
                    If you're already working for a transport operator, for example as a clerk,
                    your employer may be willing to put you through training to get your large goods vehicle licence.
                    <a href="https://www.gov.uk/find-a-job" target="_blank">Find jobs near you</a>
                </p>
            </div>

            <div id="#col-3" class="govuk-panel">
                <h2> Specialist training courses </h2>
                <p>
                    You'll need to get a professional driving qualification called the Driver Certificate of Professional Competence (CPC).
                </p>
                <p>
                    There is information on some of the vocational qualifications you can take on <a href="https://www.gov.uk/training-hgv/vocational-qualifications" target="_blank">find training to become an LGV driver.</a>
                </p>
                <p>
                    You can find training providers in your region by searching online. The <a href="https://www.jaupt.org.uk/" target="_blank">Joint Approvals Unit for Periodic Training lists</a> providers of refresher training for qualified LGV drivers. Many of these also offer initial LGV training. The National Vocational Driving Instructor Register (NVDIR) also contains a list of <a href="https://www.lgvregister.org.uk/registered-lgv-training-centres/">registered LGV training centres.</a>
                </p>
                <p>
                    You may also be able to <a href="https://www.gov.uk/training-hgv/skills-bootcamps" target="_blank">apply for a place on a Skills Bootcamp in LGV driving.</a> Skills Bootcamps are free, flexible courses that last up to 16 weeks. If you successfully complete the course you will be guaranteed a job interview with a local employer. You'll be fully trained to drive large vehicles, and will gain a category C or category CE licence.
                </p>
            </div>
            </div>
            <div id="dvSeparator">
                <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
            </div>

            <div id="dvCareer" class="govuk-grid-column-full">
                <h2 class="govuk-label-heading">Career tips</h2>
                <p>
                    Companies often need more LGV drivers at peak times. Demand for jobs can affect salaries.
                </p>
                <p>
                    Look for seasonal opportunities on retail and delivery company websites and with specialist driver recruitment agencies.
                </p>

            </div>
            <div id="dvSeparator">
                <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
            </div>
            <div id="dvFuture" class="govuk-grid-column-full">

                <h2 class="govuk-label-heading">Future progression</h2>
                <p>
                    You can often increase your salary through shift allowances and bonuses.
                </p>
                <p>
                    You could take further training and gain an ADR (Advisory Dangerous Goods by Road) certificate to drive hazardous goods like toxic chemicals by tanker.
                </p>
                <p>
                    With experience, you could train to become an LGV instructor, freight transport planner or move into management.
                </p>
                <p>
                    You could become a self-employed LGV driver and work for different companies or set up your own transport company.
                </p>
                <p>
                    You can often increase your salary through shift allowances and bonuses.
                </p>
                <p>
                    You could take further training and gain an ADR (Advisory Dangerous Goods by Road) certificate to drive hazardous goods like toxic chemicals by tanker.
                </p>
                <p>
                    With experience, you could train to become an LGV instructor, freight transport planner or move into management.
                <p>
                    You could become a self-employed LGV driver and work for different companies or set up your own transport company.
                </p>
            </div>

        </div>

    </div>
<div id="dvSeparator">
    <img id="imgSeparator" src="/public/images/Break_ Medium.png" />
</div>
<div class="govuk-width-container">
    <div id="dvRealStories" class="govuk-grid-row">
        <h2 class="govuk-label-heading">Real stories</h2>
        <div>
            <main class="main-wrapper">
                <section class="slideshow">
                    <div class="slide fade is-active">
                        <!--<span class="slide-number">1 / 3</span>-->
                        <figure class="slide-image">
                            <img id="ImgStory-1" src="/public/images/story-2.png"
                                 alt="Mountain" />
                            <img id="story1" src="/public/images/story-mobile.png"
                                 alt="Mountain" />
                            <!--<figcaption>First image</figcaption>-->
                        </figure>
                    </div>

                    <div class="slide fade">
                        <!--<span class="slide-number">2 / 3</span>-->
                        <figure class="slide-image">
                            <img id="ImgStory-2" src="/public/images/story-2.png"
                                 alt="Snow" />
                            <img id="story2" src="/public/images/story-mobile.png"
                                 alt="Mountain" />
                            <!--<figcaption>Second image</figcaption>-->
                        </figure>
                    </div>

                    <div class="slide fade">
                        <!--<span class="slide-number">3 / 3</span>-->
                        <figure class="slide-image">
                            <img id="ImgStory-3" src="/public/images/story-3.png"
                                 alt="Snow" />
                            <img id="story3" src="/public/images/story-mobile.png"
                                 alt="Mountain" />
                            <!--<figcaption>Third image</figcaption>-->
                        </figure>
                    </div>

                    <div class="controls">
                        <button class="prev">&#10094;</button>
                        <button class="next">&#10095;</button>
                    </div>

                    <div class="dots-container">
                        <span class="dot is-active" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>



{% endblock %}
