{% extends "Restaurant-Layout.html" %}

{% block content %}


<div class="govuk-grid-row">

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third-from-desktop">

        <div id="menuItem">

            <p class="govuk-label">
                <ul class="govuk-list govuk-list--bullet menu-item">
                    <li>
                        <h2 class="govuk-label-heading">Jump to</h2>
                    </li>
                    <li class="govuk-label">
                        <a class="govuk-link" href="#dvAboutUs">About this job</a>
                    </li>
                    <li class="govuk-label">
                        <a class="govuk-link" href="#dvWaysToBecome">Ways to become a restaurant manager </a>
                    </li>
                    <li class="govuk-label">
                        <a class="govuk-link" href="#dvRealStories">Real stories</a>
                    </li>
                    <li class="govuk-label">
                        <a class="govuk-link" href="#dvSkills">Skills you need</a>
                    </li>
                    <li class="govuk-label">
                        <a class="govuk-link" href="#dvTasks">Tasks and responsibilities</a>
                    </li>
                    <li class="govuk-label">
                        <a class="govuk-link" href="#dvFuture">Future career path</a>
                    </li>
                    <li class="govuk-label">
                        <a class="govuk-link" href="#dvSearch">Search for jobs</a>
                    </li>


                </ul>
            </p>


        </div>
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">

        <!--About this job-->

        <div id="dvAboutUs" class="govuk-label govuk-grid-column-full">

            <h2 class="govuk-label govuk-label-heading">About this job</h2>
            <br />
            <p class="govuk-label ways-to-become">
                Restaurant managers are in charge of a venue. They make sure customers are happy with the food and service they receive.
            </p>
            
        </div>
        <div id="dvSeparator">
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>


        <!--How to become a restaurant manager-->

        <div id="dvWaysToBecome" class="govuk-grid-column-full">
            <div>
                <h2 class="govuk-label govuk-label-heading">Ways to become a restaurant manager</h2>
                <br />
                <p class="govuk-label ways-to-become">
                    You can become a restaurant manager by doing a college course, apprenticeship or graduate scheme.
                </p>
                <p class="govuk-label ways-to-become">
                    You could also get a job in a restaurant and then work your way up.
                </p>
                <br />
            </div>


            <div id="#col-1" class="govuk-panel">
                <h3 class="govuk-heading-m">College courses</h3>

                <p class="govuk-label ways-to-become">
                    You can do a level 3 or level 4 college course in hospitality leadership to become a restaurant manager.
                </p>
                <p class="govuk-label ways-to-become">
                    To apply for a level 3 course you’ll usually need 4 or 5 GCSEs or equivalent at grades 9 to 4 (A* to C). <a class="govuk-link" target="_blank" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">View the qualifications that are equal to GCSEs</a>.
                </p>
                <p class="govuk-label ways-to-become">
                    To apply for a level 4 course, you’ll need 1 or 2 A levels, a level 3 diploma or restaurant work experience.
                </p>
                <p class="govuk-label ways-to-become">
                    You might be able to <a class="govuk-link" target="_blank" href="https://www.gov.uk/further-education-courses/financial-help">get help with the cost of your course</a>.
                </p>

                <a class="govuk-link" target="_blank" href="https://nationalcareers.service.gov.uk/find-a-course/search>"> Find college courses near you</a>

            </div>
            <div id="#col-2" class="govuk-panel">

                <h3 class="govuk-heading-m">Apprenticeships</h3>
                <p class="govuk-label ways-to-become">
                    Another way to become a restaurant manager is by doing an advanced or higher apprenticeship called hospitality supervisor or manager.
                </p>
                <p class="govuk-label ways-to-become">
                    To do an advanced apprenticeship, you’ll usually need 5 GCSEs or equivalent at grades 9 to 4 (A* to C). You’ll also need some A levels or equivalent to do a higher apprenticeship. View the  <a class="govuk-link" target="_blank" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">qualifications that are equal to A levels</a>.
                </p>
                <p class="govuk-label ways-to-become">
                    Apprenticeships are paid jobs that combine training on the job with studying. View more about <a class="govuk-link" target="_blank" href="https://www.gov.uk/become-apprentice">how apprenticeships work</a>.
                </p>

                <a class="govuk-link" target="_blank" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">Find an apprenticeships near you</a>
            </div>
            <div id="#col-3" class="govuk-panel">
                <h3 class="govuk-heading-m"> Graduate schemes </h3>
                <p class="govuk-label ways-to-become">
                    Many large restaurants and fast food chains run graduate schemes that lead to management jobs.
                </p>
                <p class="govuk-label ways-to-become">
                    You'll need a degree in any subject to apply for a <a class="govuk-link" target="_blank" href="https://nationalcareers.service.gov.uk/careers-advice/how-to-find-graduate-schemes/">graduate scheme</a>
                </p>

            </div>

            <div id="#col-4" class="govuk-panel">

                <h3 class="govuk-heading-m"> Working your way up </h3>
                <p class="govuk-label ways-to-become">
                    You could start working in a restaurant as a waiter, kitchen staff or bartender.
                </p>
                <p class="govuk-label ways-to-become">
                    With experience you could then take on more responsibilities and apply for more senior positions.
                </p>
            </div>

        </div>
        <div>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

      

        <!--Skills needed-->
        <div id="dvSkills" class="govuk-label govuk-grid-column-full">

            <h2 class="govuk-label govuk-label-heading">Skills you need</h2>
            <br />
            <p class="govuk-label ways-to-become"> As a restaurant manager, you’ll need to be able to: </p>
            <br />
            <ul class="govuk-list govuk-list--bullet">
                <li>serve customers</li>
                <li>lead, motivate and manage a team</li>
                <li>work well with others</li>
                <li>accept criticism</li>
                <li>work well under pressure</li>
                <li>use a computer well</li>
                <li>stay patient and calm in stressful situations</li>
            </ul>
            <p class="govuk-label ways-to-become">
                You’ll also need to learn how to manage a business and what different food production methods are.<br />
            </p>
            <h3 class="govuk-heading-s">Certificates and background checks</h3>

            <p class="govuk-label ways-to-become">Before you can be a restaurant manager, you’ll need to get a <a href="https://www.food.gov.uk/business-guidance/online-food-safety-training#food-hygiene-courses-and-certificatesfood" class="govuk-link" target="_blank"> hygiene certificate</a> and pass an <a href="https://www.gov.uk/criminal-record-checks-apply-role" class="govuk-link" target="_blank">enhanced background check</a>.</p>

        </div>
        <div id="dvSeparator">
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>
        <!--Tasks and responsibilities-->

        <div id="dvTasks" class="govuk-grid-column-full">
            <h2 class="govuk-label govuk-label-heading">
                Tasks and responsibilities
            </h2>
            <br />
            <p class="govuk-label">
                As a restaurant manager you could:
            </p>
            <br />
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    plan menus with your chefs
                </li>
                <li> organise shifts and rotas for kitchen and waiting staff</li>
                <li>
                    manage stock control and budgets
                </li>
                <li>
                    work closely with food and drink suppliers
                </li>
                <li>
                    recruit new staff and help to train them
                </li>
                <li>deal with customer complaints</li>
                <li>make sure the restaurant follows licensing, food hygiene, and health and safety rules</li>
            </ul>

            <p class="govuk-label">
                You may also help plan large events like weddings and birthdays that take place at the restaurant.
            </p>
            <h3 class="govuk-heading-s">Working environment</h3>
            <p class="govuk-label">
                Your working environment may be physically demanding.
            </p>
            <p class="govuk-label">
                You may also need to wear a uniform.
            </p>

        </div>
        <div id="dvSeparator">
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!--Future progression-->

        <div id="dvFuture" class="govuk-grid-column-full">

            <h2 class="govuk-label govuk-label-heading">Future career path</h2>
            <p class="govuk-label">
                When you have some experience as a restaurant manager, you could:
            </p>
            <br />
            <ul class="govuk-list govuk-list--bullet" ">
                <li>
                    manage a chain of restaurants or hotels
                </li>
                <li>
                    cater large events as a <a href="https://nationalcareers.service.gov.uk/job-profiles/catering-manager" class="govuk-link" target="_blank">catering manager</a>
                </li>
                <li>
                    open your own restaurant
                </li>
            </ul>

            <br />
            <p class="govuk-label">
                Find out more about <a href="https://www.careerpathwaymaps.co.uk/hospitality-career-map/" class="govuk-link" target="_blank">career paths you could take</a> from the Hospitality Guild.
            </p>

        </div>
        <div id="dvSeparator">
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>
        <!--Search for job<-->
        <div id="dvSearch" class="govuk-grid-column-full">

            <h2 class="govuk-label govuk-label-heading">Search for jobs</h2>
            <p class="govuk-label ways-to-become">
                You can apply for restaurant manager jobs if you think you have the qualifications, skills and experience you need.
            </p>

            <p class="govuk-label ways-to-become">
                <a href="https://findajob.dwp.gov.uk/" class="govuk-link" target="_blank">Find a job</a>
            </p>

        </div>
        <div id="dvSeparator">
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <div id="dvRelated-Jobs" class="govuk-grid-column-full">

            <h2 class="govuk-label govuk-label-heading">Related jobs</h2>

            <ul class="govuk-label govuk-label--m govuk-list footer-content">
                <li><a href="https://nationalcareers.service.gov.uk/job-profiles/catering-manager" class="govuk-link" target="_blank">Catering Manager</a></li>
                <li><a href="https://nationalcareers.service.gov.uk/job-profiles/chef" class="govuk-link" target="_blank">Chef</a></li>
                <li><a href="https://nationalcareers.service.gov.uk/job-profiles/events-manager" class="govuk-link" target="_blank">Events manager</a> </li>
            </ul>


        </div>
    </div>

</div>

{% endblock %}