{% set navActive = 'datamanagement' %}
{% extends "layouts/layout-dm2.html" %}

{% block pageTitle %}
  Data Management - Upload course data
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();" class="govuk-link govuk-link--blocked">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "/" + version + "/data-management/courses"
  }) }}

{% endblock %}

{% block content %}

<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Upload your course data file</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">To ensure an upload is successful you must:<p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="javascript:preventDefault();" class="govuk-link govuk-link--blocked">add new venues</a> to the service prior to an upload</li>
      <li>include existing courses and new courses in the file</li>
      <li>complete all mandatory fields</li>
      <li>follow the <a href="courses-formatting" class="govuk-link">format requirements</a></li>
      <li>save the file as a CSV</li>
    </ul>
    
    {{ govukFileUpload({
      classes: "govuk-!-margin-top-5",
      id: "course-data-upload",
      name: "course-data-upload"
    }) }}

    {{ govukButton({
      href: "/" + version + "/data-management/courses/inprogress",
      text: "Continue"
    }) }}

    {{ govukDetails({
      classes: "govuk-!-margin-top-5",
      summaryText: "Help with uploading files",
      html: 'If your upload file has more than 800 rows, email your file to <a href="javascript:preventDefault();" class="govuk-link govuk-link--blocked">support@coursedirectory.org.uk</a> for guidance to publish your file to Publish to the course directory.'
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">
    <!--h2 class="govuk-heading-m">Useful information</h2-->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Useful information
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a href="/{{version}}/data-management/courses/formatting" class="govuk-link">Course data CSV formatting requirements</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<!--  -->


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
