{% extends "layout.html" %}

{% block pageTitle %}
  Add location details
{% endblock %}

{% block header %}
  {% include "includes/header-sprint14.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add location
      </h1>

      <p class="govuk-body">This information will be displayed on Find a course as part of the course details.</p>

      <form action="" method="post">

        {{ govukInput({
          id: "s16-location-add-name",
          name: "s16-location-add-name",
          label: {
            classes: "govuk-label--s",
            text: "Location name"
          },
          value: data["s16-location-add-name"]
        }) }}

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Location address</h2>
        <p class="govuk-body">
          {% if data['s16-location-add-line-1'] %}
            {% if data['s16-location-add-line-1'] %}{{ data['s16-location-add-line-1'] }}{% endif %}
            {% if data['s16-location-add-line-2'] %}<br>{{ data['s16-location-add-line-2'] }}{% endif %}
            {% if data['s16-location-add-town'] %}<br>{{ data['s16-location-add-town'] }}{% endif %}
            {% if data['s16-location-add-county'] %}<br>{{ data['s16-location-add-county'] }}{% endif %}
            {% if data['s16-location-add-postcode'] %}<br>{{ data['s16-location-add-postcode'] }}{% endif %}
          {% else %}
            Buckingham Palace,<br>
            LONDON<br>
            SW1A 1AA
          {% endif %}
        </p>

        {{ govukInput({
          id: "s16-location-add-email",
          name: "s16-location-add-email",
          type: "email",
          classes: "govuk-!-width-two-thirds",
          label: {
            classes: "govuk-label--s",
            text: "Email address"
          },
          value: data["s16-location-add-email"]
        }) }}

        {{ govukInput({
          id: "s16-location-add-telephone",
          name: "s16-location-add-telephone",
          classes: "govuk-!-width-one-third",
          label: {
            classes: "govuk-label--s",
            text: "Telephone number"
          },
          value: data["s16-location-add-telephone"]
        }) }}

        {{ govukInput({
          id: "s16-location-add-website",
          name: "s16-location-add-website",
          classes: "govuk-!-width-two-thirds",
          label: {
            classes: "govuk-label--s",
            text: "Website address"
          },
          value: data["s16-location-add-website"]
        }) }}

        {{ govukButton({
          classes: "govuk-!-margin-right-3",
          text: "Continue"
        }) }}

        {{ govukButton({
          href: "javascript:preventDefault();",
          text: "Cancel",
          classes: "govuk-button--secondary"
        }) }}
      
      </form>
      
    </div>
    <div class="govuk-grid-column-one-third">
      
    </div>
  </div>
  


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
