{% set navActive = 'courses' %}
{% extends "layouts/layout-sprint23.html" %}

{% block pageTitle %}
  Courses - Add unregulated course
{% endblock %}

{% block header %}
  {% include "includes/" + version + "/header.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <!--  -->
  <div class="govuk-grid-column-full">
    <!--h1 class="govuk-heading-xl">Courses</h1-->
    <h2 class="govuk-heading-l">Find non-regulated award</h2>

    <form action="" method="post" class="form">

      <div class="cd-card cd-card-2 cd-card--provider">

        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <label class="govuk-label" for="course-add-lars">
            Learning Aims Reference Service (LARS) code
          </label>
          <div id="event-name-hint" class="govuk-hint">
            This is sometimes called the ‘Z code’
          </div>
          <input class="govuk-input govuk-!-width-one-third" id="course-add-lars" name="course-add-lars" type="text" value="ZOEDL002"><button class="govuk-button pttcd-button-search" data-module="govuk-button">Search</button>
        </div>
      </div>

      <p class="govuk-body">
          <a href="unregulated-unknownzcode">I don’t know the LARS code</a>
      <p>

    </form>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <div class="pttcd-lars-search-result__container">
          <h2 class="govuk-heading-l">All other education/leisure type courses, Science and Mathematics (SSA 2)</h2>
          <p class="govuk-body">
            LARS/QAN: ZOEDL002<br>
            Level: X
        	</p>
      </div>
      <p class="govuk-body">    
        {{ govukButton({
            href: "description",
            text: "Choose"
        }) }}
        <a href="javascript:preventDefault();" style="display:inline-block" class="govuk-!-margin-left-5 govuk-!-padding-top-1 govuk-link--blocked">Cancel</a>
      <p>
  </div>
</div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
