{% extends "layout.html" %}

{% block pageTitle %}
  Edit T Level description
{% endblock %}

{% block header %}
  {% include "includes/header-sprint13.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}


{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        T Level description
      </h1>
      <!--div class="govuk-inset-text">{{ data['tlevels'] }}</div-->
      <!--p class="govuk-body-l">Add your description of {{ data['tlevels'] }}.</p-->

      <p class="govuk-body">The description of T Level Technical Qualification in Design, Surveying and Planning for Construction has been provided for you to edit.</p>
      <p class="govuk-body govuk-!-margin-bottom-5">The T Level information will be available on the National Careers Service, <a href="https://nationalcareers.service.gov.uk/find-a-course/search" target="_blank">Find a course</a>, available to learners searching for learning and training opportunities.

      <!--  -->

      <form action="" method="post" class="form">

        {{ govukCharacterCount({
          name: "tlevels-desc-whothiscourseisfor",
          id: "tlevels-desc-whothiscourseisfor",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "Who this T Level is for"
          },
          hint: {
            text: "Information that will help the learner decide whether this T Level is suitable for them, the learning experience and opportunities they can expect."
          },
          value: "This T Level is suitable for anyone wanting a career in construction, specifically in surveying and design, civil engineering, building services design, or hazardous materials surveying. During the two-year programme, you will learn the core knowledge and skills that underpin many jobs in the construction industry. Your learning will combine 40 weeks of classroom theory and practical learning and a minimum of 9 weeks with an employer."
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-entryrequirements",
          id: "tlevels-desc-entryrequirements",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "Entry requirements"
          },
          hint: {
            text: "Specific skills, licences, vocational or academic requirements."
          },
          value: "You will need either, 5 GCSE passes (grade 4 or above), including English, maths and science or a pass in a relevant level 2 qualification."
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-whatyoulllearn",
          id: "tlevels-desc-whatyoulllearn",
          maxlength: 1500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "What you'll learn"
          },
          hint: {
            text: "The main topics, units or modules of the T Level a learner can expect."
          },
          value: "You'll learn specific topics in design, surveying and planning: Project management, Budgeting and resource allocation, Procurement, Risk management. In addition to the core content, you will have the option to study one of the following specialisms: Surveying and design for construction and the built environment, Civil engineering, Building services design, Hazardous materials analysis and surveying."
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-howyoulllearn",
          id: "tlevels-desc-howyoulllearn",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "How you'll learn"
          },
          hint: {
            text: "The methods used to deliver the T Level."
          },
          value: "Your learning will combine 40 weeks of classroom theory and practical learning and include a minimum of 9 weeks with an employer. The industry placement will provide you with a real experience of the workplace. You will take part in investigative and practical work and during the T Level you will be expected to do private study and e-learning."
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-howassessed",
          id: "tlevels-desc-howassessed",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "How you'll be assessed"
          },
          hint: {
            text: "The ways a learner will be assessed."
          },
          value: "A written examination will take place at the end of the T Level and task based assessments will take place throughout the T Level."
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-whatyoucandonext",
          id: "tlevels-desc-whatyoucandonext",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "What you can do next"
          },
          hint: {
            text: "The further opportunities a learner can expect after successfully completing the T Level."
          },
          value: "This T Level has been developed in collaboration with employers and businesses so the content will meet the needs of the industry and prepare you for work, providing you the knowledge and experience needed to open the door to highly skilled employment, an Apprenticeship or higher-level study. You can progress into roles such as: Civil engineering technician, Technical surveyor, Building technician, Engineering construction technician, Architectural technician."
        }) }}
        
        <!--  -->

        <h2 class="govuk-heading-m">Publish your T Level changes</h2>
        <p class="govuk-body">Your T Level will be updated on Publish to the course directory and available to learners searching for learning and training opportunities on the National Careers Service.</p>
        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <!--  -->

        {{ govukButton({
          classes: "govuk-!-margin-right-3",
          href: "tlevels-view-design-avenue",
          text: "Publish changes"
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary",
          href: "tlevels-view-design-avenue",
          text: "Cancel"
        }) }}

      </form>

    </div>
  </div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
