{% extends "layout-sprint14.html" %}

{% block pageTitle %}
  Provider details FE only
{% endblock %}

{% block header %}
  {% include "includes/header-sprint14.html" %}
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  <!-- Provider navigation -->
    {% include "includes/tribal-mininav-sprint14.html" %}
  <!--  -->

  {{ govukBackLink({
    text: "Back to home screen",
    href: "#"
  }) }}

{% endblock %}

{% block content %}


<!-- content start -->
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Provider information</h1>

    {{ govukCharacterCount({
      name: "provider-info",
      id: "provider-info",
      maxlength: 750,
      rows: 12,
      hint: {
        text: "Brief overview of your organisation for employers."
      },
      value: "Presidency London College is an independent training provider that delivers various apprenticeship training programmes. We are on the borders of London Borough of Westminster, Brent, and Kensington and Chelsea. As an organisation, our main focus is to provide education, training and learning opportunities to all our employers and apprentices who are seeking to better their career and recruitment needs. We have a number of levy and non-levy employers who are currently availing the services of our apprenticeship programmes across England. Please get in touch whether you are an employer or apprentice to discuss your apprenticeship needs with our Information Advice and Guidance (IAG) officer."
    }) }}

    {{ govukButton({
      href: "tribal-provider-details",
      text: "Save and continue"
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">
  </div>


</div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
