{% extends "layout-sprint14.html" %}

{% block pageTitle %}
  Display name settings
{% endblock %}

{% block header %}
  {% include "includes/header-tribal-sprint14.html" %}
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  <!-- Provider navigation -->
    {% include "includes/tribal-mininav-sprint14.html" %}
  <!--  -->

  {{ govukBackLink({
    text: "Back to home screen",
    href: "#"
  }) }}

{% endblock %}

{% block content %}


<!-- content start -->
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "provider-displayname",
        name: "provider-displayname",
        fieldset: {
          legend: {
            text: "Display name",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select the name you would like displayed to learners."
        },
        items: [
          {
            checked: true,
            value: "PRESIDENCY LONDON COLLEGE LIMITED",
            text: "PRESIDENCY LONDON COLLEGE LIMITED",
            checked: checked("provider-displayname", "PRESIDENCY LONDON COLLEGE LIMITED")
          },
          {
            checked: true,
            value: "Presidency London College",
            text: "Presidency London College",
            checked: checked("provider-displayname", "Presidency London College")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    
    </form>

  </div>

  <div class="govuk-grid-column-one-third">
  </div>


</div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
