{% extends "layout.html" %}

{% block pageTitle %}
  Migration report
{% endblock %}

{% block header %}

  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="providers-qa">
              Quality assurance
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              Search providers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Manage users
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Migration reports
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Migration reports
    </h1>
    <div class="govuk-inset-text cd-inset-info">
      <p>This page is updated daily.</p>
    </div>
  </div>
</div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-one-half" style="padding-left: 0;">
        <div class="cd-card">
          <p class="govuk-!-margin-bottom-0">Total providers migrated</p>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-padding-top-1">9700</h2>
          <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">FE courses migration report as a csv</a></p>
          <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">FE courses migration report as a csv</a></p>
        </div>
      </div>

      <!-- <div class="govuk-grid-column-one-half cd-homepage__item">

        <div class="cd-migration-panel">
          <h2 class="govuk-heading-s">Add new providers</h2>
          <p>To add new providers you will need.....[details of this process will be provided by James, for Tribal to action]</p>
          <span class="cd-migration-panel__number" style="font-weight: normal;">
            <a href="#" class="govuk-link">Add new providers using a csv</a>
          </span>
          <br>
          <br>
        </div>
      </div> -->

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">
        Further education
      </h2>
      <div class="govuk-grid-column-one-third" style="padding-left: 0;">
        <div class="cd-card">
          <p class="govuk-!-margin-bottom-0">Migrated</p>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">2100</h2>
          <!-- <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">QA submissions</a></p> -->
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="cd-card">
          <p class="govuk-!-margin-bottom-0">Pending</p>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">1500</h2>
          <!-- <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">QA submissions</a></p> -->
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="cd-card">
          <p class="govuk-!-margin-bottom-0">Live</p>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">600</h2>
          <!-- <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">QA submissions</a></p> -->
        </div>
      </div>

    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">
        Apprenticeships
      </h2>
      <div class="govuk-grid-column-one-third" style="padding-left: 0;">
        <div class="cd-card">
          <p class="govuk-!-margin-bottom-0">Migrated</p>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">2100</h2>
          <!-- <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">QA submissions</a></p> -->
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="cd-card">
          <p class="govuk-!-margin-bottom-0">Pending</p>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">1500</h2>
          <!-- <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">QA submissions</a></p> -->
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="cd-card">
          <p class="govuk-!-margin-bottom-0">Live</p>
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">600</h2>
          <!-- <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">QA submissions</a></p> -->
        </div>
      </div>

    </div>
  </div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
