{% extends "layout.html" %}

{% block pageTitle %}
  Migration report
{% endblock %}

{% block header %}

  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="../qa-tribal/helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="../qa-tribal/providers-qa">
              Quality assurance
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="../qa-tribal/search-providers.html">
              Search providers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Manage users
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="#">
              Migration reports
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Migration reports
    </h1>
    <!-- <div class="govuk-inset-text cd-inset-info">
      <p>This page is updated daily.</p>
    </div> -->
  </div>
</div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
      <div class="govuk-grid-column-two-thirds">
        <div class="cd-card govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
            Total providers migrated
          </h2>
          <h2 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-padding-top-0">9700</h2>
        </div>
        <p class="govuk-!-margin-bottom-1"><a href="#" class="govuk-link">Download report</a></p>
      </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Further education courses
      </h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="cd-card govuk-!-margin-bottom-4">
            <p class="govuk-!-margin-bottom-0">Migrated</p>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">9625</h2>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="cd-card govuk-!-margin-bottom-4">
            <p class="govuk-!-margin-bottom-0">Pending</p>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">2876</h2>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="cd-card govuk-!-margin-bottom-4">
            <p class="govuk-!-margin-bottom-0">Live</p>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">3756</h2>
          </div>
        </div>
      </div>
      <p class="govuk-!-margin-bottom-1"><a href="#" class="govuk-link">Download report</a></p>
    </div>
  </div>

  <!--  -->

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Apprenticeship training courses
      </h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="cd-card govuk-!-margin-bottom-4">
            <p class="govuk-!-margin-bottom-0">Migrated</p>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">9987</h2>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="cd-card govuk-!-margin-bottom-4">
            <p class="govuk-!-margin-bottom-0">Pending</p>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">8483</h2>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="cd-card govuk-!-margin-bottom-4">
            <p class="govuk-!-margin-bottom-0">Live</p>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-top-1">937</h2>
          </div>
        </div>
      </div>
      <p class="govuk-!-margin-bottom-1"><a href="providers-qa" class="govuk-link">Download report</a></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-inset-text cd-inset-info govuk-!-margin-top-0">
        <p>Migration data last updated xxx.</p>
      </div>
    </div>
  </div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
