{% extends "layout.html" %}

{% block pageTitle %}
  Edit T Level information
{% endblock %}

{% block header %}
  {% include "includes/header-sprint13.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Edit your T Level information</h1>

      <h2 class="govuk-heading-l">T Level in Design, Surveying and Planning for Construction</h2>


    <h3 class="govuk-heading-m">T Level details</h3>
    <p class="govuk-body">Edit information for the learner about how the T Level will be delivered.</p>
      <!--p class="govuk-body govuk-!-margin-bottom-5">Edit information on how this T Level will be delivered.</p-->

        <form action="" method="post" class="form">
          <!--  -->

          {{ govukInput({
            id: "s18-tlevels-details-reference",
            name: "s18-tlevels-details-reference",
            classes: "govuk-!-margin-bottom-3",
            label: {
              text: "Your reference (optional)",
              classes: "govuk-label--s"
            },
            hint: {
              text: "A reference that will help you identify this T Level in your internal systems. This will not be visible to learners."
            },
            value: data["s18-tlevels-details-reference"]
          }) }}

          <!--  -->

          {{ govukDateInput({
            id: "s18-tlevels-details-startdate",
            namePrefix: "s18-tlevels-details-startdate",
            classes: "govuk-!-margin-bottom-3",
            fieldset: {
              legend: {
                text: "Start date",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 30 9 2020"
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                autocomplete: "s18-tlevels-details-startdate-day",
                value: data["s18-tlevels-details-startdate-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                autocomplete: "s18-tlevels-details-startdate-month",
                value: data["s18-tlevels-details-startdate-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                autocomplete: "s18-tlevels-details-startdate-year",
                value: data["s18-tlevels-details-startdate-year"]
              }
            ]
          }) }}

          <!--  -->

          {{ govukCheckboxes({
            idPrefix: "s18-tlevels-details-location",
            name: "s18-tlevels-details-location",
            classes: "govuk-checkboxes--small",
            formGroup: {
              classes: " govuk-!-margin-bottom-1"
            },
            fieldset: {
              legend: {
                text: "T Level location",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Avenue Campus",
                text: "Avenue Campus",
                checked: checked("s18-tlevels-details-location", "Avenue Campus")
              },
              {
                value: "Medway Campus",
                text: "Medway Campus",
                checked: checked("s18-tlevels-details-location", "Medway Campus")
              },
              {
                value: "Park Campus",
                text: "Park Campus",
                checked: checked("s18-tlevels-details-location", "Park Campus")
              }
            ]
          }) }}

          <p class="govuk-body govuk-!-margin-bottom-7">
            <a href="#" class="govuk-link">Add another location</a>
          </p>

          <!--  -->

          <div class="govuk-form-group govuk-!-margin-bottom-7">
            <label class="govuk-label govuk-label--s" for="s18-tlevels-details-webpage">
              T Level webpage
            </label>
            <span id="s18-tlevels-details-webpage-hint" class="govuk-hint">
              The webpage for this T Level. For example, https://www.provider.com/tlevelname.
            </span>
            <input class="govuk-input" id="s18-tlevels-details-webpage" name="s18-tlevels-details-webpage" type="text" aria-describedby="s18-tlevels-details-webpage-hint" value='{{ data["s18-tlevels-details-webpage"] }}'>
          </div>

          <!--  -->
          <!--h3 class="govuk-heading-m">Publish your T Level changes</h3>
          <p class="govuk-body">Your T Level details will be updated on Publish to the course directory and available to learners searching for learning and training opportunities on the National Careers Service.</p-->

          <!--input type="hidden" name="published-tlevel-edit-details" value="true"-->
        <h3 class="govuk-heading-m govuk-!-margin-top-9">T Level description</h3>
        <!--p class="govuk-body">Information for the learner about the T Level</p-->
          {{ govukCharacterCount({
            name: "s18-tlevels-desc-whothiscourseisfor",
            id: "s18-tlevels-desc-whothiscourseisfor",
            maxlength: 500,
            rows: 7,
            label: {
              classes: "govuk-label--s",
              text: "Who this T Level is for"
            },
            hint: {
              text: "Information that will help the learner decide whether this T Level is suitable for them, the learning experience and opportunities they can expect."
            },
            value: data["s18-tlevels-desc-whothiscourseisfor"]
          }) }}

          {{ govukCharacterCount({
            name: "s18-tlevels-desc-entryrequirements",
            id: "s18-tlevels-desc-entryrequirements",
            maxlength: 500,
            rows: 7,
            label: {
              classes: "govuk-label--s",
              text: "Entry requirements"
            },
            hint: {
              text: "Specific skills, licences, vocational or academic requirements."
            },
            value: data["s18-tlevels-desc-entryrequirements"]
          }) }}

          {{ govukCharacterCount({
            name: "s18-tlevels-desc-whatyoulllearn",
            id: "s18-tlevels-desc-whatyoulllearn",
            maxlength: 1500,
            rows: 7,
            label: {
              classes: "govuk-label--s",
              text: "What you'll learn"
            },
            hint: {
              text: "The main topics, units or modules of the T Level a learner can expect."
            },
            value: data["s18-tlevels-desc-whatyoulllearn"]
          }) }}

          {{ govukCharacterCount({
            name: "s18-tlevels-desc-howyoulllearn",
            id: "s18-tlevels-desc-howyoulllearn",
            maxlength: 500,
            rows: 7,
            label: {
              classes: "govuk-label--s",
              text: "How you'll learn"
            },
            hint: {
              text: "The methods used to deliver the T Level."
            },
            value: data["s18-tlevels-desc-howyoulllearn"]
          }) }}

          {{ govukCharacterCount({
            name: "s18-tlevels-desc-howassessed",
            id: "s18-tlevels-desc-howassessed",
            maxlength: 500,
            rows: 7,
            label: {
              classes: "govuk-label--s",
              text: "How you'll be assessed"
            },
            hint: {
              text: "The ways a learner will be assessed."
            },
            value: data["s18-tlevels-desc-howassessed"]
          }) }}

          {{ govukCharacterCount({
            name: "s18-tlevels-desc-whatyoucandonext",
            id: "s18-tlevels-desc-whatyoucandonext",
            maxlength: 500,
            rows: 7,
            label: {
              classes: "govuk-label--s",
              text: "What you can do next"
            },
            hint: {
              text: "The further opportunities a learner can expect after successfully completing the T Level."
            },
            value: data["s18-tlevels-desc-whatyoucandonext"]
          }) }}

          {{ govukButton({
            classes: "govuk-!-margin-right-3",
            text: "Check and publish changes"
          }) }}


          {{ govukButton({
            classes: "govuk-button--secondary",
            href: "tlevels-view",
            text: "Cancel"
          }) }}

        </form>

    </div>
  </div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
