{% extends "layout-sprint14.html" %}

{% block pageTitle %}
  Provider type settings
{% endblock %}

{% block header %}
  {% include "includes/header-tribal-sprint14.html" %}
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
  }) }}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  <!-- Provider navigation -->
    {% include "includes/tribal-mininav-sprint18.html" %}
  <!--

  {{ govukBackLink({
    text: "Back to home screen",
    href: "#"
  }) }}

  -->

{% endblock %}

{% block content %}


<!-- content start -->
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Remove a T Level</h1>

    <p class="govuk-body">By removing the selected T Levels, the following will be deleted and no longer available on Publish to the course directory, Find a Course and Tlevels.gov.uk.</p>
<!--
    <ul class="govuk-list govuk-list--bullet">

    {% if data['s18-provider-type-removed-fecourses'] == true %}
    <li>
      48 FE Courses
    </li>
    {% endif %}

    {% if data['s18-provider-type-removed-apprenticeships'] == true %}
    <li>
      15 Apprenticeships
    </li>
    {% endif %}

    {% if data['s18-provider-type-removed-tlevels'] == true %}
    <li>
      3 T Levels
    </li>
    {% endif %}
    </ul>
-->
    {%
      if (data['s18-provider-removedtlevel-design'] == true)
      or (data['s18-provider-removedtlevel-digital'] == true)
      or (data['s18-provider-removedtlevel-education'] == true)
    %}

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>

          The following will be deleted:<br><br>
          <ul class="govuk-list govuk-list--bullet">
            {% if data['s18-provider-removedtlevel-design'] == true %}
              <li>2 Design, Surveying and Planning for Construction T Levels</li>
            {% endif %}

            {% if data['s18-provider-removedtlevel-digital'] == true %}
              <li>1 Digital Production, Design and Development T Levels</li>
            {% endif %}

            {% if data['s18-provider-removedtlevel-education'] == true %}
              <li>3 Education and Childcare T Levels</li>
            {% endif %}
          </ul>

        </strong>
      </div>

    {% endif %}
<!--
    {% if data['s18-provider-removedtlevel-design'] == true %}
        {{ govukWarningText({
          text: "2 Design, Surveying and Planning for Construction T Levels will be deleted",
          iconFallbackText: "Warning"
        }) }}
    {% endif %}

    {% if data['s18-provider-removedtlevel-digital'] == true %}
        {{ govukWarningText({
          text: "1 Digital Production, Design and Development T Levels will be deleted",
          iconFallbackText: "Warning"
        }) }}
    {% endif %}

    {% if data['s18-provider-removedtlevel-education'] == true %}
        {{ govukWarningText({
          text: "3 Education and Childcare T Levels will be deleted",
          iconFallbackText: "Warning"
        }) }}
    {% endif %}
-->
    <h2 class="govuk-heading-m">Are you sure?</h2>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "s18-provider-tlevel-remove-areyousure",
        name: "s18-provider-tlevel-remove-areyousure",
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        classes: "govuk-!-margin-right-5",
        text: "Continue"
      }) }}
<!--
      {{ govukButton({
        classes: "govuk-button--secondary",
        href: "tlevels-provider-type",
        text: "Cancel"
      }) }}
-->
    </form>

  </div>

  <div class="govuk-grid-column-one-third">
  </div>


</div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
