{% extends "layout.html" %}

{% block pageTitle %}
  Contact page
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="#1">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#4">
              Your locations
            </a>
          </li>

          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#2">
              Your apprenticeships training
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#3">
              Your courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#3">
              Your T Levels
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#3">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Get in touch
    </h1>
    <p class="govuk-body">If you've got a question or need help with Publish to the course directory get in touch with the support team.</p>

    <h2 class="govuk-heading-m">Email</h2>
    <p class="govuk-body">Email the Publish to the course directory support team on support@coursedirectory.org.uk</p>

    <h2 class="govuk-heading-m">Telephone</h2>
    <p class="govuk-body">0844 811 5073</p>

    <p class="govuk-body">Monday to Friday, 9am to 5pm (except public holidays)</p>
    <p class="govuk-body">Find out about call charges.</p>

    <!-- <h2 class="govuk-heading-m">Useful links</h2>
    <p class="govuk-body">Nostrud reprehenderit laboris:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#" class="govuk-link">velit elit officia culpa</a></li>
      <li><a href="#" class="govuk-link">volor anim occaecat ad</a></li>
      <li><a href="#" class="govuk-link">dolor consectetur veniam officia</a></li>
      <li><a href="#" class="govuk-link">est excepteur ad velit</a></li>
    </ul> -->

  </div>

</div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
