{% extends "layout.html" %}

{% block pageTitle %}
  Provider homescreen apprenticeships only
{% endblock %}

{% block header %}

<!-- start cookie -->

<!-- <div id="global-cookie-message" class="gem-c-cookie-banner govuk-clearfix show-hide-section-5" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet="" style="display: block;">

  <div class="gem-c-cookie-banner__wrapper govuk-width-container show-hide-section-3">
    <div class="govuk-grid-row">
      <div class=" govuk-grid-column-two-thirds">
        <div class="gem-c-cookie-banner__message">
          <span class="govuk-heading-m">Tell us whether you accept cookies</span>
          <p class="govuk-body">We use <a class="govuk-link" href="cookie-details">cookies to collect information</a> about how you use GOV.UK. We use this information to make the website work as well as possible and improve government services.</p>
        </div>
        <div class="gem-c-cookie-banner__buttons">
          <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-accept govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
            <button class="gem-c-button govuk-button gem-c-button--inline govuk-!-margin-bottom-2 hide3 show4">Accept all cookies</button>
          </div>
          <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-settings govuk-grid-column-full govuk-grid-column-one-half-from-desktop">

            <a class="gem-c-button govuk-button gem-c-button--inline govuk-!-margin-bottom-2" role="button" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked" href="cookie-settings">Set cookie preferences</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gem-c-cookie-banner__confirmation govuk-width-container show-hide-section-4" tabindex="-1">
    <p class="gem-c-cookie-banner__confirmation-message">
      You’ve accepted all cookies. You can <a class="govuk-link" href="cookie-settings" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at
      any time.
    </p>
    <button class="gem-c-cookie-banner__hide-button hide4" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</button>
  </div>
</div> -->

<!-- end cookie -->


  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: 80%;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Locations
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Apprenticeship training courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-error-summary" style="border-color:#005ea5;">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Notification heading
      </h2>
      <div class="govuk-error-summary__body">
        <p>Notification summary content. Helping the user to understand what action they need to take and why.</p>
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#" style="color:#005ea5;">Link to take action</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- end notification -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">Further education courses</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider" style="height:280px;">
      <h2 class="govuk-heading-s">Published courses</h2>
      <p class="cd-card-number-1">224</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your courses</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action" style="height:135px;">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="#">View and edit courses<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
          <li>
            <a class="govuk-link" href="#">Add a new course<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Bulk upload</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="#">Your published course information (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="#">A course information template (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Bulk upload courses<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">Apprenticeship training courses</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider" style="height:280px;">
      <h2 class="govuk-heading-s">Published courses</h2>
      <p class="cd-card-number-1">16</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your courses</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action" style="height:135px;">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="#">View and edit courses<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
          <li>
            <a class="govuk-link" href="#">Add a new course<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Bulk upload</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="#">Your published course information (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="#">A course information template (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Bulk upload courses<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">Locations</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider" style="height:280px;">
      <h2 class="govuk-heading-s">Locations</h2>
      <p class="cd-card-number-1">5</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your locations</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action" style="height:135px;">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="#">View and edit locations<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
          <li>
            <a class="govuk-link" href="#">Add a new location<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <aside class="related-content" role="complementary">
      <h2 class="related-content__heading">
        Related actions
      </h2>
      <div class="related-content__content-section" aria-labelledby="related-actions-links">
        <ul class="related-content__link-list">
          <li class="govuk-link related-content__link">
            <a class="related-content__section-link" href="#">Manage your organisation details</a>
          </li>
          <li class="govuk-link related-content__link">
            <a class="related-content__section-link" href="#">Create a new DfE Sign-in account</a>
          </li>
          <li class="govuk-link related-content__link">
            <a class="related-content__section-link" href="#">Manage your DfE Sign-in account</a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
