{% extends "layout.html" %}

{% block pageTitle %}
  Prototype component library
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  <!-- {{ govukHeader() }} -->
  <!-- {% from "govuk/components/header/macro.njk" import govukHeader %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Publish to the course directory",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Home",
        active: true
      },
      {
        href: "#2",
        text: "Apprenticeship training"
      },
      {
        href: "#2",
        text: "Courses"
      },
      {
        href: "#2",
        text: "Manage locations"
      }
    ]
  }) }} -->



  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Protoype component library
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>

    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back to contents",
  href: "index.html"
}) }}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <!-- column start -->

    <div class="govuk-grid-column-one-quarter sticky">
<!-- app-related-items -->

      <aside class="" role="complementary">
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li class="govuk-!-margin-bottom-2">
              <a href="#dashboard-panel">
                Dashboard panel
              </a>
            </li>
            <li class="govuk-!-margin-bottom-2">
              <a href="#inset">
                Inset
              </a>
            </li>
            <li class="govuk-!-margin-bottom-2">
              <a href="#search">
                Search
              </a>
            </li>
          </ul>
        </nav>
      </aside>


    </div>
    <!-- end column -->

    <!-- start column -->
    <div class="govuk-grid-column-three-quarters app-page">

      <h1 class="govuk-heading-xl">
        Components
      </h1>

      <!-- dashboard panel -->
      <h2 id="dashboard-panel" class="govuk-heading-l">Dashboard panel</h2>
      <p>Duis blandit cursus mollis. Quisque volutpat luctus augue semper blandit. Etiam lacus dolor, semper eget massa sed, porta dignissim erat. Donec eleifend lacus id magna aliquet congue. Vestibulum hendrerit iaculis.</p>

      <div class="govuk-grid-column-one-half cd-homepage__item">

        <div class="cd-migration-panel">
          <h2 class="cd-migration-panel__title">Manage</h2>
          <h2 class="cd-migration-panel__title">your courses</h2>
          <span class="cd-migration-panel__number">
            <a href="/providercourses" class="govuk-link">1 <span>  course</span></a>
          </span>
          <br>
          <br>
        </div>
        <ul class="govuk-list cd-homepage__list">
          <li class="cd-homepage__list--item"><a href="#" class="govuk-link">Add a new course</a>
          </li>
          <li class="cd-homepage__list--item"><a href="#" class="govuk-link">Bulk upload course information</a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-one-half cd-homepage__item">

        <div class="cd-migration-panel">
          <h2 class="cd-migration-panel__title">Manage</h2>
          <h2 class="cd-migration-panel__title">your apprenticeship training</h2>
          <span class="cd-migration-panel__number">
            <a href="/providercourses" class="govuk-link">1 <span>  apprenticeship</span></a>
          </span>
          <br>
          <br>
        </div>
        <ul class="govuk-list cd-homepage__list">
          <li class="cd-homepage__list--item"><a href="#" class="govuk-link">Add a new apprenticeship</a>
          </li>
          <li class="cd-homepage__list--item"><a href="/BulkUpload" class="govuk-link">Bulk upload apprenticeship information</a>
          </li>
        </ul>
      </div>

      <!-- end dashboad panel -->

      <!-- inset start -->
      <h2 id="inset" class="govuk-heading-l">Inset</h2>
      <p>Duis blandit cursus mollis. Quisque volutpat luctus augue semper blandit. Etiam lacus dolor, semper eget massa sed, porta dignissim erat. Donec eleifend lacus id magna aliquet congue. Vestibulum hendrerit iaculis.</p>
      <div class="govuk-inset-text govuk-!-margin-bottom-9 cd-inset-info">
        <p>Overall the provider details and apprenticeship training courses have <b>PASSED</b> quality assurance.</p>
      </div>

      <!-- inset end -->

      <!-- search -->

      <h2 id="search" class="govuk-heading-l">Search</h2>
      <p>Duis blandit cursus mollis. Quisque volutpat luctus augue semper blandit. Etiam lacus dolor, semper eget massa sed, porta dignissim erat. Donec eleifend lacus id magna aliquet congue. Vestibulum hendrerit iaculis.</p>

      <div class="bottom search-container govuk-!-margin-bottom-9">
        <form role="search" method="get" id="searchform" class="form-search" action="#">
          <label class="visuallyhidden" for="s">Search for:</label>
          <div class="search-input-wrapper">
            <input type="search" value="" name="s" id="s" class="search-query cd-search" placeholder="Search">
            <input type="submit" id="searchsubmit" value="Search" class="btn">
          </div>
        </form>
      </div>

      <!-- end search -->

    </div>
    <!-- end column -->

  </div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
