
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Course Directory Prototype
        <span class="govuk-caption-xl">Jan 2020</span>
      </h1>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>This page is a contents page for the templates and pages that make up the prototype. </p>

      <h2 class="govuk-heading-m">Templates</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="template.html">Standard template full width</a></li>
        <li><a href="/docs/tutorials-and-examples">Dashboard template thirds width</a></li>
      </ul>

      <h2 class="govuk-heading-m">Journeys and pages</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Bulk upload (start)</a></li>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/docs/tutorials-and-examples">Page 1</a></li>
            <li><a href="/docs/tutorials-and-examples">Page 2</a></li>
            <li><a href="/docs/tutorials-and-examples">Page 3</a></li>
            <li><a href="/docs/tutorials-and-examples">Page 4</a></li>
          </ul>
        <li><a href="/docs/tutorials-and-examples">Add an apprenticeship (start)</a></li>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/docs/tutorials-and-examples">Page 1</a></li>
          <li><a href="/docs/tutorials-and-examples">Page 2</a></li>
          <li><a href="/docs/tutorials-and-examples">Page 3</a></li>
          <li><a href="/docs/tutorials-and-examples">Page 4</a></li>
        </ul>
      </ul>
    </div>
</div>

{% endblock %}
