
{% extends "layout.html" %}

{% block pageTitle %}
  Publish to the course directory design history and prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      PttCD design history and prototypes
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Introduction to Publish to the course directory
    </h2>
    <p class="govuk-body">
      Course information added to Publish to the course directory is available to learners searching for learning and training opportunities on the National Careers Service, Find a course and for employers who want to take on an apprentice, Find an apprenticeship training for your apprentice.
    <p>

    <h2 class="govuk-heading-m">
      Prototypes
    </h2>
    <!-- accordion start -->

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-dm1">
              Data Management
            </span>
          </h2>
          <!--div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-dm1">
            Add, edit, delete location journeys updated 
          </div-->
        </div>
        <div id="accordion-default-content-dm1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-dm1">
          <ul class="govuk-list">
            <li><a class="govuk-link" href="dm1/">Initial upload happy path v1</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-e2e">
              End to end prototypes
            </span>
          </h2>
          <!--div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-e2e">
            Content refinement for T Levels, available on Tlevels.gov.uk
          </div-->
        </div>
        <div id="accordion-default-content-e2e" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-e2e">
          <p class="govuk-body govuk-!-margin-left-5">
            <a href="/v1" target="_blank">Version 1</a>
            <span class="govuk-caption-m">Mirrors journeys in live as of Jan 2021</span>
            <span class="govuk-caption-m">Created on: 26 Jan 2021</span>
          </p>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-21">
              Sprint 21
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-21">
            Add, edit, delete location journeys updated 
          </div>
        </div>
        <div id="accordion-default-content-21" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-21/venues">View and edit locations</a></li>
          </ul>
        </div>
      </div>

      <!--  -->
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
              Sprint 20
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-12">
            Content refinement
          </div>
        </div>
        <div id="accordion-default-content-13" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">
          <ul class="govuk-list">
            <li><b>Apprenticeship</b></li>
            <li><a class="govuk-link" href="sprint-20/apprenticeships/add/delivery-employer-location">Add apprenticeship - employer location </a></li>
            </ul>

        </div>
      </div><div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
              Sprint 19
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-12">
            Content refinement for T Levels, available on Tlevels.gov.uk
          </div>
        </div>
        <div id="accordion-default-content-13" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">
          <ul class="govuk-list">
            <li><b>T Levels</b></li>
            <li><a class="govuk-link" href="sprint-19/tlevels-description">T Levels - Add - description</a></li>
            <li><a class="govuk-link" href="sprint-19/tlevels-checkanswers">T Levels - Add/Edit check answers</a></li>
            <li><a class="govuk-link" href="sprint-19/tlevels-confirmation">T Levels - Add - confirmation</a></li>
            <li><a class="govuk-link" href="sprint-19/tlevels-edit-confirmation">T Levels - Edit confirmation</a></li>
            <li><a class="govuk-link" href="sprint-19/tlevels-view">T Levels - View</a></li>
            <li>&nbsp;</li>
            <li><a class="govuk-link" href="sprint-19/tlevels-list">T Levels - List with 'Add a T Level' button</a></li>
            <li>&nbsp;</li>
            <li><b>New provider home screen (Provider state 'None')</b></li>
            <li><a class="govuk-link" href="sprint-19/homescreen-none">Provider none</a></li>
            <li>&nbsp;</li>
            <li><b>Delete location journey</b></li>
            <li><a class="govuk-link" href="sprint-19/venues">Proposed delete location journey</a></li>
            <!--li><a class="govuk-link" href="sprint-19/venues">Current delete location journey</a></li>
            <li><a class="govuk-link" href="sprint-19/newvenues">Proposed delete location journey</a></li-->
          </ul>

        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
              Sprint 18
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-12">
            Managing provider type and associated T Levels
          </div>
        </div>
        <div id="accordion-default-content-13" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">

          <ul class="govuk-list">
            <li><b>T Levels</b></li>
            <li><a class="govuk-link" href="sprint-18/tlevels-setvars">T Levels - Edit journey</a></li>
            <li><a class="govuk-link" href="sprint-18/tlevels">T Levels list - Empty state</a></li>
            <li>&nbsp;</li>
            <li><b>Helpdesk screens</b></li>
            <li><a class="govuk-link" href="sprint-18/tribal-provider">Change provider type with T Levels</a></li>
          </ul>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
              Sprint 16
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-12">
            Provider T Levels, add location, managing provider type, and T Levels details with more than 10 venues
          </div>
        </div>
        <div id="accordion-default-content-13" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">

          <ul class="govuk-list">
            <li><b>Provider T Levels</b></li>
            <li><a class="govuk-link" href="sprint-16/tlevels-setvars">T Levels list</a></li>
            <li>&nbsp;</li>
            <li><b>Add location/venue journey</b></li>
            <li><a class="govuk-link" href="sprint-16/location-add">Add location</a></li>
            <li>&nbsp;</li>
            <li><b>Helpdesk screens</b></li>
            <li><a class="govuk-link" href="sprint-16/tribal-provider-details">Change provider type with T Levels</a></li>
            <li><a class="govuk-link" href="sprint-16/many-venues-tlevel-details">Add T Level details - more than 10 venues</a></li>
            <li>&nbsp;</li>
            <li><b>Error page</b></li>
            <li><a class="govuk-link" href="sprint-16/Expired-page">Expired page</a></li>
            <!--li>&nbsp;</li-->
          </ul>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
              Sprint 15
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-12">
            Standardisation of notices in PttCD and URL remapping
          </div>
        </div>
        <div id="accordion-default-content-13" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">

          <ul class="govuk-list">
            <!--li><b>View T Levels journey</b></li-->
            <li><a class="govuk-link" href="sprint-15/home-notice">Service generated notices</a></li>
            <li><a class="govuk-link" href="sprint-15/home-notice-qa">Quality assurance notices</a></li>
            <li><a class="govuk-link" href="sprint-15/home-notice-bulkupload-courses">Course bulk upload notices</a></li>
            <li><a class="govuk-link" href="sprint-15/home-notice-bulkupload-apprenticeships">Apprenticeship bulk upload notices</a></li>
            <li>&nbsp;</li>
            <li><a class="govuk-link" href="https://docs.google.com/spreadsheets/d/1YIJgvH2fO794vt09URuk9T3IGW12J7MSw9QDCJJ44RI/edit?usp=sharing" target="_blank">URL Remapping (Google Sheet opens in new window)</a></li>
            <!--li>
              <a class="govuk-link" href="sprint-15/home-alert-colour">Example alerts on home screen (coloured)</a>
              {{govukTag({
                text: "Do not use",
                classes: "govuk-tag--grey"
              })}}
            </li-->
            <!--li>&nbsp;</li-->
          </ul>

          <details class="govuk-details govuk-!-margin-top-5" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                External documentation on alerts in GOV
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="https://github.com/alphagov/govuk-design-system-backlog/issues/2#issuecomment-379351798" target="_blank">Dashboard alerts comment on design system backlog for Alerts</a></li>
                <li><a href="http://government-frontend.herokuapp.com/component-guide/notice" target="_blank">Notice component on Frontend Component Guide</a></li>
                <li><a href="https://design.homeoffice.gov.uk/components/alerts" taregt="_blank">Home Office alert components</a></li>
                <li><a href="http://rural-payments-styleguide.herokuapp.com/alerts/" target="_blank">Alerts on Rural Payments styleguide</a></li>
              </ul>
            </div>
          </details>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
              Sprint 14
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-12">
            View, edit and delete T Level journeys and bulk upload framework notification
          </div>
        </div>
        <div id="accordion-default-content-13" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">
          <ul class="govuk-list">
            <li><b>View T Levels journey</b></li>
            <li><a class="govuk-link" href="sprint-14/homescreen.html">Home screen - all provider types</a></li>
            <li>&nbsp;</li>
            <li><b>Edit a T Level direct links</b></li>
            <li><a class="govuk-link" href="sprint-14/tlevels-view-list">View T Levels</a></li>
            <li><a class="govuk-link" href="sprint-14/tlevels-view-design-avenue.html">Edit T Level</a></li>
            <li><a class="govuk-link" href="sprint-14/tlevels-editdetails-design-avenue.html">Edit T Level details</a></li>
            <li><a class="govuk-link" href="sprint-14/tlevels-editdescription-design-avenue.html">Edit T Level description</a></li>
            <li>&nbsp;</li>
            <li><b>Delete a T Level direct links</b></li>
            <li><a class="govuk-link" href="sprint-14/tlevels-delete-design-avenue-success.html">Delete a T Levels</a></li>
            <li><a class="govuk-link" href="sprint-14/tlevels-delete-design-avenue.html">Delete a T Level confirmation</a></li>
            <li>&nbsp;</li>
            <li><b>Bulk upload Framework notification</b></li>
            <li><a class="govuk-link" href="sprint-14/bulk-upload-app-upload-fworknote.html">Framework notification on app bulk upload</a></li>
            <li>&nbsp;</li>
            <li><b>Tribal admin screens</b></li>
            <li><a class="govuk-link" href="sprint-14/tribal-homescreen">Homescreen (Tribal)</a></li>
            <li><a class="govuk-link" href="sprint-14/tribal-provider-details">Provider details (Tribal)</a></li>
            <li><a class="govuk-link" href="sprint-14/tribal-provider-type">Change provider type (Tribal)</a></li>
            <li><a class="govuk-link" href="sprint-14/tribal-provider-information">Change provider information (Tribal)</a></li>
            <li>&nbsp;</li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
              Sprint 13
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-12">
            Home screen, add T Levels journey, and provider details
          </div>
        </div>
        <div id="accordion-default-content-13" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">
          <ul class="govuk-list">
            <li><b>Functional add T Levels journey</b></li>
            <li><a class="govuk-link" href="sprint-13/homescreen">Home screen - all provider types</a></li>
            <li><a class="govuk-link" href="sprint-13/tlevels-add">Add T Level</a></li>
            <li><a class="govuk-link" href="sprint-13/tlevels-add-error">Add T Level - Error</a></li>
            <li>&nbsp;</li>
            <li><b>Home screens for different provider types</b></li>
            <li><a class="govuk-link" href="sprint-13/homescreen-fe.html">Home screen - F.E. only</a></li>
            <li><a class="govuk-link" href="sprint-13/homescreen-apprenticeships.html">Home screen - Apprenticeships only</a></li>
            <li><a class="govuk-link" href="sprint-13/homescreen-tlevels.html">Home screen - T Levels only</a></li>
            <li><a class="govuk-link" href="sprint-13/homescreen-fe-apprenticeships.html">Home screen - F.E. and apprenticeships</a></li>
            <li><a class="govuk-link" href="sprint-13/homescreen-fe-tlevels.html">Home screen - F.E. and T Levels</a></li>
            <li><a class="govuk-link" href="sprint-13/homescreen-apprenticeships-tlevels.html">Home screen - Apprenticeships and T Levels</a></li>
            <li><a class="govuk-link" href="sprint-13/homescreen-none.html">Home screen - None</a></li>
            <li>&nbsp;</li>
            <li><b>Provider contact details</b></li>
            <li><a class="govuk-link" href="sprint-13/provider-details-fe.html">FE only - with contact details</a></li>
            <li><a class="govuk-link" href="sprint-13/provider-details-apps.html">App only - with contact details</a></li>
            <li><a class="govuk-link" href="sprint-13/provider-details-both.html">Both - with contact details</a></li>
            <li><br></li>
            <li><a class="govuk-link" href="sprint-13/provider-details-fe-empty.html">FE only - without contact details</a></li>
            <li><a class="govuk-link" href="sprint-13/provider-details-apps-empty.html">App only - without contact details</a></li>
            <li><a class="govuk-link" href="sprint-13/provider-details-both-empty.html">Both - without contact details</a></li>

            <li>&nbsp;</li>
            <li><b>Add a T Level direct links</b></li>
            <li><a class="govuk-link" href="sprint-13/tlevels-description.html">Add a T Level - Description</a></li>
            <li><a class="govuk-link" href="sprint-13/tlevels-details.html">Add a T Level - Details</a></li>
            <li><a class="govuk-link" href="sprint-13/tlevels-list.html">Select a T Level</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Homescreen
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul class="govuk-list">
            <li><a class="govuk-link" href="homescreen/dashboard.html">Dashboard template</a></li>
            <li><a class="govuk-link" href="homescreen/dashboard-new.html">Dashboard new template</a></li>
            <li><a class="govuk-link" href="homescreen/homescreen-all">Homescreen</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Tribal
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <h3 class="govuk-heading-s">Quality assurance</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="qa-tribal/start.html">Start</a></li>
            <li><a class="govuk-link" href="qa-tribal/signin.html">DfE sign in</a></li>
            <li><a class="govuk-link" href="qa-tribal/helpdesk-dashboard.html">Helpdesk dashboard</a></li>
            <li><a class="govuk-link" href="qa-tribal/providers-qa.html">Providers in QA</a></li>
            <li><a class="govuk-link" href="qa-tribal/providers-qa-empty.html">Providers in QA empty state</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-selected.html">Provider selected</a></li>
            <li><a class="govuk-link" href="qa-tribal/edit-qa-status.html">Edit quality assurance status</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-details-combined.html">QA Provider details - combined</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-check.html">QA Provider check</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-selected-interim.html">Provider selected in progress</a></li>
            <li><a class="govuk-link" href="qa-tribal/apprenticeship-training-combined.html">QA Apprenticeship training - combined</a></li>
            <li><a class="govuk-link" href="qa-tribal/apprenticeship-check.html">QA Apprenticeship check</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-selected-complete.html">Provider selected all complete</a></li>
            <li><a class="govuk-link" href="qa-tribal/qa-confirmation.html">QA confirmation</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-selected-failed">Provider selected failed</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-selected-unable">Provider selected unable to complete</a></li>
          </ul>

          <h3 class="govuk-heading-s">Search</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="qa-tribal/search-providers.html">Search providers</a></li>
            <li><a class="govuk-link" href="qa-tribal/search-providers-return.html">Return a search result</a></li>
          </ul>

          <h3 class="govuk-heading-s">Reports</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="qa-tribal/reports-tabs-select.html">Reports tabs select</a></li>
            <li><a class="govuk-link" href="qa-tribal/reports-tabs-table.html">Reports tabs table</a></li>
            <li><a class="govuk-link" href="qa-tribal/reports-accordion-select.html">Reports accordion select</a></li>
            <li><a class="govuk-link" href="qa-tribal/reports-accordion-table.html">Reports accordion table</a></li>
            <li><a class="govuk-link" href="qa-tribal/reports-all.html">All reports</a></li>
          </ul>

          <h3 class="govuk-heading-s">Migration</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="migration/migration-report">Migration report</a></li>
          </ul>

          <h3 class="govuk-heading-s">Archived quality assurance</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="qa-tribal/provider-details-compliance.html">QA Provider details - Compliance</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-details-style.html">QA Provider details - Style</a></li>
            <li><a class="govuk-link" href="qa-tribal/edit-cd-status.html">Edit Course Directory status</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-locations.html">Provider locations</a></li>
            <li><a class="govuk-link" href="qa-tribal/apprenticeships-choose.html">Choose apprenticeships to QA</a></li>
            <li><a class="govuk-link" href="qa-tribal/provider-selected-many-apprenticeships.html">Choose apprenticeships to QA</a></li>
            <li><a class="govuk-link" href="qa-tribal/all-apprenticeships.html">QA View all apprenticeships</a></li>
            <li><a class="govuk-link" href="qa-tribal/apprenticeship-training-compliance.html">QA Apprenticeship training - compliance</a></li>
            <li><a class="govuk-link" href="qa-tribal/apprenticeship-training-style.html">QA Apprenticeship training - style</a></li>
            <li><a class="govuk-link" href="qa-tribal/apprenticeship-locations.html">Apprenticeship locations</a></li>
            <li><a class="govuk-link" href="qa-tribal/unable-to-complete.html">Unable to complete reasons</a></li>
            <li><a class="govuk-link" href="qa-tribal/roatp-status.html">View RoATP status</a></li>
          </ul>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Apprenticeship providers
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <h3 class="govuk-heading-s">New apprenticeship and quality assurance</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="new-provider/homescreen-new-apprenticeship-provider-fe">Homescreen FE</a></li>
            <li><a class="govuk-link" href="new-provider/homescreen-new-apprenticeship-provider">Homescreen</a></li>
            <li><a class="govuk-link" href="new-provider/search">Search with no results</a></li>
            <li><a class="govuk-link" href="new-provider/search-framework-notification">Search with framework notification</a></li>
            <li><a class="govuk-link" href="new-provider/where-delivered">Where will it be delivered?</a></li>
            <li><a class="govuk-link" href="new-provider/add-location-find-address">Add location find address</a></li>
            <li><a class="govuk-link" href="new-provider/add-location-add-address">Add location add address</a></li>
            <li><a class="govuk-link" href="new-provider/provider-confirmation">Confirmation</a></li>
            <li><a class="govuk-link" href="new-provider/homescreen-new-apprenticeship-provider-submitted">Homescreen submitted</a></li>
            <li><a class="govuk-link" href="new-provider/homescreen-new-apprenticeship-provider-failed">Homescreen failed</a></li>
            <li><a class="govuk-link" href="new-provider/homescreen-new-apprenticeship-provider-passed">Homescreen passed</a></li>
          </ul>

          <h3 class="govuk-heading-s">Migration</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="migration/provider-homescreen-both">Homescreen for both</a></li>
            <li><a class="govuk-link" href="migration/provider-homescreen-fe-only">Homescreen for FE only</a></li>
            <li><a class="govuk-link" href="migration/provider-homescreen-apprenticeship-only">Homescreen for apprenticeships only</a></li>
          </ul>

          <h3 class="govuk-heading-s">Bulk upload</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="new-provider/bulk-upload-file-upload">Add a file</a></li>
          </ul>

          <h3 class="govuk-heading-s">Archived</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="new-provider/dashboard-qa-notice">Dashboard with QA notice</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-12">
              Sprint 12
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-12">
            Homescreen and navigation
          </div>
        </div>
        <div id="accordion-default-content-12" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-12">
          <h3 class="govuk-heading-s">Homescreen</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-12/homescreen-full-width-4">Homescreen - full screen 4</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-11">
              Sprint 11
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-11">
            Homescreen, navigation and contact
          </div>
        </div>
        <div id="accordion-default-content-11" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-11">
          <h3 class="govuk-heading-s">Homescreen</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-11/homescreen-full-width-1">Homescreen - full screen 1</a></li>
            <li><a class="govuk-link" href="sprint-11/homescreen-full-width-2">Homescreen - full screen 2</a></li>
            <li><a class="govuk-link" href="sprint-11/homescreen-full-width-3">Homescreen - full screen 3</a></li>
            <li><a class="govuk-link" href="sprint-11/homescreen-two-thirds-1">Homescreen - two thirds 1</a></li>
          </ul>

          <h3 class="govuk-heading-s">Navigation</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-11/homescreen-nav-app">Navigation apprenticeship only</a></li>
            <li><a class="govuk-link" href="sprint-11/homescreen-nav-fe">Navigation FE only</a></li>
            <li><a class="govuk-link" href="sprint-11/homescreen-nav-both">Navigation both</a></li>
          </ul>

          <h3 class="govuk-heading-s">Contact</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-11/homescreen-contact">Contact component</a></li>
            <li><a class="govuk-link" href="sprint-11/contact">Contact page</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
              Sprint 10
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-10">
            Edit and copy FE courses, bulk upload FPV FE and homescreen
          </div>
        </div>
        <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
          <h3 class="govuk-heading-s">Copy an FE course</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-10/course-list">Course list screen</a></li>
            <li><a class="govuk-link" href="sprint-10/course-edit-screen">Course edit screen</a></li>
            <li><a class="govuk-link" href="sprint-10/course-run-details-copy">Course run details</a></li>
            <li><a class="govuk-link" href="sprint-10/course-check-answers-copy">Check and publish</a></li>
            <li><a class="govuk-link" href="sprint-10/course-copy-confirmation">Confirmation</a></li>
          </ul>

          <h3 class="govuk-heading-s">Edit an FE course</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-10/course-edit-screen">Course edit screen</a></li>
            <li><a class="govuk-link" href="sprint-10/course-run-details-edit">Course run details</a></li>
            <li><a class="govuk-link" href="sprint-10/course-details-edit">Course description</a></li>
            <li><a class="govuk-link" href="sprint-10/course-edit-screen-notification-details">Course edit screen notification course run details</a></li>
            <li><a class="govuk-link" href="sprint-10/course-edit-screen-notification-description">Course edit screen notification course description</a></li>
          </ul>

          <h3 class="govuk-heading-s">Bulk upload FPV FE</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-10/bulk-upload-fe-upload">Bulk upload file upload FE</a></li>
            <li><a class="govuk-link" href="sprint-10/bulk-upload-fe-upload-error-csv">Bulk upload file upload FE - error csv</a></li>
            <li><a class="govuk-link" href="sprint-10/bulk-upload-fe-upload-error-missing-lars">Bulk upload file upload FE - error missing LARS</a></li>
            <li><a class="govuk-link" href="sprint-10/bulk-upload-fe-upload-error-invalid-lars">Bulk upload file upload FE - error invalid LARS</a></li>
            <li><a class="govuk-link" href="sprint-10/bulk-upload-fe-upload-error-expired-lars">Bulk upload file upload FE - error expired LARS</a></li>
            <li><a class="govuk-link" href="sprint-10/bulk-upload-fe-upload-error-heading">Bulk upload file upload FE - error heading</a></li>
          </ul>

          <h3 class="govuk-heading-s">Homescreen current </h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-10/homescreen-current">Homescreen with T-levels added</a></li>
          </ul>

          <h3 class="govuk-heading-s">Homescreen </h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-10/homescreen-app">Homescreen - app only</a></li>
            <li><a class="govuk-link" href="sprint-10/homescreen-courses">Homescreen - courses only</a></li>
            <li><a class="govuk-link" href="sprint-10/homescreen-tlevels">Homescreen - t-levels only</a></li>
            <li><a class="govuk-link" href="sprint-10/homescreen-app-tlevels">Homescreen - app and t-levels</a></li>
            <li><a class="govuk-link" href="sprint-10/homescreen-courses-app">Homescreen - courses and app</a></li>
            <li><a class="govuk-link" href="sprint-10/homescreen-courses-tlevels">Homescreen - courses and t-levels</a></li>
            <li><a class="govuk-link" href="sprint-10/homescreen-courses-app-tlevels">Homescreen - courses, app and t-levels</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
              Sprint 9
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-9">
            Bulk upload apprenticeships.
          </div>
        </div>
        <div id="accordion-default-content-9" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">
          <h3 class="govuk-heading-s">Bulk upload Apprenticeships</h3>
          <p class="govuk-body">Phase 1</p>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-9/bulk-upload-app-how">Bulk upload how to prepare a file</a></li>
            <li><a class="govuk-link" href="sprint-9/bulk-upload-app-upload">Bulk upload upload your file</a></li>
            <li><a class="govuk-link" href="sprint-9/bulk-upload-app-formatting">Bulk upload formatting and requirements</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
              Sprint 8
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-8">
            Locations.
          </div>
        </div>
        <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">
          <h3 class="govuk-heading-s">Locations</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-8/view-location-table">View locations table example</a></li>
            <li><a class="govuk-link" href="sprint-8/view-location-summary">View locations summary example</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
              Sprint 7
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-7">
            Bulk upload and change location information.
          </div>
        </div>
        <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">

          <h3 class="govuk-heading-s">Bulk upload FE</h3>
          <p class="govuk-body">Phase 1</p>

          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-7/bulk-upload-fe-how">Bulk upload how to prepare a file</a></li>
            <li><a class="govuk-link" href="sprint-7/bulk-upload-fe-upload">Bulk upload upload your file</a></li>
            <li><a class="govuk-link" href="sprint-7/bulk-upload-fe-formatting">Bulk upload formatting and requirements</a></li>
            <li><a class="govuk-link" href="sprint-7/bulk-upload-fe-subregions-list">Sub regions list</a></li>
          </ul>

          <p class="govuk-body">Phase 2+</p>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-7/bulk-upload-fe-publish">Bulk upload publish your file</a></li>
            <li><a class="govuk-link" href="sprint-7/bulk-upload-fe-fix-errors-what-next">Bulk upload fix your errors</a></li>
            <li><a class="govuk-link" href="sprint-7/bulk-upload-fe-progress">Bulk upload publishing progress</a></li>
            <li><a class="govuk-link" href="sprint-7/bulk-upload-fe-confirmation">Bulk upload confirmation</a></li>
            <li><a class="govuk-link" href="sprint-7/bulk-upload-fe-format-table">Bulk upload example format table</a></li>
          </ul>

          <h3 class="govuk-heading-s">Change website, email and phone number</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-7/view-location">View locations</a></li>
            <li><a class="govuk-link" href="sprint-7/view-location-edit">View location edit</a></li>
            <li><a class="govuk-link" href="sprint-7/add-location-edit-name">Change location name</a></li>
            <li><a class="govuk-link" href="sprint-7/add-location-edit-address">Change address</a></li>
            <li><a class="govuk-link" href="sprint-7/add-location-edit-email">Change email</a></li>
            <li><a class="govuk-link" href="sprint-7/add-location-edit-website">Change website</a></li>
            <li><a class="govuk-link" href="sprint-7/add-location-edit-phone">Change phone number</a></li>
          </ul>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              Sprint 6
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-6">
            Bulk upload, add a location, view locations, delete a location.
          </div>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">

          <h3 class="govuk-heading-s">Bulk upload</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-6/bulk-upload-fe">Bulk upload FE</a></li>
            <li><a class="govuk-link" href="sprint-6/bulk-upload-app">Bulk upload apprenticeships</a></li>
          </ul>

          <h3 class="govuk-heading-s">Add a location</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-6/add-location-find-address">Find address</a></li>
            <li><a class="govuk-link" href="sprint-6/add-location-add-address">Add address</a></li>
            <li><a class="govuk-link" href="sprint-6/add-location-add-address-manual">Add address manually</a></li>
            <li><a class="govuk-link" href="sprint-6/add-location-edit-name">Add name edit</a></li>
            <li><a class="govuk-link" href="sprint-6/add-location-edit-address">Add address edit</a></li>
          </ul>

          <h3 class="govuk-heading-s">View and edit locations</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-6/view-location">View locations</a></li>
            <li><a class="govuk-link" href="sprint-6/view-location-edit">View location edit</a></li>
          </ul>

          <h3 class="govuk-heading-s">Delete a location</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-6/delete-location-are-you-sure">Delete are you sure?</a></li>
            <li><a class="govuk-link" href="sprint-6/delete-location-confirmation">Delete confirmation</a></li>
          </ul>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              Sprint 5
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-5">
            Provider details and trading name selection.
          </div>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">

          <h3 class="govuk-heading-s">Provider details FE only</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-5/provider-details-fe">Provider details FE only</a></li>
            <li><a class="govuk-link" href="sprint-5/provider-details-no-trading-name-fe">Provider details FE only with no trading name</a></li>
            <li><a class="govuk-link" href="sprint-5/provider-details-choose-name">Choose name to be displayed</a></li>
          </ul>

          <h3 class="govuk-heading-s">Provider details both</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-5/provider-details-both">Provider details both</a></li>
            <li><a class="govuk-link" href="sprint-5/provider-details-no-trading-name-both">Provider details both no trading name</a></li>
            <li><a class="govuk-link" href="sprint-5/provider-information-both">Edit provider information apprenticeship or both</a></li>
          </ul>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Sprint 4
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
            User help for FE courses, locations accordion example.
          </div>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">

          <h3 class="govuk-heading-s">User help</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-4/course-type">Course type</a></li>
            <li><a class="govuk-link" href="sprint-4/course-list">Existing courses list</a></li>
            <li><a class="govuk-link" href="sprint-4/course-run-details">Course run details</a></li>
          </ul>

          <h3 class="govuk-heading-s">Locations accordion example</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-4/locations-accordion">Accordion example</a></li>
          </ul>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              Sprint 3
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
            Add and edit FE course details.
          </div>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

          <h3 class="govuk-heading-s">FE provider courses</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-3/course-details">Course details</a></li>
            <li><a class="govuk-link" href="sprint-3/course-run-details">Course run details</a></li>
            <li><a class="govuk-link" href="sprint-3/course-check-answers-new">Course check answers</a></li>
            <li><a class="govuk-link" href="sprint-3/course-add-confirmation">Course add confirmation</a></li>
            <li><a class="govuk-link" href="sprint-3/course-edit-screen">Course edit screen</a></li>
            <li><a class="govuk-link" href="sprint-3/course-details-edit">Course details edit</a></li>
            <li><a class="govuk-link" href="sprint-3/course-run-details-edit">Course run details edit</a></li>
            <li><a class="govuk-link" href="sprint-3/course-check-answers-edit">Course check answers edit</a></li>
            <li><a class="govuk-link" href="sprint-3/course-edit-confirmation">Course edit confirmation</a></li>
            <li><a class="govuk-link" href="sprint-3/course-details-copy">Course details copy</a></li>
            <li><a class="govuk-link" href="sprint-3/course-run-details-copy">Course run details copy</a></li>
            <li><a class="govuk-link" href="sprint-3/course-check-answers-copy">Course check answers copy</a></li>
            <li><a class="govuk-link" href="sprint-3/course-delete-are-you-sure">Course delete</a></li>
            <li><a class="govuk-link" href="sprint-3/course-delete-confirmation">Course delete confirmation</a></li>
          </ul>

        </div>
      </div>

      <!--  -->

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              Sprint 2
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
            Add and edit FE course details.
          </div>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

          <h3 class="govuk-heading-s">FE provider courses</h3>
          <ul class="govuk-list govuk-list--number">
            <li><a class="govuk-link" href="sprint-2/course-details">Course details</a></li>
            <li><a class="govuk-link" href="sprint-2/course-run-details">Course run details</a></li>
            <li><a class="govuk-link" href="sprint-2/course-check-answers-new">Course check answers</a></li>
            <li><a class="govuk-link" href="sprint-2/course-add-confirmation">Course add confirmation</a></li>
            <li><a class="govuk-link" href="sprint-2/course-edit-screen-new">Course edit screen</a></li>
            <li><a class="govuk-link" href="sprint-2/course-edit-confirmation">Course edit confirmation</a></li>
            <li><a class="govuk-link" href="sprint-2/course-delete-confirmation">Course delete confirmation</a></li>
            <li><a class="govuk-link" href="sprint-2/course-run-details-copy">Course run details copy</a></li>
            <li><a class="govuk-link" href="sprint-2/course-check-answers-copy">Course check answers copy</a></li>
          </ul>

          <h3 class="govuk-heading-s">Archived</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-2/course-check-answers">Course check answers</a></li>
            <li><a class="govuk-link" href="sprint-2/course-edit-screen">Course edit screen</a></li>
          </ul>
        </div>
      </div>

      <!--  -->


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              Sprint 1
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            Cookie banner, non-England postcode notification, sorting tables.
          </div>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <h3 class="govuk-heading-s">Cookies</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-1/homescreen-cookies">Homescreen with cookie banner</a></li>
            <li><a class="govuk-link" href="sprint-1/cookie-settings">Cookie settings</a></li>
            <li><a class="govuk-link" href="sprint-1/cookie-details">Cookie details</a></li>
          </ul>

          <h3 class="govuk-heading-s">FE provider course details</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-1/course-details-overseen">Course details - overseen</a></li>
            <li><a class="govuk-link" href="sprint-1/course-run-details-overseen">Course run details - overseen</a></li>
          </ul>

          <h3 class="govuk-heading-s">Non-England postcode notification</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-1/postcode-notification">Postcode notification</a></li>
          </ul>

          <h3 class="govuk-heading-s">Sorting tables</h3>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="sprint-1/sorting-tables#in-progress">Sorting tables for QA tabs</a></li>
          </ul>
        </div>
      </div>

      <!--  -->

    </div>

    <!-- accordion end -->

  </div>
  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Help and documentation
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="component-library.html">Protoype component library</a>
          </li>
          <li>
            <a class="govuk-link" href="https://design-system.service.gov.uk/">GDS design system</a>
          </li>
          <li>
            <a class="govuk-link" href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples">Tutorials and examples</a>
          </li>
          <li>
            <a class="govuk-link" href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples">Content and design principles for Publish to the course directory</a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>

{% endblock %}
