{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}

{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}

<meta name="viewport" content="initial-scale=1.0, width=device-width">
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}

<header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__content">
            <a href="#" class="govuk-header__link govuk-header__link--service-name">
                National Career Service
            </a>
            <nav aria-label="Menu" class="govuk-header__navigation ">
                <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu">Menu</button>

                <ul id="navigation" class="govuk-header__navigation-list">
                    <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                        <a class="govuk-header__link" href="#1">
                            Explore Careers
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#2">
                            Skill assessment
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#3">
                            Find a course
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#4">
                            Contact us
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#4">
                            Active plans
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#4">
                            Career advice
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                alpha
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>


    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://nationalcareers.service.gov.uk/explore-careers">Explore Careers</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://nationalcareers.service.gov.uk/job-categories/hospitality-and-food">Hospitality and food job category</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Restaurant manager</a>
            </li>
        </ol>
    </div>
</div>
<div style="width:100%">
    <img id="bannerImg" class="image2" src="/public/images/banner-mgr.png" style="width:100%" alt="" />
    <img id="bannerImgMobile" class="image2" src="/public/images/rest-mob.png" style="width:100%" alt="" />
</div>
    <div class="govuk-width-container">

        <div class="wrapper-top-left">
            <h1>
                <label class="govuk-label govuk-label--l govuk-label-pink" for="event-name">
                    Restaurant manager
                </label>
            </h1>
        </div>
        <div class="wrapper-top-left-primary">
            <h2>
                <label class="govuk-label govuk-label--m govuk-label-grey" for="event-name">
                    Fast food restaurant manager , hotel restaurant manager
                </label>
            </h2>
        </div>
        <div style="width:80%">
        <div class="wrapper-top-left-secondary">
            <p class="govuk-label-black">This role is part of the  <a href="#">Hospitality and food job category.</a></p>
        </div>
    </div>
    </div>
    <div class="govuk-grid-row  wrapper-row">
        <div class="govuk-grid-column-one-quarter">
            <div id="_PinkWrapper"></div>
        </div>
        <div class="govuk-grid-column-three-quarters">
           
            <div id="dvSalary">
                <div class="govuk-grid-column-two-thirds">
                   
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p style="width: 400px;" class="salary-text"><span style="color: #E3048A !important; font-weight: bold;">Salary:</span> £18,000 to £28,000 a year </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="_Hours"><span style="color: #E3048A !important; font-weight: bold; ">Hours: </span>42 to 44 a week</p>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
     </div>
       


        {% endblock %}


        {% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

        {% if useAutoStoreData %}

        {% block footer %}

        <div style="background-color: #E3048A; width: 100%; height: 300px;margin-bottom:15px; " class="top-margin">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <table>
                            <tr>
                                <td>
                                    <div id="_ContactUs" class="govuk-grid-row">
                                        <div id="dvContactUs">
                                            <h1 class="govuk-label--l">Speak to an adviser</h1>
                                        </div>
                                        <p id="_ContactDesc" class="govuk-body-l">
                                            Want to get local, personalised advice? Wherever you are with your decisions, you can call us or use our webchat.
                                        </p>
                                        <!--<button class="govuk-button govuk-button-color-black"  data-module="govuk-button"/>-->
                                        <a href="https://nationalcareers.service.gov.uk/contact-us" target="_blank">
                                            <img class="btn-contactus" src="/public/images/blackbutton.png" />
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="govuk-grid-row">
                                        <img id="persona-desktop" src="/public/images/womanpersona.png" class="govuk-persona" />
                                        <img id="persona-mobile" src="/public/images/womanfooter.png" class="govuk-persona" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>


        </div>
        {{
 govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    })
        }}

        {% endblock %}
        {% endif %}

        {% block bodyEnd %}
        {% block scripts %}
        {% include "includes/scripts.html" %}
        {% block pageScripts %}

        <script>
            $(document).ready(function () {
                const prevBtn = document.querySelector(".prev");
                const nextBtn = document.querySelector(".next");
                const dots = Array.from(document.querySelectorAll(".dot"));

                let slideIndex = 1;

                function plusSlides(e) {
                    let num;

                    if (e.target === prevBtn) num = -1;
                    if (e.target === nextBtn) num = 1;

                    showSlides((slideIndex += num));
                }

                function currentSlide(e) {
                    if (e.target === dots[0]) showSlides((slideIndex = 1));
                    if (e.target === dots[1]) showSlides((slideIndex = 2));
                    if (e.target === dots[2]) showSlides((slideIndex = 3));
                    // if (e.target === dots[3]) showSlides((slideIndex = 4));
                }

                function showSlides(n) {
                    const slides = Array.from(document.querySelectorAll(".slide"));

                    if (n > slides.length) slideIndex = 1;
                    if (n < 1) slideIndex = slides.length;

                    slides.forEach((slide) => slide.classList.remove("is-active"));
                    dots.forEach((dot) => dot.classList.remove("is-active"));

                    slides[slideIndex - 1].classList.add("is-active");
                    dots[slideIndex - 1].classList.add("is-active");
                }

                prevBtn.addEventListener("click", plusSlides);
                nextBtn.addEventListener("click", plusSlides);
                dots.forEach((dot) => dot.addEventListener("click", currentSlide));



            });
        </script>
        {% endblock %}
        {% endblock %}
        <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
        {% endblock %}
