{% extends "layout.html" %}

{% block pageTitle %}
  Provider homescreen apprenticeships only
{% endblock %}

{% block header %}
  {% include "includes/header-sprint13.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href=javascript:preventDefault();#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}



{% block content %}


<!-- start user panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- <h1 class="govuk-heading-m">PRESIDENCY LONDON COLLEGE LIMITED</h1> -->
    <div class="govuk-inset-text govuk-!-margin-top-0">
      <h1 class="govuk-heading-m">PRESIDENCY LONDON COLLEGE LIMITED</h1>
      <p>Your UK Provider Reference Number (UKPRN) is <span class="govuk-!-font-weight-bold">10035735</span></p>
      <p><a href="javascript:preventDefault();#" class="govuk-link">Your provider details</a></p>
    </div>
  </div>
</div>


<!-- UKPRN: 10035735 -->

<!-- end user panel -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">Courses</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider" style="height:280px;">
      <h2 class="govuk-heading-s">Published courses</h2>
      <p class="cd-card-number-1">224</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your courses</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action" style="height:135px;">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Add a course<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">View and edit courses<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Bulk upload</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Your published course information (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">A course information template (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Bulk upload courses<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">Apprenticeships</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider" style="height:280px;">
      <h2 class="govuk-heading-s">Published apprenticeships</h2>
      <p class="cd-card-number-1">16</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your apprenticeships</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action" style="height:135px;">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Add an apprenticeship<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">View and edit apprenticeships<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Bulk upload</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Your published apprenticeships information (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">An apprenticeships information template (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Bulk upload apprenticeships<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--  -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">T Levels</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider">
      <h2 class="govuk-heading-s">Published T Levels</h2>
      <p class="cd-card-number-1">{{ data['sprint13-tlevels-count'] }}</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your T Levels</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="tlevels-add">Add a T Level</a>
          </li>
          {% if data['sprint13-tlevels-count'] > 0 %}
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">View and edit T Levels</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <!--div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Bulk upload</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action">
        <ul class="govuk-list govuk-list__small"-->
          <!--li>
            <a class="govuk-link" href="javascript:preventDefault();">Your published course information (CSV)</a>
          </li-->
          <!--li>
            <a class="govuk-link" href="javascript:preventDefault();">A course information template (CSV)</a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Bulk upload courses<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div-->

</div>

<!--  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m section-heading">Locations</h2>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4">

  <div class="govuk-grid-column-one-third">
    <div class="cd-card cd-card-2 cd-card--provider" style="height:280px;">
      <h2 class="govuk-heading-s">Locations</h2>
      <p class="cd-card-number-1">5</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="cd-card-1 cd-card--provider">
      <div class="cd-card-content">
        <h2 class="govuk-heading-s">Your locations</h2>
        <p class="govuk-body-s">This is some copy about something that explains the card.</p>
      </div>
      <div class="cd-card-action" style="height:135px;">
        <ul class="govuk-list govuk-list__small">
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">Add a location<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
          <li>
            <a class="govuk-link" href="javascript:preventDefault();">View and edit locations<span class="govuk-visually-hidden"> further education courses</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--  -->

<!-- contact panel -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="cd-contact-panel">
      <h2 class="govuk-heading-m">Need help?</h2>
      <p class="govuk-body">
        If you’ve got a question about Publish to the course directory, <a class="govuk-link" href="contact">contact the support team</a>.
      </p>
    </div>
  </div>
</div>

  <!-- End of contact panel -->

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <aside class="related-content" role="complementary">
      <h2 class="related-content__heading">
        Related actions
      </h2>
      <div class="related-content__content-section" aria-labelledby="related-actions-links">
        <ul class="related-content__link-list">
          <li class="govuk-link related-content__link">
            <a class="related-content__section-link" href="javascript:preventDefault();">Manage your organisation details</a>
          </li>
          <li class="govuk-link related-content__link">
            <a class="related-content__section-link" href="javascript:preventDefault();">Create a new DfE Sign-in account</a>
          </li>
          <li class="govuk-link related-content__link">
            <a class="related-content__section-link" href="javascript:preventDefault();">Manage your DfE Sign-in account</a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div> -->

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
