{% extends "layout.html" %}

{% block pageTitle %}
  Add T Level description
{% endblock %}

{% block header %}
  {% include "includes/header-sprint13.html" %}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        T Level description
      </h1>
      <!--div class="govuk-inset-text">{{ data['tlevels'] }}</div-->
      <!--p class="govuk-body-l">Add your description of {{ data['tlevels'] }}.</p-->

      <p class="govuk-body">The description of {% if (data['tlevels']) %}{{ data['tlevels'] }}{% else %}[T Level name]{% endif %} has been provided for you to edit.</p>
      <p class="govuk-body govuk-!-margin-bottom-5">The T Level information will be available on the National Careers Service, <a href="https://nationalcareers.service.gov.uk/find-a-course/search" target="_blank">Find a course</a>, available to learners searching for learning and training opportunities.

      <!--  -->

      <form action="" method="post" class="form">

        {{ govukCharacterCount({
          name: "tlevels-desc-whothiscourseisfor",
          id: "tlevels-desc-whothiscourseisfor",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "Who this T Level is for"
          },
          hint: {
            text: "Information that will help the learner decide whether this T Level is suitable for them, the learning experience and opportunities they can expect."
          },
          value: data['tlevels-desc-whothiscourseisfor']
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-entryrequirements",
          id: "tlevels-desc-entryrequirements",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "Entry requirements"
          },
          hint: {
            text: "Specific skills, licences, vocational or academic requirements."
          },
          value: data['tlevels-desc-entryrequirements']
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-whatyoulllearn",
          id: "tlevels-desc-whatyoulllearn",
          maxlength: 1500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "What you'll learn"
          },
          hint: {
            text: "The main topics, units or modules of the T Level a learner can expect."
          },
          value: data['tlevels-desc-whatyoulllearn']
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-howyoulllearn",
          id: "tlevels-desc-howyoulllearn",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "How you'll learn"
          },
          hint: {
            text: "The methods used to deliver the T Level."
          },
          value: data['tlevels-desc-howyoulllearn']
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-howassessed",
          id: "tlevels-desc-howassessed",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "How you'll be assessed"
          },
          hint: {
            text: "The ways a learner will be assessed."
          },
          value: data['tlevels-desc-howassessed']
        }) }}

        {{ govukCharacterCount({
          name: "tlevels-desc-whatyoucandonext",
          id: "tlevels-desc-whatyoucandonext",
          maxlength: 500,
          rows: 7,
          label: {
            classes: "govuk-label--m",
            text: "What you can do next"
          },
          hint: {
            text: "The further opportunities a learner can expect after successfully completing the T Level."
          },
          value: data['tlevels-desc-whatyoucandonext']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
