{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload apprenticeship
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Bulk upload your course information
    </h1>

    <p class="govuk-body">You can upload a CSV file to update your courses in Publish to the course directory.</p>

    <h2 class="govuk-heading-m">Creating your bulk upload file</h2>

    <p class="govuk-body">To create your file you can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#" class="govuk-link">download your published course information (CSV)</a></li>
      <li><a href="#" class="govuk-link">download a course infor template (CSV)</a></li>
    </ul>

    <h2 class="govuk-heading-m">Preparing your bulk upload file</h2>

    <p class="govuk-body">To ensure a bulk upload is successful you must:</p>

    <ul class="govuk-list govuk-list--bullet">

      <li><a href="#">add new venues</a> to the service prior to a bulk upload</li>
      <li>include existing courses and new courses in the file</li>
      <li>complete all mandatory fields</li>
      <li>follow the <a href="bulk-upload-app-formatting" class="govuk-link">format requirements</a></li>
      <li>save the file as a CSV</li>
    </ul>


    <a href="bulk-upload-app-upload">
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </a>

  </div>

</div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
