{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload App formatting
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Formatting a bulk upload file
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">The tables below show information about each field in the bulk upload file and how to complete it correctly.</p>


    <h2 class="govuk-heading-m">STANDARD_CODE</h2>

    <p class="govuk-body">Standards are listed by LARS (Learning Aims Reference) or QAN (Qualification Accreditation Number) code.</p>

    <p class="govuk-body">Codes can be found at <a class="govuk-link" href="https://findalearningaimbeta.fasst.org.uk/">Find a learning aim</a>.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">All delivery methods.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Character limit</th>
          <td class="govuk-table__cell">?3</td>
        </tr> -->
        <!-- <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Example</th>
          <td class="govuk-table__cell">xxx<br>xxx<br>xxx</td>
        </tr> -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">Standards must be approved for delivery.</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">STANDARD_VERSION</h2>

    <p class="govuk-body">Standards codes on Publish to the course directory are version 1.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">All delivery methods.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter</th>
          <td class="govuk-table__cell">1</td>
        </tr>
        <!-- <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">
            For apprenticeship training courses with more than one STANDARD_CODE, each STANDARD_VERSION must be entered on a separate row</td>
        </tr> -->
      </tbody>
    </table>

    <h2 class="govuk-heading-m">FRAMEWORKS_CODE</h2>

    <p class="govuk-body">Frameworks have now been replaced by standards, while we continue to update the service leave this column blank.</p>

    <p class="govuk-body">Read more about the <a href="https://www.gov.uk/government/publications/removal-of-apprenticeship-frameworks#:~:text=We%20can%20now%20confirm%20that,will%20be%2031%20July%202020." target="_blank">withdrawal of apprenticeship frameworks</a>.</p>

    <h2 class="govuk-heading-m">FRAMEWORKS_PROG_TYPE</h2>

    <p class="govuk-body">Frameworks have now been replaced by standards, while we continue to update the service leave this column blank.</p>

    <p class="govuk-body">Read more about the <a href="https://www.gov.uk/government/publications/removal-of-apprenticeship-frameworks#:~:text=We%20can%20now%20confirm%20that,will%20be%2031%20July%202020." target="_blank">withdrawal of apprenticeship frameworks</a>.</p>

    <h2 class="govuk-heading-m">FRAMEWORKS_PATHWAY_CODE</h2>

    <p class="govuk-body">Frameworks have now been replaced by standards, while we continue to update the service leave this column blank.</p>

    <p class="govuk-body">Read more about the <a href="https://www.gov.uk/government/publications/removal-of-apprenticeship-frameworks#:~:text=We%20can%20now%20confirm%20that,will%20be%2031%20July%202020." target="_blank">withdrawal of apprenticeship frameworks</a>.</p>

    <h2 class="govuk-heading-m">APPRENTICESHIP_INFORMATION</h2>

    <p class="govuk-body">Provide information for employers about how you will deliver this apprenticeship training course. The information should meet <a href="https://www.gov.uk/government/publications/find-apprenticeship-training-how-to-submit-data." target="_blank">style and compliance guidelines</a>.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">All delivery methods.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Character limit</th>
          <td class="govuk-table__cell">750</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">
            Avoid using special characters and line breaks.</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">APPRENTICESHIP_WEBPAGE</h2>

    <p class="govuk-body">The webpage for this apprenticeship training course.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">All delivery methods.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">No</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Example</th>
          <td class="govuk-table__cell">http://www.apprenticeshipwebpage.com</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">CONTACT_EMAIL</h2>

    <p class="govuk-body">The contact for the apprenticeship training course.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">All delivery methods.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Example</th>
          <td class="govuk-table__cell">name@example.com</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">CONTACT_PHONE</h2>

    <p class="govuk-body">The contact for the apprenticeship training course.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">All delivery methods.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Example</th>
          <td class="govuk-table__cell">01632 960 001</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">CONTACT_URL</h2>

    <p class="govuk-body">The contact page for the apprenticeship training course.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">All delivery methods.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">No</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Example</th>
          <td class="govuk-table__cell">http://college/contactus.com</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">DELIVERY_METHOD</h2>

    <p class="govuk-body">Where the apprenticeship training will be delivered.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">All delivery methods.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter<br></th>
          <td class="govuk-table__cell">Classroom<br>Employer<br>Both</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">
            For apprenticeship training courses with more than one VENUE, each apprenticeship must be entered on a separate row.</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">VENUE</h2>

    <p class="govuk-body"></p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">Where DELIVERY_METHOD is classroom or both.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Character limit</th>
          <td class="govuk-table__cell">255</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">
            Apprenticeships with the same standard code and the same delivery method must be entered on a separate row with a different venue.</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">RADIUS</h2>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">Where DELIVERY_METHOD is both.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter<br></th>
          <td class="govuk-table__cell">xx for example xx</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">
            A radius must not be more than 874 miles
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">DELIVERY_MODE</h2>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">Where DELIVERY_METHOD is classroom or both.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter</th>
          <td class="govuk-table__cell">Day;block;both</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">
            Each unique value can only be listed once (Test what this means)<br><br>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">ACROSS_ENGLAND</h2>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">Where DELIVERY_METHOD is both</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter</th>
          <td class="govuk-table__cell">Yes<br>No</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">

          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">NATIONAL_DELIVERY</h2>

    <p class="govuk-body"></p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">Where DELIVERY_METHOD is employer based.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter</th>
          <td class="govuk-table__cell">Yes<br>No</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">REGION</h2>
    <p class="govuk-body">This field must be kept blank.</p>

    <h2 class="govuk-heading-m">SUB_REGION</h2>

    <p class="govuk-body">All the areas where you can deliver the course.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">Where DELIVERY_METHOD is employer based.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Example</th>
          <td class="govuk-table__cell">Derby;Norfolk;Leicester;Brent</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter</th>
          <td class="govuk-table__cell"><a href="../sprint-7/bulk-upload-fe-subregions-list">Regions and sub regions</a></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="related-content" role="complementary">
      <h2 class="related-content__heading">
        Related content
      </h2>
      <nav role="navigation" class="related-content__content-section" aria-labelledby="related-content">
        <ul class="related-content__link-list">
          <li class="govuk-link related-content__link">
            <a href="bulk-upload-app-how">Peparing your bulk upload file</a>
          </li>
          <li class="govuk-link related-content__link">
            <a href="bulk-upload-app-upload">Upload your file</a>
          </li>
        </ul>
      </nav>

      <h2 class="related-content__heading">
        Download bulk upload files
      </h2>
      <div class="related-content__content-section" aria-labelledby="related-download-links">
        <ul class="related-content__link-list">
          <li class="govuk-link related-content__link">
            <span class="govuk-visually-hidden">Download </span>
            <a href="#">Your published apprenticeship training course information (CSV)</a>
          </li>
          <li class="govuk-link related-content__link">
            <span class="govuk-visually-hidden">Download </span>
            <a href="#">An apprenticeships training course template (CSV)</a>
          </li>
        </ul>
      </div>

    </aside>

  </div>
</div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
