
{% extends "layout.html" %}

{% block pageTitle %}
  Course Directory Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Course Directory Prototype
      </h1>

      <!-- accordian start -->

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


        <!--  -->
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                Sprint 1
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Cookie banner, non-England postcode notification, sorting tables.
      </div>
          </div>
          <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
            <h3 class="govuk-heading-s">Cookies</h3>
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint-1/homescreen-cookies">Homescreen with cookie banner</a></li>
              <li><a class="govuk-link" href="sprint-1/cookie-settings">Cookie settings</a></li>
              <li><a class="govuk-link" href="sprint-1/cookie-details">Cookie details</a></li>
            </ul>

            <h3 class="govuk-heading-s">FE provider course details</h3>
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint-1/course-details-overseen">Course details - overseen</a></li>
              <li><a class="govuk-link" href="sprint-1/course-run-details-overseen">Course run details - overseen</a></li>
            </ul>

            <h3 class="govuk-heading-s">Non-England postcode notification</h3>
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint-1/postcode-notification">Postcode notification</a></li>
            </ul>

            <h3 class="govuk-heading-s">Sorting tables</h3>
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint-1/sorting-tables#in-progress">Sorting tables for QA tabs</a></li>
            </ul>
          </div>
        </div>

        <!--  -->

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
                Sprint 2
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Add and edit FE course details.
      </div>
          </div>
          <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">

            <h3 class="govuk-heading-s">FE provider courses</h3>
            <ul class="govuk-list govuk-list--number">
              <li><a class="govuk-link" href="sprint-2/course-details">Course details</a></li>
              <li><a class="govuk-link" href="sprint-2/course-run-details">Course run details</a></li>
              <li><a class="govuk-link" href="sprint-2/course-check-answers-new">Course check answers</a></li>
              <li><a class="govuk-link" href="sprint-2/course-add-confirmation">Course add confirmation</a></li>
              <li><a class="govuk-link" href="sprint-2/course-edit-screen-new">Course edit screen</a></li>
              <li><a class="govuk-link" href="sprint-2/course-edit-confirmation">Course edit confirmation</a></li>
              <li><a class="govuk-link" href="sprint-2/course-delete-confirmation">Course delete confirmation</a></li>
              <li><a class="govuk-link" href="sprint-2/course-run-details-copy">Course run details copy</a></li>
              <li><a class="govuk-link" href="sprint-2/course-check-answers-copy">Course check answers copy</a></li>
            </ul>

            <h3 class="govuk-heading-s">Archived</h3>
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint-2/course-check-answers">Course check answers</a></li>
              <li><a class="govuk-link" href="sprint-2/course-edit-screen">Course edit screen</a></li>
            </ul>
          </div>
        </div>

        <!--  -->

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
                Sprint 3
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Apprenticeship search result, add and edit FE course details.
      </div>
          </div>
          <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">

            <h3 class="govuk-heading-s">Apprenticeship search result</h3>
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint-3/search-result-apprenticeship">Search result for an apprenticeship</a></li>
            </ul>

            <h3 class="govuk-heading-s">FE provider courses</h3>
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint-3/course-details">Course details</a></li>
              <li><a class="govuk-link" href="sprint-3/course-run-details">Course run details</a></li>
              <li><a class="govuk-link" href="sprint-3/course-check-answers-new">Course check answers</a></li>
              <li><a class="govuk-link" href="sprint-3/course-add-confirmation">Course add confirmation</a></li>
              <li><a class="govuk-link" href="sprint-3/course-edit-screen">Course edit screen</a></li>
              <li><a class="govuk-link" href="sprint-3/course-check-answers-edit">Course check answers edit</a></li>
              <li><a class="govuk-link" href="sprint-3/course-edit-confirmation">Course edit confirmation</a></li>
              <li><a class="govuk-link" href="sprint-3/course-run-details-copy">Course run details copy</a></li>
              <li><a class="govuk-link" href="sprint-3/course-check-answers-copy">Course check answers copy</a></li>
              <li><a class="govuk-link" href="sprint-3/course-delete-are-you-sure">Course delete</a></li>
              <li><a class="govuk-link" href="sprint-3/course-delete-confirmation">Course delete confirmation</a></li>
            </ul>

          </div>
        </div>

        <!--  -->

      </div>

      <!-- accordian end -->

    </div>
  </div>

{% endblock %}
