{% extends "layout.html" %}

{% block pageTitle %}
  Add location edit name
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: 80%;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="#">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}


{% block content %}

<!-- content start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
            Location name
          </label>
        </h1>
        <input class="govuk-input govuk-js-character-count" value="Cheylesmore House">
      </div>
      <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 250 characters remaining</div>
    </div>

    <a href="view-location-edit"><button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Continue
      </button></a>
    <a href="view-location-edit"><button class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Cancel</button></a>

  </div>
</div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
