{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload FE user help
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Fugiat magna cupidatat
      </h1>

      <p class="govuk-body">Veniam irure cillum laboris ad voluptate amet anim adipisicing nisi aute in ea quis dolor.</p>

      <!-- <h2 class="govuk-heading-l">Dos and don'ts</h2>

      <p class="govuk-body">Reprehenderit ullamco commodo qui incididunt eu irure aliquip nisi sunt in incididunt labore nisi:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>anim incididunt commodo officia amet anim et</li>
        <li>minim magna et anim cillum sit ipsum nostrud cupidatat laborum ex</li>
        <li>do cupidatat cupidatat esse quis</li>
        <li>cillum magna irure et id amet et aliquip qui culpa ullamco</li>
      </ul> -->

      <h2 class="govuk-heading-l">Cillum qui velit</h2>

      <h3 class="govuk-heading-m">LARS_QAN</h3>

      <p class="govuk-body">Regulated and non regulated qualifications are listed by LARS (Learning Aims Reference) or QAN (Qualification Accreditation Number) code.</p>

        <p class="govuk-body">Codes can be found at the <a class="govuk-link" href="https://hub.fasst.org.uk/Learning Aims/Pages/default.aspx">Learning Aims Reference Service</a>.</p>

        <p class="govuk-body">Reference codes are 8 digits. Regulated qualifications may be 7 digits with an X. Non regulated qualifications codes must start with Z followed by 7 digits.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">8</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">50079281 or Z9483628</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">WHO_IS_THIS_COURSE_FOR</h3>

      <p class="govuk-body">Information that will help the learner decide whether this course is suitable for them, the learning experience and opportunities they can expect from the course.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">2000</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">ENTRY_REQUIREMENTS</h3>

      <p class="govuk-body">Specific skills, licences, vocational or academic requirements. For example, DBS, driving licence, computer knowledge, literacy or numeracy requirements.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">500</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">WHAT_YOU_WILL_LEARN</h3>

      <p class="govuk-body">The main topics, units or modules of the course a learner can expect, include key features. For example, communication, team leadership and time management.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">500</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">HOW_YOU_WILL_LEARN</h3>

      <p class="govuk-body">The methods used to deliver the course. For example, classroom based exercises, a work environment or online study materials.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">500</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">WHAT_YOU_WILL_NEED_TO_BRING</h3>

      <p class="govuk-body">What the learner will need to access or bring to the course. For example, personal protective clothing, tools, devices or internet access.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">500</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">HOW_YOU_WILL_BE_ASSESSED</h3>

      <p class="govuk-body">The ways a learner will be assessed. For example, workplace assessment, written assignments, exams, group or individual project work or portfolio of evidence.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">500</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">WHERE_NEXT</h3>

      <p class="govuk-body">The further opportunities a learner can expect after successfully completing the course. For example, a higher level course, apprenticeship or entry to employment.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">500</td>
          </tr>
        </tbody>
      </table>

      <!-- <h3 class="govuk-heading-m">ADVANCED_LEARNER_OPTION</h3>

      <p class="govuk-body">Ut laborum sit veniam quis amet eiusmod adipisicing ipsum.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Mandatory</th>
            <th scope="col" class="govuk-table__header app-custom-class">Character limit</th>
            <th scope="col" class="govuk-table__header app-custom-class">Format</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">2000</td>
            <td class="govuk-table__cell">Text</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">ADULT_EDUCATION_BUDGET</h3>

      <p class="govuk-body">Ut laborum sit veniam quis amet eiusmod adipisicing ipsum.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Mandatory</th>
            <th scope="col" class="govuk-table__header app-custom-class">Character limit</th>
            <th scope="col" class="govuk-table__header app-custom-class">Format</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">2000</td>
            <td class="govuk-table__cell">Text</td>
          </tr>
        </tbody>
      </table> -->

      <h3 class="govuk-heading-m">COURSE_NAME</h3>

      <p class="govuk-body">The course name displayed on the National Career Service, <a href="https://nationalcareers.service.gov.uk/find-a-course/search" target="_blank">Find a course</a>.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">255</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">ID</h3>

      <p class="govuk-body">A reference that will help you identify this course in your internal systems. This will not be visible to learners.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">255</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">DELIVERY_MODE</h3>

      <p class="govuk-body">How will the course be delivered. Only one course type can be entered per row.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">20</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Options<br></th>
            <td class="govuk-table__cell">Classroom based<br>Online<br>Work based</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">START_DATE</h3>

      <p class="govuk-body">Enter the date your course starts, if you have multiple start dates for the same course, you will need to enter each course on a new row.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Courses with a specific start date</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">10</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">24/09/2022</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">FLEXIBLE_START_DATE</h3>

      <p class="govuk-body">If your course does not have a flexible start date leave blank.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Courses with a flexible start date</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">10</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">VENUE</h3>

      <p class="govuk-body">You can only enter a venue that you already have in Publish to the course directory.</p>
      <p class="govuk-body">If you have new venue you must <a href="#">enter this in the service</a> before you can complete a bulk upload.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">255</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">Venue Name</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">NATIONAL_DELIVERY</h3>

      <p class="govuk-body">If you can deliver the course anywhere in England you will be shown as a national provider. If your course is not delivered nationally leave blank.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Work based courses that are delivered nationally</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">10</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">REGION</h3>
      <p class="govuk-body">This field must be kept blank.</p>

      <h2 class="govuk-heading-m">SUB_REGION</h2>

      <p class="govuk-body">Info about only including if not a national provider.</p>
      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Work based courses that are not delivered nationally</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">2000</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">Derby;Derbyshire;Leicester</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Options</th>
            <td class="govuk-table__cell"><a href="bulk-upload-fe-subregions-list">List of sub regions</a></td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">URL</h3>

      <p class="govuk-body">The webpage for this course.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">255</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">https://www.provider.com/coursename</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">COST</h3>

      <p class="govuk-body">The cost of the course to the learner.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">20</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Currency</th>
            <td class="govuk-table__cell">GBP</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">1500.00</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">COST_DESCRIPTION</h3>

      <p class="govuk-body">A description of what the cost includes and additional costs to the learner. For example, assessment, exam fees or study materials.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">A cost is incurred by the learner</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">255</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">DURATION</h3>

      <p class="govuk-body">The number of days, weeks, months or years the course runs for.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">3</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">6</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">DURATION_UNIT</h3>

      <p class="govuk-body">Enter days, weeks, months or years.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom, online and work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">9</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Options<br></th>
            <td class="govuk-table__cell">Days<br>Weeks<br>Months<br>Years</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">STUDY_MODE</h3>

      <p class="govuk-body">Ut laborum sit veniam quis amet eiusmod adipisicing ipsum.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">9</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Options<br></th>
            <td class="govuk-table__cell">Full time<br>Part time<br>Flexible</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">ATTENDANCE_PATTERN</h3>

      <p class="govuk-body">Ut laborum sit veniam quis amet eiusmod adipisicing ipsum.</p>

      <table class="govuk-table table-header-width__40">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">17</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Options<br></th>
            <td class="govuk-table__cell">Daytime<br>Evening<br>Weekend<br>Day/Block Release</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Templates
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Download a blank template
              </a>
            </li>
            <li>
              <a href="#">
                Download a template containing your current apprenticeships
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
