{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload FE
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Upload your file
      </h1>

      <div class="govuk-form-group">

        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <a href="bulk-upload-fe-publish"><button class="govuk-button" data-module="govuk-button">
        Continue
      </button></a>

      <!-- <p class="govuk-body">When your bulk upload is complete you will need to fix any issues or publish your courses to Publish to the course directory.</p> -->

      <!-- <h3 class="govuk-heading-m">If you have 801 rows or more in your bulk upload file</h3> -->
      <!-- <h2 class="govuk-heading-s">If your bulk upload file has more than 800 rows</h2> -->

      <p class="govuk-body">If your bulk upload file has more than 800 rows email your file to <a href="mailto:support@coursedirectory.org.uk?subject=Bulk upload">support@coursedirectory.org.uk</a>, for guidance to publish your file to Publish to the course directory.</p>

      <!-- The support desk will upload your file to Publish to the course directory. -->


    </div>
  </div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
