{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload FE
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "bulk-upload-fe-how"
}) }}

{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Upload course information file
      </h1>

      <div class="govuk-form-group">
        <!-- <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label> -->
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Upload file
      </button>

      <h2 class="govuk-heading-m">Your file must be:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>a CSV file</li>
        <li>minim magna et anim  ex</li>
        <li>do cupidatat cupidatat esse quis</li>
        <li>at least 50KB and no more than 10MB</li>
      </ul>



      <!-- <a href="#" class="govuk-link cd-cancel-link" style="font-size:19px;">Cancel</a> -->

    </div>
  </div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
