{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload sub regions list
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Regions and sub regions
    </h1>

    <p class="govuk-body">Use the list to enter the sub regions where you can deliver your courses or apprenticeships.</p>

    <p class="govuk-body">To succesfully complete the sub region field in your bulk upload file you must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>only enter the sub regions shown below</li>
      <li>exclude the region name
      <li>include all sub regions in one field, do not separate for regions</li>
      <li>multiple sub regions must be separated by a semi colon</li>
    </ul>

    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Example:</span> Derby;Norfolk;Leicester;Brent</p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              East Midlands
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul class="govuk-list">
            <li>Derby</li>
            <li>Derbyshire</li>
            <li>Leicester</li>
            <li>Leicestershire</li>
            <li>Lincolnshire</li>
            <li>Northamptonshire</li>
            <li>Nottingham</li>
            <li>Nottinghamshire</li>
            <li>Rutland</li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              East of England
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul class="govuk-list">
            <li>Bedford</li>
            <li>Cambridgeshire</li>
            <li>Central Bedfordshire</li>
            <li>Essex</li>
            <li>Hertfordshire</li>
            <li>Luton</li>
            <li>Norfolk</li>
            <li>Peterborough</li>
            <li>Southend-on-Sea</li>
            <li>Suffolk</li>
            <li>Thurrock</li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              London
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul class="govuk-list">
            <li>Barking and Dagenham</li>
            <li>Barnet</li>
            <li>Bexley</li>
            <li>Brent</li>
            <li>Bromley</li>
            <li>Camden</li>
            <li>City of London</li>
            <li>Croydon</li>
            <li>Ealing</li>
            <li>Enfield</li>
            <li>Greenwich</li>
            <li>Hackney</li>
            <li>Hammersmith and Fulham</li>
            <li>Haringey</li>
            <li>Harrow</li>
            <li>Havering</li>
            <li>Hillingdon</li>
            <li>Hounslow</li>
            <li>Islington</li>
            <li>Kensington and Chelsea</li>
            <li>Kingston upon Thames</li>
            <li>Lambeth</li>
            <li>Lewisham</li>
            <li>Merton</li>
            <li>Newham</li>
            <li>Redbridge</li>
            <li>Richmond upon Thames</li>
            <li>Southwark</li>
            <li>Sutton</li>
            <li>Tower Hamlets</li>
            <li>Waltham Forest</li>
            <li>Wandsworth</li>
            <li>Westminster</li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              North East
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li>County Durham</li>
            <li>Darlington</li>
            <li>Gateshead</li>
            <li>Hartlepool</li>
            <li>Middlesbrough</li>
            <li>Newcastle upon Tyne</li>
            <li>North Tyneside</li>
            <li>Northumberland</li>
            <li>Redcar and Cleveland</li>
            <li>South Tyneside</li>
            <li>Stockton-on-Tees</li>
            <li>Sunderland</li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              North West
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          <ul class="govuk-list">
            <li>Blackburn with Darwen</li>
            <li>Blackpool</li>
            <li>Bolton</li>
            <li>Bury</li>
            <li>Cheshire East</li>
            <li>Cheshire West and Chester</li>
            <li>Cumbria</li>
            <li>Halton</li>
            <li>Knowsley</li>
            <li>Lancashire</li>
            <li>Liverpool</li>
            <li>Manchester</li>
            <li>Oldham</li>
            <li>Rochdale</li>
            <li>Salford</li>
            <li>Sefton</li>
            <li>St Helens</li>
            <li>Stockport</li>
            <li>Tameside</li>
            <li>Trafford</li>
            <li>Warrington</li>
            <li>Wigan</li>
            <li>Wirral</li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              South East
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
          <ul class="govuk-list">
            <li>Bracknell Forest</li>
            <li>Brighton and Hove</li>
            <li>Buckinghamshire</li>
            <li>East Sussex</li>
            <li>Hampshire</li>
            <li>Isle of Wight</li>
            <li>Kent</li>
            <li>Medway</li>
            <li>Milton Keynes</li>
            <li>Oxfordshire</li>
            <li>Portsmouth</li>
            <li>Reading</li>
            <li>Slough</li>
            <li>Southampton</li>
            <li>Surrey</li>
            <li>West Berkshire</li>
            <li>West Sussex</li>
            <li>Windsor and Maidenhead</li>
            <li>Wokingham</li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
              South West
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
          <ul class="govuk-list">
            <li>Bath and North East Somerset</li>
            <li>Bournemouth</li>
            <li>Bristol</li>
            <li>Cornwall</li>
            <li>Devon</li>
            <li>Dorset</li>
            <li>Gloucestershire</li>
            <li>Isles of Scilly</li>
            <li>North Somerset</li>
            <li>Plymouth</li>
            <li>Poole</li>
            <li>Somerset</li>
            <li>South Gloucestershire</li>
            <li>Swindon</li>
            <li>Torbay</li>
            <li>Wiltshire</li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
              West Midlands
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">
          <ul class="govuk-list">
            <li>Birmingham</li>
            <li>Coventry</li>
            <li>Dudley</li>
            <li>Herefordshire</li>
            <li>Sandwell</li>
            <li>Shropshire</li>
            <li>Solihull</li>
            <li>Staffordshire</li>
            <li>Stoke-on-Trent</li>
            <li>Telford and Wrekin</li>
            <li>Walsall</li>
            <li>Warwickshire</li>
            <li>Wolverhampton</li>
            <li>Worcestershire</li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
              Yorkshire and The Humber
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-9" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">
          <ul class="govuk-list">
            <li>Barnsley</li>
            <li>Bradford</li>
            <li>Calderdale</li>
            <li>Doncaster</li>
            <li>East Riding of Yorkshire</li>
            <li>Kingston upon Hull</li>
            <li>Kirklees</li>
            <li>Leeds</li>
            <li>North East Lincolnshire</li>
            <li>North Lincolnshire</li>
            <li>North Yorkshire</li>
            <li>Rotherham</li>
            <li>Sheffield</li>
            <li>Wakefield</li>
            <li>York</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- accordion end -->

    <!-- list start -->

    <!-- <h2 class="govuk-heading-m">East Midlands</h2>

    <ul class="govuk-list">
      <li>Derby</li>
      <li>Derbyshire</li>
      <li>Leicester</li>
      <li>Leicestershire</li>
      <li>Lincolnshire</li>
      <li>Northamptonshire</li>
      <li>Nottingham</li>
      <li>Nottinghamshire</li>
      <li>Rutland</li>
    </ul>

    <h2 class="govuk-heading-m">East of England</h2>
    <ul class="govuk-list">
      <li>Bedford</li>
      <li>Cambridgeshire</li>
      <li>Central Bedfordshire</li>
      <li>Essex</li>
      <li>Hertfordshire</li>
      <li>Luton</li>
      <li>Norfolk</li>
      <li>Peterborough</li>
      <li>Southend-on-Sea</li>
      <li>Suffolk</li>
      <li>Thurrock</li>
    </ul>

    <h2 class="govuk-heading-m">London</h2>
    <ul class="govuk-list">
      <li>Barking and Dagenham</li>
      <li>Barnet</li>
      <li>Bexley</li>
      <li>Brent</li>
      <li>Bromley</li>
      <li>Camden</li>
      <li>City of London</li>
      <li>Croydon</li>
      <li>Ealing</li>
      <li>Enfield</li>
      <li>Greenwich</li>
      <li>Hackney</li>
      <li>Hammersmith and Fulham</li>
      <li>Haringey</li>
      <li>Harrow</li>
      <li>Havering</li>
      <li>Hillingdon</li>
      <li>Hounslow</li>
      <li>Islington</li>
      <li>Kensington and Chelsea</li>
      <li>Kingston upon Thames</li>
      <li>Lambeth</li>
      <li>Lewisham</li>
      <li>Merton</li>
      <li>Newham</li>
      <li>Redbridge</li>
      <li>Richmond upon Thames</li>
      <li>Southwark</li>
      <li>Sutton</li>
      <li>Tower Hamlets</li>
      <li>Waltham Forest</li>
      <li>Wandsworth</li>
      <li>Westminster</li>
    </ul>

    <h2 class="govuk-heading-m">North East</h2>
    <ul class="govuk-list">
      <li>County Durham</li>
      <li>Darlington</li>
      <li>Gateshead</li>
      <li>Hartlepool</li>
      <li>Middlesbrough</li>
      <li>Newcastle upon Tyne</li>
      <li>North Tyneside</li>
      <li>Northumberland</li>
      <li>Redcar and Cleveland</li>
      <li>South Tyneside</li>
      <li>Stockton-on-Tees</li>
      <li>Sunderland</li>
    </ul>

    <h2 class="govuk-heading-m">North West</h2>
    <ul class="govuk-list">
      <li>Blackburn with Darwen</li>
      <li>Blackpool</li>
      <li>Bolton</li>
      <li>Bury</li>
      <li>Cheshire East</li>
      <li>Cheshire West and Chester</li>
      <li>Cumbria</li>
      <li>Halton</li>
      <li>Knowsley</li>
      <li>Lancashire</li>
      <li>Liverpool</li>
      <li>Manchester</li>
      <li>Oldham</li>
      <li>Rochdale</li>
      <li>Salford</li>
      <li>Sefton</li>
      <li>St Helens</li>
      <li>Stockport</li>
      <li>Tameside</li>
      <li>Trafford</li>
      <li>Warrington</li>
      <li>Wigan</li>
      <li>Wirral</li>
    </ul>

    <h2 class="govuk-heading-m">South East</h2>
    <ul class="govuk-list">
      <li>Bracknell Forest</li>
      <li>Brighton and Hove</li>
      <li>Buckinghamshire</li>
      <li>East Sussex</li>
      <li>Hampshire</li>
      <li>Isle of Wight</li>
      <li>Kent</li>
      <li>Medway</li>
      <li>Milton Keynes</li>
      <li>Oxfordshire</li>
      <li>Portsmouth</li>
      <li>Reading</li>
      <li>Slough</li>
      <li>Southampton</li>
      <li>Surrey</li>
      <li>West Berkshire</li>
      <li>West Sussex</li>
      <li>Windsor and Maidenhead</li>
      <li>Wokingham</li>
    </ul>

    <h2 class="govuk-heading-m">South West</h2>
    <ul class="govuk-list">
      <li>Bath and North East Somerset</li>
      <li>Bournemouth</li>
      <li>Bristol</li>
      <li>Cornwall</li>
      <li>Devon</li>
      <li>Dorset</li>
      <li>Gloucestershire</li>
      <li>Isles of Scilly</li>
      <li>North Somerset</li>
      <li>Plymouth</li>
      <li>Poole</li>
      <li>Somerset</li>
      <li>South Gloucestershire</li>
      <li>Swindon</li>
      <li>Torbay</li>
      <li>Wiltshire</li>
    </ul>

    <h2 class="govuk-heading-m">West Midlands</h2>
    <ul class="govuk-list">
      <li>Birmingham</li>
      <li>Coventry</li>
      <li>Dudley</li>
      <li>Herefordshire</li>
      <li>Sandwell</li>
      <li>Shropshire</li>
      <li>Solihull</li>
      <li>Staffordshire</li>
      <li>Stoke-on-Trent</li>
      <li>Telford and Wrekin</li>
      <li>Walsall</li>
      <li>Warwickshire</li>
      <li>Wolverhampton</li>
      <li>Worcestershire</li>
    </ul>

    <h2 class="govuk-heading-m">Yorkshire and The Humber</h2>
    <ul class="govuk-list">
      <li>Barnsley</li>
      <li>Bradford</li>
      <li>Calderdale</li>
      <li>Doncaster</li>
      <li>East Riding of Yorkshire</li>
      <li>Kingston upon Hull</li>
      <li>Kirklees</li>
      <li>Leeds</li>
      <li>North East Lincolnshire</li>
      <li>North Lincolnshire</li>
      <li>North Yorkshire</li>
      <li>Rotherham</li>
      <li>Sheffield</li>
      <li>Wakefield</li>
      <li>York</li>
    </ul> -->

  </div>
</div>

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
