{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload FE user help
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Bulk upload user help example
      </h1>



      <h2 class="govuk-heading-m">STUDY_MODE</h2>

      <p class="govuk-body">Ut laborum sit veniam quis amet eiusmod adipisicing ipsum.</p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Classroom based or work based courses</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Character limit</th>
            <td class="govuk-table__cell">9</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Format</th>
            <td class="govuk-table__cell">Text</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">24/09/2022</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Options<br></th>
            <td class="govuk-table__cell">Full time<br>Part time<br>Flexible</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">SUB_REGION</h2>

      <p class="govuk-body">Info about only including if not a national provider.</p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">When to complete</th>
            <td class="govuk-table__cell">Work based courses that are not delivered nationally</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mandatory</th>
            <td class="govuk-table__cell">Yes</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Example</th>
            <td class="govuk-table__cell">Derby;Derbyshire;Leicester</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Options</th>
            <td class="govuk-table__cell"><a href="bulk-upload-fe-subregions-list">List of sub regions</a></td>
          </tr>
        </tbody>
      </table>

      <!-- <h3 class="govuk-heading-m">Sub region options</h3>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          East Midlands
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>Derby<br>
      Derbyshire<br>
      Leicester<br>
      Leicestershire<br>
      Lincolnshire<br>
      Northamptonshire<br>
      Nottingham<br>
      Nottinghamshire<br>
      Rutland<br><br></p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          East of England
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>Bedford<br>
      Cambridgeshire<br>
      Central Bedfordshire<br>
      Essex<br>
      Hertfordshire<br>
      Luton<br>
      Norfolk<br>
      Peterborough<br>
      Southend-on-Sea<br>
      Suffolk<br>
      Thurrock</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          London
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>This is the content for Know your audience.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          North West
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>This is the content for How people read.</p>
    </div>
  </div>
</div> -->


    </div>
  </div>


  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
