{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload FE formatting table
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: auto;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="helpdesk-dashboard.html">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="search-providers.html">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}



{% block content %}

<!-- Enter page content inside this block -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Bulk upload formatting table example
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Duis eiusmod commodo reprehenderit sit qui labore cupidatat eu cupidatat tempor tempor sit ut dolore enim est.</p>

    <h2 class="govuk-heading-m">STUDY_MODE</h2>

    <p class="govuk-body">Ut laborum sit veniam quis amet eiusmod adipisicing ipsum.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">Classroom based or work based courses.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Character limit</th>
          <td class="govuk-table__cell">9</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Format</th>
          <td class="govuk-table__cell">Text</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Example</th>
          <td class="govuk-table__cell">24/09/2022</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter<br><br>Select one option</th>
          <td class="govuk-table__cell">Full time<br>Part time<br>Flexible</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">Ex ea occaecat tempor sint adipisicing eiusmod sit tempor cupidatat occaecat quis.</td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">SUB_REGION</h2>

    <p class="govuk-body">Info about only including if not a national provider.</p>

    <table class="govuk-table table-header-width__40">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">When to complete</th>
          <td class="govuk-table__cell">Work based courses that are not delivered nationally.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mandatory</th>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Character limit</th>
          <td class="govuk-table__cell">9</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Example</th>
          <td class="govuk-table__cell">Derby;Derbyshire;Leicester</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">What to enter</th>
          <td class="govuk-table__cell"><a href="bulk-upload-fe-subregions-list">Regions and sub regions</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Notes<br></th>
          <td class="govuk-table__cell">Ex ea occaecat tempor sint adipisicing eiusmod sit tempor cupidatat occaecat quis.</td>
        </tr>
      </tbody>
    </table>

  </div>

  <!-- aside -->

  <div class="govuk-grid-column-one-third">

    <aside class="related-content" role="complementary">
      <h2 class="related-content__heading">
        Related content
      </h2>
      <nav role="navigation" class="related-content__content-section" aria-labelledby="related-content">
        <ul class="related-content__link-list">
          <li class="govuk-link related-content__link">
            <a href="bulk-upload-fe-how">Peparing your bulk upload file</a>
          </li>
          <li class="govuk-link related-content__link">
            <a href="bulk-upload-fe-upload">Upload your file</a>
          </li>
        </ul>
      </nav>

      <h2 class="related-content__heading">
        Download bulk upload files
      </h2>
      <div class="related-content__content-section" aria-labelledby="related-download-links">
        <ul class="related-content__link-list">
          <li class="govuk-link related-content__link">
            <span class="govuk-visually-hidden">Download </span>
            <a href="#">Your published course information (CSV)</a>
          </li>
          <li class="govuk-link related-content__link">
            <span class="govuk-visually-hidden">Download </span>
            <a href="#">A course information template (CSV)</a>
          </li>
        </ul>
      </div>

    </aside>

  </div>

  <!-- aside end -->
</div>

  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
