{% extends "layout.html" %}

{% block pageTitle %}
  View locations
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content" style="width: 80%;">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Publish to the course directory
      </a>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              My courses
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="#">
              My locations
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Bulk upload
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__signin">
      <a class="header__link govuk-header__link" href="#">Sign out</a>
    </div>
  </div>
</header>
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}


{% block content %}

<!-- content start -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Your locations</h1>


    <a href="#">
      <button class="govuk-button govuk-!-margin-bottom-9" data-module="govuk-button">
        Add new location
      </button>
    </a>
    <a href="#" class="govuk-link cd-cancel-link" style="font-size:19px;">Cancel</a>

    <!--  -->

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Location</th>
          <th class="govuk-table__header" scope="col">Address</th>
          <th class="govuk-table__header" scope="col">Postcode</th>
          <th class="govuk-table__header" scope="col">Phone</th>
          <th class="govuk-table__header" scope="col">Website</th>
          <th class="govuk-table__header" scope="col"></th>
          <th class="govuk-table__header" scope="col"></th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Cheylesmore House
          </td>
          <td class="govuk-table__cell">
            Cheylesmore House<br>
            5 QUINTON ROAD<br>
            COVENTRY<br>
            WEST MIDLANDS</td>
          <td class="govuk-table__cell">
            CV1 2WT </td>
            <td class="govuk-table__cell">
              01957 473957 </td>
              <td class="govuk-table__cell">
                www.cheylesmorehouse.com </td>
          <td class="govuk-table__cell">
            <a style="padding-right: 1em" class="govuk-link edit-venue-link" href="view-location-edit">
              Edit
              <span class="govuk-visually-hidden">Blackfield1</span>
            </a>
          </td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link delete" style="padding-right: 1em">
              Delete
              <span class="govuk-visually-hidden">Blackfield1</span>
            </a>
          </td>
          <td>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Blackfield1
          </td>
          <td class="govuk-table__cell">
            Blackfield School <br>
            SOUTHAMPTON <br>
            HAMPSHIRE AND ISLE OF WIGHT </td>
          <td class="govuk-table__cell">
            SO45 1DZ </td>
            <td class="govuk-table__cell">
              01234 555677 </td>
              <td class="govuk-table__cell">
                www.blackfieldlearning.com </td>
          <td class="govuk-table__cell">
            <a style="padding-right: 1em" class="govuk-link edit-venue-link" href="#">
              Edit
              <span class="govuk-visually-hidden">Blackfield1</span>
            </a>
          </td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link delete" style="padding-right: 1em">
              Delete
              <span class="govuk-visually-hidden">Blackfield1</span>
            </a>
          </td>
          <td>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Hanger Farm Arts Centre
          </td>
          <td class="govuk-table__cell">
            Aikman Lane <br>
            Totton <br>
            SOUTHAMPTON <br>
            HAMPSHIRE AND ISLE OF WIGHT </td>
          <td class="govuk-table__cell">
            SO40 8FT </td>

            <td class="govuk-table__cell">
              01897 995643 </td>
              <td class="govuk-table__cell">
                www.hangerfarm.com </td>
          <td class="govuk-table__cell">
            <a style="padding-right: 1em" class="govuk-link edit-venue-link" href="#">
              Edit
              <span class="govuk-visually-hidden">Hanger Farm Arts Centre</span>
            </a>
          </td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link delete" style="padding-right: 1em">
              Delete
              <span class="govuk-visually-hidden">Hanger Farm Arts Centre</span>
            </a>
          </td>
          <td>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Hounsdown School
          </td>
          <td class="govuk-table__cell">
            Jacobs Gutter Lane <br>
            SOUTHAMPTON <br>
            HAMPSHIRE AND ISLE OF WIGHT </td>
          <td class="govuk-table__cell">
            SO40 9FT </td>

            <td class="govuk-table__cell">
              01783 893644 </td>
              <td class="govuk-table__cell">
                www.hounsdownschool.org </td>
          <td class="govuk-table__cell">
            <a style="padding-right: 1em" class="govuk-link edit-venue-link" href="#">
              Edit
              <span class="govuk-visually-hidden">Hounsdown School</span>
            </a>
          </td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link delete" style="padding-right: 1em">
              Delete
              <span class="govuk-visually-hidden">Hounsdown School</span>
            </a>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>


    <!--  -->

    <a href="#">
      <button class="govuk-button govuk-!-margin-bottom-9" data-module="govuk-button">
        Add new location
      </button>
    </a>
    <a href="#" class="govuk-link cd-cancel-link" style="font-size:19px;">Cancel</a>


  </div>
</div>
  <!-- End of content -->
{% endblock %}

<!-- DO NOT enter page content after the above block -->
